$black: #000000;
$white: #ffffff;
$red: #ff0000;
$green: #008000;
$yellow: #ffff00;
$pink: #ffc0cb;
$blue: #0000ff;
$purple: #cc8899;
$brown: #a52a2a;
$grey: #e7e7e7;

$primary_color: #d50a27;
$secondary_color: #000;

// Social Icons Color
$facebook: #284386;
$twitter: #1da1f2;
$linkedin: #0077b5;
$google-plus: #db4437;
$youtube: #fa362c;
$skype: #02b4eb;
$pinterest: #bd0d21;
$instagram: #e1376f;

// Rating Star Color
$rating_color: #ff8d07;

//project Specific - Hope
$lavender: #ccccff;
$light-lav: #ebebff;
$extra-light-lav: #f5f5ff;
$err-bg: #f1e1cc;
$input-serach: #dbdbff;
$border-light: #f1f1f1;
$border-dark: #999999;
$dark-text-prim: #111111;
$dark-text-secon: #444444;
$dark-green: #95cd41;
$dar-green: #44cc1a;
$dull-text: #757575;
$extra-dull: #d7d1d1;
$pink: #eb6383;
$circle: #ea7a95;
$dark-blue: #6886c5;
$light-green: #a7e9af;
$list-style: #9c9c9c;
$form-input-bg: #f1f1f1;
$dlter: #f2f2f2;
$dgr-red: #ed1c24;
$transparent-clr: #ffffff57;
$box-shadow: 3.536px 3.536px 35px 0px rgba(48, 28, 65, 0.1);
$read: #f9f3eb;
$cancel: #1876f2;
$lavender-2: #a5a5f5;

