.friends_requestes {
    padding-bottom: 0px;
    &.el {
        background-color: $white;
        border-radius: 14px;
        margin-bottom: 20px;
        .request_hed {
            .new_reqst {
                float: unset;
                p {
                    font-size: 18px;
                    font-weight: 600;
                    color: $black;
                }
            }
            .tabed {
                padding-top: 23px;
                ul {
                    border: none;
                    li {
                        display: inline-block;
                        margin-right: 15px;
                        background-color: transparent;
                        padding: 0;
                        text-align: center;
                        &:last-child {
                            margin-right: 0;
                        }
                        &.active {
                            background-color: $lavender;
                        }
                        button{
                            padding: 10px 23px;
                            border-radius: 12px;
                            width: 100%;
                            border: 2px solid $lavender;
                        }
                        .nav-link{
                            color: $black;
                            position: relative;
                            &.active{
                                background-color: $lavender;
                                color: $black;
                            }
                            
                        }
                        .notify-dot{
                            &::after{
                                position: absolute;
                                content: "";
                                background-color: #eb6383;
                                width: 9px;
                                height: 9px;
                                border-radius: 50%;
                                top: 0px;
                                margin-top: 7px;
                                right: 0px;
                                margin-right: 17px;
                            }
                        }
                    }
                }
            }
        }
    }
    .request_hed {
        @include clearfix();
        padding: 0 20px;
        padding-top: 5px;
        padding-bottom: 10px;
        .new_reqst {
            float: left !important;
            p {
                font-size: 16px;
                color: $dull-text;
            }
        }
        .sell_all {
            float: right;
            a {
                p {
                    color: $dar-green;
                }
            }
        }
    }
    .notifications {
        .show_notification {
            max-height: 450px;
            min-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 4px;
                border-radius: 10px;
                background-color: $border-light;
            }
            &::-webkit-scrollbar-track {
                border-radius: 4px;
            }
            &::-webkit-scrollbar-thumb {
                background: $lavender;
                border-radius: 4px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: $primary_color;
            }
            &.shower {
                max-height: 610px;
            }
            .notifi_list {
                padding: 16px 20px;
                @include clearfix();
                &.read {
                    background-color: $read;
                    .named {
                        .lke_cmt {
                            @include clearfix();
                            .left {
                                p {
                                    color: $black;
                                }
                            }
                        }
                    }
                }
                .img_area {
                    width: 60px;
                    float: left;
                    .img_box {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .named {
                    width: calc(100% - 60px);
                    float: left;
                    padding-left: 10px;
                    padding-top: 5px;
                    p {
                        color: $black;
                        font-size: 14px;
                        text-transform: capitalize;
                    }
                    .lke_cmt {
                        padding-top: 8px; @include clearfix();
                        .left {
                            float: left;
                            p {
                                color: $dull-text;
                            }
                            ul{
                                li{
                                    padding: 0;
                                    border: none;
                                    display: inline-block;
                                    .lav_bg{
                                        padding: 9px 15px;
                                        font-size: 14px;
                                        border-radius: 13px;
                                        border: 2px solid #ccccff;
                                        display: block;
                                    }
                                    .btn_prim-1{
                                        &.lav_bg {
                                           border-color:  #f2f2f2;
                                           background-color: transparent;
                                        }
                                    }
                                }
                            }
                        }
                        .righst {
                            float: right;
                            p {
                                color: $dull-text;
                            }
                        }
                    }
                }
            }
        }
    }
    &.page{
        .request_hed{
             .sell_all {
                display: none;
             }
        }
        .notifications {
            .show_notification {
                max-height: 100%;
            }
        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

@media (min-width: 1200px) and (max-width: 1399px) {

}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .friends_requestes {
        padding-bottom: 15px;
        .notifications {
            .show_notification {
                &.shower {
                    max-height: 442px;
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .friends_requestes {
        padding-bottom: 15px;
        .notifications {
            .show_notification {
                max-height: 300px;
                min-height: 240px;
                &.shower {
                    max-height: 340px;
                    min-height: 240px;
                }
                .notifi_list {
                    padding: 9px 15px;
                    .img_area{
                        width: 40px;
                        .img_box{
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .named{
                        width: calc(100% - 40px);
                        .lke_cmt{
                            display: flex;
                            align-items: flex-end;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }
        &.el{
            margin-bottom: 0;
            padding-bottom: 4px;
            .request_hed{
                padding: 0 10px;
                padding-top: 5px;
                padding-bottom: 10px;
                 .tabed{
                     ul{
                         li{
                            width: 48.9%;
                            text-align: center;
                            margin-right: 6px;
                            button{
                                text-align: center;
                                margin: 0 auto;
                            }
                         }
                     }
                }
                .new_reqst{
                     p{
                        font-size: 16px;
                     }
                }
            }
        }
        &.page{
            margin-bottom: 20px;
            .notifications {
                .show_notification {
                    max-height: 100%;
                    min-height: 240px;
                    .notifi_list{
                        padding: 9px 7px;
                    }
                }
            }
            .request_hed{
                .tabed{
                    ul{
                        li{
                            .notify-dot{
                                &::after{
                                    margin-right: 34px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .friends_requestes {
        padding-bottom: 15px;
        .notifications {
            .show_notification {
                max-height: 300px;
                min-height: 240px;
                &.shower {
                    max-height: 100%;
                    min-height: 240px;
                }
                .notifi_list {
                    padding: 9px 15px;
                    .img_area{
                        width: 40px;
                        .img_box{
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .named{
                        width: calc(100% - 40px);
                        .lke_cmt{
                            display: flex;
                            align-items: flex-end;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }
        &.el{
            margin-bottom: 0;
            padding-bottom: 4px;
            .request_hed{
                padding: 0 10px;
                padding-top: 5px;
                padding-bottom: 10px;
                 .tabed{
                     ul{
                         li{
                            width: 47.9%;
                            text-align: center;
                            margin-right: 6px;
                            button{
                                text-align: center;
                                margin: 0 auto;
                            }
                         }
                     }
                }
                .new_reqst{
                     p{
                        font-size: 16px;
                     }
                }
            }
        }
        &.page{
            margin-bottom: 20px;
            .notifications {
                .show_notification {
                    max-height: 100%;
                    min-height: 240px;
                    .notifi_list{
                        padding: 9px 7px;
                    }
                }
            }
            .request_hed{
                .tabed{
                    ul{
                        li{
                            .notify-dot{
                                &::after{
                                    margin-right: 34px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
}
