@import "../../base/base.scss";
@import "../../base/mixins.scss";

.User_seaction {
    padding-bottom: 30px;
    .cover_area {
        .cover_img {
            border-radius: 20px;
            position: relative;
            width: 100%;
            height: 215px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
            span {
                border-radius: 20px;
                display: inline-block;
            }
            .icon {
                position: absolute;
                bottom: 20px;
                right: 20px;
                cursor: pointer;
                i {
                    &.del {
                        line-height: 1;
                        padding: 26%;
                    }
                    background-color: $white;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    display: block;
                    float: left;
                }
                .left{
                    width: 30px;
                    float: left;
                }
                .right{
                    width: calc(100% - 30px);
                    float: left;
                    padding-left: 5px;
                    padding-top: 5px;
                }
                .dropdown-menu{
                    padding: 0px 0;
                    border: none;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    overflow: hidden;
                    .dropdown-item{
                        @include clearfix();
                        padding-left: 10px;
                        &:hover{
                            background-color: rgba($color: $lavender, $alpha: 0.5);
                        }
                    }
                }
            }
        }
    }
    .user_area {
        text-align: center;
        margin: 0 auto;
        margin-top: -75px !important;
        .user-img {
            position: relative;
            width: 120px;
            height: 120px;
            margin: 0 auto;
            .spinner {
                text-align: center;
                display: flex;
                position: absolute;
                top: 48%;
                color: $pink;
                left: 48%;
                font-size: 24px;
            }
            img {
                width: 140px;
                height: 140px;
                overflow: hidden;
                border-radius: 50%;
                object-fit: cover;
            }
            .icon {
                position: absolute;
                bottom: -21px;
                right: -5px;
                cursor: pointer;
                i {
                    &.del {
                        line-height: 1;
                        padding: 26%;
                    }
                    background-color: $white;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    display: block;
                }
                .left{
                    width: 30px;
                    float: left;
                }
                .right{
                    width: calc(100% - 30px);
                    float: left;
                    padding-left: 5px;
                    padding-top: 5px;
                }
                .dropdown-menu{
                    padding: 0px 0;
                    border: none;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    overflow: hidden;
                    .dropdown-item{
                        @include clearfix();
                        padding-left: 10px;
                        &:hover{
                            background-color: rgba($color: $lavender, $alpha: 0.5);
                        }
                    }
                }
            }
        }
        .user_detail {
            margin-top: 35px;
            position: relative;
            h4 {
                font-size: 24px;
            }
            p {
                font-size: 14px;
                padding-top: 10px !important ;
                padding: 0 190px;
                color: $dull-text;
                font-weight: 400;
                position: relative;
                cursor: pointer;
            }
            a {
                position: absolute;
                right: 160px;
                top: 76px;
            }
            .inputer {
                padding: 0 200px;
                .textarea {
                    border: none;
                    border-radius: 10px;
                    &.form-control {
                        border: none;
                        border-radius: 10px;
                    }
                }
                .form-control {
                    border: none;
                    border-radius: 10px;
                }
                .btnss {
                    button {
                    }
                    .save {
                        background-color: $lavender;
                        padding: 10px 0px;
                        border: 2px solid $lavender;
                        border-radius: 8px;
                        margin-right: 10px;
                        text-align: center;
                        font-size: 14px;
                        width: 100px;
                    }
                    .cancel {
                        border: 2px solid $extra-dull;
                        padding: 10px 0px;
                        border-radius: 8px;
                        text-align: center;
                        font-size: 14px;
                        width: 100px;
                    }
                }
            }
            .bio {
                position: relative;
                word-break: break-all;
                .pin {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    padding-right: 155px;
                }
            }
        }
    }
    .tabs {
        padding-top: 38px;
        ul {
            border-top: 1px solid $border-dark;
            border-bottom: 1px solid $border-dark;
            li {
                color: $black;
                width: 25%;
                display: inline-block;

                text-align: center;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 4px;
                    background-color: transparent;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    @include transition(0.3s ease);
                }
                &.active {
                    background-color: transparent;
                    border: none;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 4px;
                        background-color: $pink;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        @include transition(0.3s ease);
                    }
                    a {
                        font-weight: 900;
                    }
                }
                &:hover {
                    background-color: transparent;
                    border: none;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 4px;
                        background-color: $pink;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        @include transition(0.3s ease);
                    }
                    a {
                        font-weight: 900;
                    }
                }
                a {
                    width: 100%;
                    display: block;
                    height: 100%;
                    padding: 23px 0;
                }
            }
        }
    }
    .profile_under {
        padding-top: 40px;
        .content {
            .loading {
                text-align: center;
                width: 100%;
                color: $pink;
            }
        }
    }
}

.publicprofilebio {
    padding: 20px 100px;
    padding-bottom: 50px;
    h4 {
        font-size: 24px;
        display: inline-block;
        padding-bottom: 10px;
    }
    p {
        word-break: break-all;
    }
    .chat-bt {
        padding-top: 20px;
        .fa-spin {
            margin-right: rem(2);
            color: $primary_color;
        }
        .dropdown {
            display: inline-block;
            .btn {
                padding: 0;
                padding: 0;
                color: #eb6383;
                font-size: 27px;
                vertical-align: middle;
            }

            .btn-primary {
                background-color: transparent;
            }

            .dropdown-toggle {
                &::after {
                    content: none;
                }

                &:focus {
                    box-shadow: none;
                }
            }

            .dropdown-menu {
                box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
                border: none;
                border-radius: 6px;
                padding: 20px 5px;
                overflow: hidden;
                z-index: 99;

                a {
                    &.red {
                        color: $youtube;
                    }
                }

                .dropdown-item {
                    font-size: 15px;
                    margin-bottom: 10px;
                    color: $black;
                    font-weight: 600;
                    border-radius: 5px;
                    min-width: 181px;

                    &:hover {
                        background-color: rgba($color: $lavender, $alpha: 0.6);
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    i {
                        font-size: 14px;
                        padding-right: 5px;
                        padding-right: 10px;
                        color: $black;

                        &.bin {
                            font-size: 16px;
                        }

                        &.red {
                            color: $youtube;
                        }
                    }
                }
            }
        }
        .chat {
            padding: 10px 0px;
            border: 2px solid $lavender;
            border-radius: 8px;
            margin-right: 10px;
            text-align: center;
            font-size: 14px;
            width: 100px;
            &.disabled {
                background-color: rgba($color: $lavender, $alpha: 0.5);
            }
            &.block {
                border-color: $red;
                color: $red;
                @include transition(0.3s ease);
                &:hover {
                    background-color: rgba($color: $red, $alpha: 0.7);
                    border-color: rgba($color: $red, $alpha: 0.7);
                    color: $white;
                    @include transition(0.3s ease);
                }
            }
        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .User_seaction {
        .user_area {
            .user_detail {
                p {
                    padding: 0 48px;
                }
                a {
                    right: 24px;
                }
                .inputer {
                    padding: 0 70px;
                }
                .bio {
                    .pin {
                        padding-right: 15px;
                    }
                }
            }
            .user-img{
                .icon{
                    .dropdown-menu{
                        left: unset;
                        right: -9px;
                    }
                }
            }
        }
        .cover_area{
            .cover_img{
                .icon{
                    .dropdown-menu{
                        left: unset;
                        right: -9px;
                    }
                }
            }
        }
    }
    .publicprofilebio {
        padding: 20px 50px;
        padding-bottom: 40px;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .User_seaction {
        padding-bottom: 0px;
        .cover_area {
            .cover_img {
                height: 126px;
                img {
                    height: 100%;
                }
                .icon {
                    bottom: 7px;
                    right: 12px;
                    .dropdown-menu{
                        left: unset;
                        right: -9px;
                    }
                }
            }
        }
        .user_area {
            .user-img {
                .spinner {
                    top: 30%;
                    left: 40%;
                }
                img {
                    width: 90px;
                    height: 90px;
                }
                .icon {
                    right: 9px;
                    bottom: 32px;
                    i {
                        width: 24px;
                        height: 24px;
                        font-size: 12px;
                        line-height: 24px;
                    }
                    .dropdown-menu{
                        left: unset;
                        right: -9px;
                    }
                }
            }
            .user_detail {
                margin-top: -6px;
                p {
                    padding: 0 48px;
                }
                a {
                    right: 24px;
                }
                .inputer {
                    padding: 0 40px;
                }
                .bio {
                    .pin {
                        padding-right: 15px;
                    }
                }
            }
        }
    }
    .publicprofilebio {
        padding: 20px 20px;
        padding-bottom: 40px;
        padding-top: 0;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .User_seaction {
        padding: 0;
        .cover_area {
            .cover_img {
                height: 126px;
                img {
                    height: 100%;
                }
                .icon {
                    bottom: 7px;
                    right: 12px;
                    .dropdown-menu{
                        left: unset;
                        right: -9px;
                    }
                }
            }
        }
        .user_area {
            .user-img {
                .spinner {
                    top: 30%;
                    left: 40%;
                }
                img {
                    width: 90px;
                    height: 90px;
                }
                .icon {
                    right: 9px;
                    bottom: 32px;
                    i {
                        width: 24px;
                        height: 24px;
                        font-size: 12px;
                        line-height: 24px;
                    }
                    .dropdown-menu{
                        left: unset;
                        right: -9px;
                    }
                }
            }
            .user_detail {
                padding-top: 0;
                margin-top: -10px;
                h4 {
                    font-size: 20px;
                }
                p {
                    padding: 0 40px;
                }
                a {
                    right: 24px;
                }
                .inputer {
                    padding: 0 20px;
                }
                .bio {
                    .pin {
                        padding-right: 0px;
                    }
                }
            }
        }
    }
    .publicprofilebio {
        padding: 20px 10px;
        padding-bottom: 20px;
        padding-top: 0;
    }
    .community_main_area{
        &.fixed-header{
            .community_head{
                top: 75px;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .User_seaction {
        padding: 0;
        .cover_area {
            .cover_img {
                height: 126px;
                img {
                    height: 100%;
                }
                .icon {
                    bottom: 7px;
                    right: 12px;
                    .dropdown-menu{
                        left: unset;
                        right: -9px;
                    }
                }
            }
        }
        .user_area {
            .user-img {
                .spinner {
                    top: 30%;
                    left: 40%;
                }
                img {
                    width: 90px;
                    height: 90px;
                }
                .icon {
                    right: 9px;
                    bottom: 32px;
                    i {
                        width: 24px;
                        height: 24px;
                        font-size: 12px;
                        line-height: 24px;
                    }
                    .dropdown-menu{
                        left: unset;
                        right: -9px;
                    }
                }
            }
            .user_detail {
                padding-top: 0;
                margin-top: -10px;
                h4 {
                    font-size: 20px;
                }
                p {
                    padding: 0 40px;
                }
                a {
                    right: 24px;
                }
                .inputer {
                    padding: 0 20px;
                }
                .bio {
                    .pin {
                        padding-right: 0px;
                    }
                }
            }
        }
    }
    .publicprofilebio {
        padding: 20px 10px;
        padding-bottom: 20px;
        padding-top: 0;
    }
    .community_main_area{
        &.fixed-header{
            .community_head{
                top: 73px;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
}
