@import "../../base/variable.scss";
@import "../../base/mixins.scss";

.mains_section {
    .float_img {
        position: absolute;
        top: 0%;
        right: 15%;
        &_1 {
            top: 129%;
            left: -6%;
            transform: scaleX(-1);
        }
    }
    .mains_area {
        text-align: center;
        .content {
            padding: 0 22.4%;
            .sub_section {
                padding: rem(20) 0;
                .imgwrap {
                    margin: rem(28) 0;
                    position: relative;
                    img {
                        //width: rem(173);
                    }
                }

                p {
                    color: $dull-text;
                }
                .head {
                    position: relative;
                    img {
                        position: absolute;
                        z-index: -1;
                    }
                    &_one {
                        img {
                            bottom: 50%;
                            left: -16%;
                        }
                    }
                    &_two {
                        img {
                            bottom: 55%;
                            right: -13%;
                        }
                    }
                }
            }
        }
        .main_img {
            padding-top: rem(99);
        }
    }

    //standards
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 8px;
        padding: 0;
        color: $dark-text-prim;
    }

    h3,
    h4,
    h5,
    h6 {
        font-family: "Nunito", sans-serif;
    }

    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 22px;
    }
    h5 {
        font-size: 20px;
    }
    h6 {
        font-size: 18px;
    }
    p {
        margin-bottom: 16px;
        font-size: 14px;
    }
    ol,
    ul {
        margin-bottom: 12px;
        margin-left: 16px;
        li {
            line-height: 1.8;
        }
    }
    ul {
        li {
            position: relative;
            &::before {
                position: absolute;
                content: "";
                top: 9px;
                left: -16px;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                background-color: #000;
            }
        }
    }
    img {
        max-width: 100% !important;
        //width: auto !important;
        height: auto !important;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .mains_section {
        .float_img {
            top: 0%;
            right: 10%;
            &_1 {
                top: 129%;
                left: -4%;
                transform: scaleX(-1);
            }
        }
        .mains_area {
            .content {
                padding: 0 22.4%;
                .sub_section {
                    padding: rem(20) 0;
                    .imgwrap {
                        margin: rem(28) 0;
                    }

                    .head {
                        &_one {
                            img {
                                bottom: 50%;
                                left: -29%;
                            }
                        }
                        &_two {
                            img {
                                bottom: 55%;
                                right: -25%;
                            }
                        }
                    }
                }
            }
            .main_img {
                padding-top: rem(99);
            }
        }

        //standards
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 8px;
            padding: 0;
        }

        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 28px;
        }
        h3 {
            font-size: 24px;
        }
        h4 {
            font-size: 22px;
        }
        h5 {
            font-size: 20px;
        }
        h6 {
            font-size: 18px;
        }
        p {
            margin-bottom: 16px;
            font-size: 14px;
        }
        ol,
        ul {
            margin-bottom: 12px;
            margin-left: 16px;
            li {
                line-height: 1.8;
            }
        }
        ul {
            li {
                &::before {
                    top: 9px;
                    left: -16px;
                    height: 6px;
                    width: 6px;
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .mains_section {
        .float_img {
            top: 0%;
            right: 0%;
            &_1 {
                top: 129%;
                left: -4%;
                transform: scaleX(-1);
            }
        }
        .mains_area {
            .content {
                padding: 0 18%;
                .sub_section {
                    padding: rem(18) 0;
                    .imgwrap {
                        margin: rem(28) 0;
                    }

                    .head {
                        &_one {
                            img {
                                bottom: 50%;
                                left: -55%;
                            }
                        }
                        &_two {
                            img {
                                bottom: 55%;
                                right: -70%;
                            }
                        }
                    }
                }
            }
            .main_img {
                padding-top: rem(72);
            }
        }

        //standards
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 8px;
            padding: 0;
        }

        h1 {
            font-size: 28px;
            background-color: $white;
            display: inline-block;
            padding: 0 rem(12);
        }
        h2 {
            font-size: 26px;
        }
        h3 {
            font-size: 23px;
        }
        h4 {
            font-size: 21px;
        }
        h5 {
            font-size: 19px;
        }
        h6 {
            font-size: 17px;
        }
        p {
            margin-bottom: 15px;
            font-size: 14px;
        }
        ol,
        ul {
            margin-bottom: 12px;
            margin-left: 15px;
            li {
                line-height: 1.8;
            }
        }
        ul {
            li {
                &::before {
                    top: 9px;
                    left: -16px;
                    height: 6px;
                    width: 6px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .mains_section {
        .float_img {
            top: 0%;
            right: 0%;
            &_1 {
                top: 129%;
                left: -4%;
                transform: scaleX(-1);
            }
        }
        .mains_area {
            .content {
                padding: 0 10%;
                .sub_section {
                    padding: rem(16) 0;
                    .imgwrap {
                        margin: rem(28) 0;
                        img {
                            width: auto;
                        }
                        .float_img {
                            img {
                                width: 90%;
                            }
                        }
                    }

                    .head {
                        &_one {
                            img {
                                bottom: 50%;
                                left: -55%;
                            }
                        }
                        &_two {
                            img {
                                bottom: 55%;
                                right: -70%;
                            }
                        }
                    }
                }
            }
            .main_img {
                padding-top: rem(72);
            }
        }

        //standards
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 6px;
            padding: 0;
        }

        h1 {
            font-size: 26px;
            background-color: $white;
            display: inline-block;
            padding: 0 rem(12);
        }
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 22px;
        }
        h4 {
            font-size: 20px;
        }
        h5 {
            font-size: 18px;
        }
        h6 {
            font-size: 16px;
        }
        p {
            margin-bottom: 14px;
            font-size: 14px;
        }
        ol,
        ul {
            margin-bottom: 11px;
            margin-left: 14px;
            li {
                line-height: 1.7;
            }
        }
        ul {
            li {
                &::before {
                    top: 8px;
                    left: -14px;
                    height: 5px;
                    width: 5px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .mains_section {
        .float_img {
            top: 0%;
            right: -4%;

            width: 30%;

            &_1 {
                display: none;
            }
        }
        .mains_area {
            .content {
                padding: 0 2%;
                .sub_section {
                    padding: rem(16) 0;
                    .imgwrap {
                        margin: rem(28) 0;
                        img {
                            width: auto;
                        }
                        .float_img {
                            img {
                                width: 100%;
                            }
                        }
                    }

                    .head {
                        img {
                            display: none;
                        }
                        &_one {
                            img {
                                bottom: 50%;
                                left: -55%;
                            }
                        }
                        &_two {
                            img {
                                bottom: 55%;
                                right: -70%;
                            }
                        }
                    }
                }
            }
            .main_img {
                padding-top: rem(64);
            }
        }

        //standards
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 6px;
            padding: 0;
        }

        h1 {
            font-size: 24px;
            background-color: $white;
            display: inline-block;
            padding: 0 rem(10);
        }
        h2 {
            font-size: 22px;
        }
        h3 {
            font-size: 18px;
        }
        h4 {
            font-size: 17px;
        }
        h5 {
            font-size: 16px;
        }
        h6 {
            font-size: 14px;
        }
        p {
            margin-bottom: 14px;
            font-size: 13px;
        }
        ol,
        ul {
            margin-bottom: 10px;
            margin-left: 14px;
            li {
                line-height: 1.6;
            }
        }
        ul {
            li {
                &::before {
                    top: 8px;
                    left: -14px;
                    height: 4px;
                    width: 4px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .mains_section {
        .float_img {
            top: 0%;
            right: -4%;
            width: 26%;
            &_1 {
                display: none;
            }
        }
        .mains_area {
            .content {
                padding: 0 0%;
                .sub_section {
                    padding: rem(12) 0;
                    .imgwrap {
                        margin: rem(24) 0;
                        img {
                            width: auto;
                        }
                        .float_img {
                            img {
                                width: 100%;
                            }
                        }
                    }

                    .head {
                        img {
                            display: none;
                        }
                        &_one {
                            img {
                                bottom: 50%;
                                left: -55%;
                            }
                        }
                        &_two {
                            img {
                                bottom: 55%;
                                right: -70%;
                            }
                        }
                    }
                }
            }
            .main_img {
                padding-top: rem(48);
            }
        }

        //standards
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 5px;
            padding: 0;
        }

        h1 {
            font-size: 22px;
            background-color: $white;
            display: inline-block;
            padding: 0 rem(8);
        }
        h2 {
            font-size: 20px;
        }
        h3 {
            font-size: 16px;
        }
        h4 {
            font-size: 15px;
        }
        h5 {
            font-size: 14px;
        }
        h6 {
            font-size: 13px;
        }
        p {
            margin-bottom: 12px;
            font-size: 12px;
        }
        ol,
        ul {
            margin-bottom: 8px;
            margin-left: 14px;
            li {
                line-height: 1.6;
            }
        }
        ul {
            li {
                &::before {
                    top: 8px;
                    left: -14px;
                    height: 4px;
                    width: 4px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
}
