@import "../../base/variable.scss";
@import "../../base/mixins.scss";

.accordion_section {
    position: relative;
    padding: rem(67) 0 rem(145) 0;
    .float_img {
        top: 78%;
        right: 4%;

        &_1 {
            top: 23%;
            right: 87%;
            img {
                width: auto;
            }
        }
    }
    .accordion_area {
        padding: 0 11.9%;
        .accordion {
            .accordion-item {
                border-radius: rem(10);
                border: none;
                background-color: $extra-light-lav;

                .accordion-header {
                    margin: rem(15) 0;
                    .head {
                        font-family: "Nunito", sans-serif;
                        font-size: rem(18);
                        color: $dark-text-prim;
                        font-weight: 700;
                        margin-bottom: 0;
                    }

                    .accordion-button {
                        font-size: rem(18);
                        font-weight: 300;
                        padding: rem(20) rem(30);
                        background-color: $lavender;

                        border-radius: rem(10);
                        color: $dark-text-prim;
                        position: relative;

                        &:focus {
                            border-color: transparent;
                            box-shadow: none;
                        }
                        &.collapsed {
                            &:before {
                                @include transition(all 0.3s ease);
                                @include rotate(0deg);
                            }
                        }
                        &:before {
                            position: absolute;
                            content: "\f0d7";
                            font-family: "Font Awesome 5 Pro";
                            font-size: rem(30);
                            font-weight: 700;
                            top: 20%;
                            right: 2%;

                            @include transition(all 0.3s ease);
                            @include rotate(-90deg);
                        }
                        &:after {
                            display: none;
                        }
                    }
                }

                .accordion-body {
                    padding: rem(8) rem(32) rem(24) rem(32);
                    p {
                        text-align: left;
                        line-height: 1.8;
                        color: $dull-text;
                    }
                    // padding: rem(20) rem(20) rem(64) rem(54);
                    // border-radius: rem(10);
                    // h3 {
                    //     font-size: rem(24);
                    //     font-weight: 500;
                    //     padding-bottom: rem(24);
                    // }
                    // .peas {
                    //     padding: rem(10) 0;
                    // }
                    // .pea {
                    //     padding: rem(16) 0;
                    // }

                    // span {
                    //     color: $pink;
                    //     font-weight: 600;
                    // }
                    // ul {
                    //     li {
                    //         list-style-type: disc;
                    //         list-style-position: inside;
                    //         font-size: rem(14);
                    //     }
                    // }
                    // button {
                    //     border: none;
                    //     float: right;
                    // }
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .accordion_section {
        padding: rem(54) 0 rem(120) 0;
        .float_img {
            top: 78%;
            right: 0.5%;

            &_1 {
                top: 20%;
                right: 87.5%;
                img {
                    width: rem(116);
                }
            }
        }
        .accordion_area {
            padding: 0 11.9%;
            .accordion {
                .accordion-item {
                    border-radius: rem(10);
                    .accordion-header {
                        margin: rem(15) 0;
                        .head {
                            font-size: rem(18);
                        }
                        .accordion-button {
                            font-size: rem(18);
                            padding: rem(20) rem(30);

                            border-radius: rem(10);
                            &:before {
                                font-size: rem(30);
                                top: 20%;
                                right: 2%;
                            }
                        }
                    }

                    .accordion-body {
                        padding: rem(8) rem(32) rem(24) rem(32);
                        p {
                            line-height: 1.8;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .accordion_section {
        padding: rem(48) 0 rem(100) 0;
        .float_img {
            top: 78%;
            right: 0.5%;
            img {
                width: rem(90);
            }
            &_1 {
                top: 12%;
                right: 87.5%;
            }
        }
        .accordion_area {
            padding: 0 11.9%;
            .accordion {
                .accordion-item {
                    border-radius: rem(10);
                    .accordion-header {
                        margin: rem(15) 0;
                        .head {
                            font-size: rem(16);
                        }
                        .accordion-button {
                            font-size: rem(18);
                            padding: rem(18) rem(30);
                            border-radius: rem(10);
                            &:before {
                                font-size: rem(24);
                                top: 20%;
                                right: 2%;
                            }
                        }
                    }

                    .accordion-body {
                        padding: rem(7) rem(30) rem(22) rem(30);
                        p {
                            line-height: 1.8;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .accordion_section {
        padding: rem(30) 0 rem(84) 0;
        .float_img {
            top: 78%;
            right: 1%;
            img {
                width: rem(70);
            }
            &_1 {
                top: 12%;
                right: 88.5%;
            }
        }
        .accordion_area {
            padding: 0 11%;
            .accordion {
                .accordion-item {
                    border-radius: rem(10);
                    .accordion-header {
                        margin: rem(15) 0;
                        .head {
                            font-size: rem(16);
                        }
                        .accordion-button {
                            font-size: rem(18);
                            padding: rem(17) rem(26);

                            border-radius: rem(10);
                            &:before {
                                font-size: rem(24);
                                top: 20%;
                                right: 2%;
                            }
                        }
                    }

                    .accordion-body {
                        padding: rem(6) rem(26) rem(20) rem(26);
                        p {
                            line-height: 1.8;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .accordion_section {
        padding: rem(32) 0 rem(36) 0;
        .float_img {
            display: none;
        }
        .accordion_area {
            padding: 0 4%;
            .accordion {
                .accordion-item {
                    border-radius: rem(8);
                    .accordion-header {
                        margin: rem(13) 0;
                        .head {
                            font-size: rem(15);
                        }
                        .accordion-button {
                            font-size: rem(18);
                            padding: rem(14) rem(30) rem(14) rem(12);
                            border-radius: rem(8);
                            &:before {
                                font-size: rem(24);
                                top: 20%;
                                right: 3%;
                            }
                        }
                    }

                    .accordion-body {
                        padding: rem(4) rem(22) rem(16) rem(22);
                        p {
                            line-height: 1.8;
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .accordion_section {
        padding: rem(26) 0 rem(30) 0;
        .float_img {
            display: none;
        }
        .accordion_area {
            padding: 0 0%;
            .accordion {
                .accordion-item {
                    border-radius: rem(8);
                    .accordion-header {
                        margin: rem(12) 0;
                        .head {
                            font-size: rem(14);
                        }
                        .accordion-button {
                            font-size: rem(14);
                            padding: rem(14) rem(30) rem(14) rem(12);
                            border-radius: rem(8);
                            &:before {
                                font-size: rem(22);
                                top: 20%;
                                right: 3%;
                            }
                        }
                    }

                    .accordion-body {
                        padding: rem(4) rem(20) rem(14) rem(20);
                        p {
                            line-height: 1.8;
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
}
