@import "../../base/variable.scss";
@import "../../base/mixins.scss";

.static_section {
    position: relative;
    .float_img {
        top: auto;
        bottom: 4%;
        right: 4%;
        img {
            width: rem(80);
        }

        &_1 {
            top: 5%;
            right: 88%;
            img {
                width: auto;
            }
        }
    }
    padding: 3.5% 0;
    .static_area {
        .static_content {
            padding: 0 8%;
            .sub_section {
                padding: rem(12) 0;
                .head {
                    font-size: rem(24);
                    color: $dark-text-prim;
                    padding-bottom: rem(6);
                }
                p {
                    position: relative;
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .static_section {
        .float_img {
            top: auto;
            bottom: 4%;
            right: 2%;
            img {
                width: rem(80);
            }

            &_1 {
                top: 5%;
                right: 87.5%;
                img {
                    width: auto;
                }
            }
        }
        padding: 3.5% 0;
        .static_area {
            .static_content {
                padding: 0 12%;
                .sub_section {
                    padding: rem(12) 0;
                    .head {
                        font-size: rem(24);
                        padding-bottom: rem(6);
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .static_section {
        .float_img {
            top: auto;
            bottom: 4%;
            right: 0.25%;
            img {
                width: rem(80);
            }

            &_1 {
                top: 5%;
                right: 89%;
                img {
                    width: rem(80);
                }
            }
        }
        padding: 3.5% 0;
        .static_area {
            .static_content {
                padding: 0 10%;
                .sub_section {
                    padding: rem(12) 0;
                    .head {
                        font-size: rem(24);
                        padding-bottom: rem(6);
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .static_section {
        .float_img {
            top: auto;
            bottom: 4%;
            right: 0.25%;
            img {
                width: rem(80);
            }

            &_1 {
                top: 5%;
                right: 89%;
                img {
                    width: rem(80);
                }
            }
        }
        padding: 3.5% 0;
        .static_area {
            .static_content {
                padding: 0 10%;
                .sub_section {
                    padding: rem(10) 0;
                    .head {
                        font-size: rem(22);
                        padding-bottom: rem(5);
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .static_section {
        .float_img {
            display: none;
        }
        padding: 3.5% 0;
        .static_area {
            .static_content {
                padding: 0 2%;
                .sub_section {
                    padding: rem(8) 0;
                    .head {
                        font-size: rem(20);
                        padding-bottom: rem(4);
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .static_section {
        .float_img {
            display: none;
        }
        padding: 3.5% 0;
        .static_area {
            .static_content {
                padding: 0 0%;
                .sub_section {
                    padding: rem(8) 0;
                    .head {
                        font-size: rem(18);
                        padding-bottom: rem(4);
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
}
