/* * {
    box-sizing: border-box;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.menu-item {
    padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: 1px transparent solid;
}
.menu-item-wrapper {
    border: 1px transparent solid;
}
.menu-item-wrapper.active {
    border: 1px blue solid;
}
.menu-item.active {
    border: 1px green solid;
}

.scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
}

.scroll-menu-arrow--disabled {
    visibility: hidden;
} */
