@import "../base/variable.scss";
@import "../base/mixins.scss";

.breadcrumb_section {
    background-color: $light-lav;
    padding-top: 60px;
    .breadcrumb_area {
        min-height: rem(250);
        position: relative;
        img {
            max-width: 100%;
        }
        .content_bread {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .breadcrumb_section {
        .breadcrumb_area {
            min-height: rem(220);
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .breadcrumb_section {
        .breadcrumb_area {
            min-height: rem(244);
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .breadcrumb_section {
        padding-top: 75px;
        .breadcrumb_area {
            min-height: rem(120);
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .breadcrumb_section {
        padding-top: 75px;
        .breadcrumb_area {
            min-height: rem(120);
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .breadcrumb_section {
        padding-top: 75px;
        .breadcrumb_area {
            min-height: rem(120);
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .breadcrumb_section {
        padding-top: 75px;
        .breadcrumb_area {
            min-height: rem(120);
        }
    }
}
