@import "../base/variable.scss";
@import "../base/mixins.scss";

.footer_section {
    min-height: rem(600);
    background-color: $lavender;
    position: relative;
    overflow: hidden;

    .flowers {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 170px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .footer_area {
        padding-top: rem(72);
        .clmn {
            h4 {
                text-transform: uppercase;
                font-size: rem(18);
                font-weight: 700;
                color: $dark-text-prim;
                padding-bottom: rem(24);
            }
            ul {
                padding-top: rem(30);
                li {
                    padding-bottom: rem(16);
                    a {
                        font-weight: 700;
                    }
                }
            }
        }
        .clmn_1 {
            margin-top: rem(-20);
            padding-left: rem(20);
            .imgwrap {
                position: relative;
                bottom: rem(20);
                img {
                    max-width: rem(135);
                }
            }
            p {
                max-width: rem(200);
            }
        }
        .clmn_4 {
            ul {
                justify-content: space-between;
                padding-right: rem(42);
                padding-top: 0;
                li {
                    display: inline-block;
                    a {
                        i {
                            font-size: rem(17);
                        }
                    }
                }
            }
        }
    }
    .copyright {
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 34%;

        i {
            padding-right: rem(32);
            position: relative;
            top: rem(2);
        }
        p {
            display: inline-block;
            font-weight: 700;
            a {
                font-weight: 700;
            }
        }
    }
}

//responsiveness
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .footer_section {
        min-height: rem(600);
        padding: 0 rem(48);

        .footer_area {
            padding-top: rem(72);
            .clmn {
                h4 {
                    font-size: rem(18);

                    padding-bottom: rem(24);
                }
                ul {
                    padding-top: rem(30);
                    li {
                        padding-bottom: rem(16);
                    }
                }
            }
            .clmn_1 {
                margin-top: rem(-20);
                padding-left: rem(00);
                .imgwrap {
                    bottom: rem(20);
                }
                p {
                    max-width: rem(200);
                }
            }
            .clmn_4 {
                width: 100%;
                ul {
                    padding-right: rem(42);
                    padding-top: 0;
                    li {
                        a {
                            i {
                                font-size: rem(17);
                            }
                        }
                    }
                }
            }
        }
        .copyright {
            min-width: rem(600);
            bottom: 34%;

            i {
                padding-right: rem(26);

                top: rem(2);
            }
            p {
            }
        }
    }
}
/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .footer_section {
        min-height: rem(660);
        padding: 0 rem(24);

        .footer_area {
            padding-top: rem(64);
            .clmn {
                h4 {
                    font-size: rem(18);

                    padding-bottom: rem(20);
                }
                ul {
                    padding-top: rem(24);
                    li {
                        padding-bottom: rem(16);
                    }
                }
            }
            .clmn_1 {
                margin-top: rem(-20);
                padding-left: rem(00);
                .imgwrap {
                    bottom: rem(20);
                }
                p {
                    max-width: rem(200);
                }
            }
            .clmn_4 {
                padding-top: rem(36);
                width: 108%;
                ul {
                    padding-right: rem(26);
                    padding-top: 0;
                    li {
                        a {
                            i {
                                font-size: rem(17);
                            }
                        }
                    }
                }
            }
        }
        .copyright {
            min-width: rem(600);
            bottom: 32%;

            i {
                padding-right: rem(22);

                top: rem(2);
            }
            p {
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .footer_section {
        min-height: 100%;
        padding: 0;
        padding-bottom: 80px;
        .flowers {
            height: 100px;
            img {
                width: 600%;
                display: none;
            }
        }

        .footer_area {
            padding-top: rem(48);
            .clmn {
                h4 {
                    font-size: rem(16);

                    padding-bottom: rem(12);
                }
                ul {
                    padding-top: rem(18);
                    li {
                        padding-bottom: rem(10);
                        a {
                            font-size: rem(12);
                        }
                    }
                }
            }
            .clmn_1 {
                margin-top: rem(-10);
                padding-left: rem(00);
                .imgwrap {
                    bottom: rem(10);
                }
                p {
                    max-width: rem(200);
                }
            }
            .clmn_4 {
                padding-top: rem(48);
                width: 100%;
                ul {
                    padding-right: rem(20);
                    padding-top: 0;
                    li {
                        a {
                            i {
                                font-size: rem(16);
                            }
                        }
                    }
                }
            }
        }
        .copyright {
            min-width: 100%;
            transform: unset;
            position: static;
            padding-top: 20px;

            i {
                padding-right: rem(14);

                top: rem(2);
            }
            p {
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .footer_section {
        min-height: 100%;
        padding: 0;
        padding-bottom: 60px;
        .flowers {
            height: 100px;
            img {
                width: 600%;
                display: none;
            }
        }

        .footer_area {
            //changing order of bootstrap columns
            .for-order {
                order: 2;
            }
            padding-top: rem(36);
            .clmn {
                h4 {
                    font-size: rem(14);

                    padding-bottom: rem(10);
                }
                ul {
                    padding-top: rem(16);
                    li {
                        padding-bottom: rem(2);
                        a {
                            font-size: rem(11);
                        }
                    }
                }
            }
            .clmn_1 {
                margin-top: rem(-6);
                padding-left: rem(00);
                .imgwrap {
                    bottom: rem(6);
                    img {
                        width: 54%;
                    }
                }
                p {
                    max-width: rem(200);
                }
            }
            .clmn_3 {
                padding-top: rem(36);
            }
            .clmn_4 {
                padding-top: rem(36);
                width: 100%;
                ul {
                    padding-right: rem(84);
                    padding-top: 0;
                    li {
                        a {
                            i {
                                font-size: rem(14);
                            }
                        }
                    }
                }
            }
        }
        .copyright {
            min-width: 100%;
            transform: unset;
            position: static;
            padding-top: 10px;
            i {
                padding-right: rem(8);
                top: rem(3);
            }
            p {
                display: inline;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .footer_section {
        min-height: 100%;
        padding: 0;
        padding-bottom: 60px;
        .flowers {
            height: 100px;
            img {
                width: 600%;
                display: none;
            }
        }

        .footer_area {
            //changing order of bootstrap columns
            .for-order {
                order: 2;
            }
            padding-top: rem(36);
            .clmn {
                h4 {
                    font-size: rem(14);
                    padding-bottom: rem(6);
                }
                ul {
                    padding-top: rem(16);
                    li {
                        padding-bottom: rem(2);
                        a {
                            font-size: rem(11);
                        }
                    }
                }
            }
            .clmn_1 {
                margin-top: rem(-6);
                padding-left: rem(00);
                .imgwrap {
                    bottom: rem(6);
                    img {
                        width: 54%;
                    }
                }
                p {
                    max-width: rem(200);
                }
            }
            .clmn_3 {
                padding-top: rem(36);
            }
            .clmn_4 {
                padding-top: rem(36);
                width: 100%;
                ul {
                    padding-right: rem(84);
                    padding-top: 0;
                    li {
                        a {
                            i {
                                font-size: rem(14);
                            }
                        }
                    }
                }
            }
        }
        .copyright {
            min-width: 100%;
            transform: unset;
            position: static;
            padding-top: 10px;
            i {
                padding-right: rem(8);
                top: rem(3);
            }
            p {
                display: inline;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
}
