@import "../base/variable.scss";
@import "../base/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;

    h1,
    h2,
    h3 {
        font-family: "Syncopate", sans-serif;
        font-weight: 700;
        color: $dark-text-prim;
    }
    h1 {
        font-size: rem(36);
    }
    h3 {
        font-size: rem(14);
        color: $dark-text-secon;
    }
    p {
        font-size: rem(14);
        color: $dark-text-secon;
        font-weight: 550;
    }
    a {
        font-weight: 600;
        font-size: rem(14);
        text-decoration: none;
        color: inherit;
        &:hover {
            cursor: pointer;
            color: inherit;
        }
    }
    .modal-backdrop.show {
        z-index: 99999;
    }
    .toast {
        position: relative;
        z-index: 99999999;
    }

    //spinner
    .spinner-border {
        color: $lavender-2;
        width: 40px;
        height: 40px;
    }

    //NO data
    .nodata_wrap {
        // background-color: $white;
        // padding: 15px;
        // border-radius: 15px;
        .img_area {
            margin: 0 auto;
            text-align: center;
            width: 400px;
            max-width: 60%;
            min-height: 140px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .nodata-message {
            padding: 20px 0;
            h4 {
                text-align: center;
            }
        }
    }
    //button
    button {
        outline: none;
        border: none;
        background: transparent;
        color: inherit;
    }
    .btn_disable {
        opacity: 0.6;
    }
    .main_btn {
        box-shadow: $box-shadow;
        padding: rem(15) rem(36);
        border-radius: rem(10);
        font-weight: 600;
        font-size: rem(14);
        position: relative;
        .fa-spin {
            position: absolute;
            right: 5%;
            font-size: rem(20);
            color: $pink;
            font-weight: 700;
        }
        .back_icon {
            position: relative;
            top: rem(1);
            right: rem(4);

            font-size: rem(16);
        }
    }
    .main_btns {
        box-shadow: $box-shadow;
        padding: rem(15) rem(20);
        border-radius: rem(10);
        font-weight: 600;
        font-size: rem(14);
        position: relative;
        .fa-spin {
            position: absolute;
            right: 5%;
            font-size: rem(20);
            color: $pink;
            font-weight: 700;
        }
        .back_icon {
            position: relative;
            top: rem(1);
            right: rem(4);

            font-size: rem(16);
        }
    }
    //loader at center
    .center-load {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: rem(20);
        color: $pink;
        font-weight: 700;
    }

    //googlelogin
    .google_btn {
        width: 100%;
        box-shadow: $box-shadow !important;
        border-radius: rem(10) !important;
        font-family: "Nunito", sans-serif !important;
        opacity: 1 !important;
        height: rem(54);
        span {
            font-weight: 600 !important;
            color: $dark-text-prim;
        }
        &.facebook{
            font-size: 14px;
            font-weight: 600;
            i{
                color: $facebook;
                font-size: 18px;
                margin-right: 10px;
            }
        }
    }

    //form
    .form_area {
        .form_controls {
            padding-bottom: rem(12);

            input,
            textarea,
            select {
                padding-bottom: rem(8);
                font-size: rem(14);
                width: 100%;
                border: none;
                border-bottom: rem(1) solid $dark-text-prim;
                margin-top: 20px;
                margin-bottom: 0;
            }
            input {
                border-radius: 0;
            }

            input {
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
                appearance: none;
            }
            input:focus,
            textarea:focus,
            select:focus {
                outline: none;
                border-bottom: rem(1) solid $dark-text-prim;
            }
        }
    }

    .form_area_2 {
        .form_controls {
            display: block;
            position: relative;
            padding-bottom: rem(5);
            margin-bottom: rem(20);
            .label_top {
                position: absolute;
                font-weight: 700;
                top: 13%;
                left: 0;
                &.eld{
                    top: -8%;
                }
                &.elds{
                    top: -5%;
                }
            }
            input,
            textarea {
                border: none;
                background-color: $form-input-bg;
                padding: rem(12) rem(32);
                border-radius: rem(10);
                &::placeholder {
                    font-weight: 600;
                }
            }
            input:focus,
            textarea:focus,
            select:focus {
                outline: none;
                border: none;
            }
            &_tarea {
                .label_top {
                    top: rem(13);
                }
            }
            .valid-helper {
                top: 94%;
                left: 2%;
            }
        }
    }
    //select custom radio
    input[type="radio"]:checked + .clickable {
        div {
            position: relative;
            transform: scale(1.05);

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: "";
                border: rem(2) solid $pink;
                box-shadow: $box-shadow;

                border-radius: rem(10);
            }
        }
    }

    input[type="radio"]:checked + .clickable .checked-box {
        display: block;
    }
    input[type="file"] {
        display: none;
    }

    //validations and forms
    .valid-box {
        position: relative;
        input {
            border-color: $pink !important;
            color: $pink !important;
        }
        .valid-helper {
            text-align: left;
            color: #eb6383;
            padding: 5px 0;
        }
    }

    //success message

    .success_area {
        margin-top: rem(48);
        padding: rem(24) rem(24);
        .success_msg {
            flex-direction: column;
            .fa-badge-check {
                color: $lavender;
                font-size: rem(48);
            }
            .main_txt {
                text-align: center;
                padding-top: rem(12);
                font-size: rem(18);
            }
        }
        .minilink {
            padding-top: rem(12);
            text-align: center;
            .minipink {
                color: $pink;
            }
        }
    }

    //error message

    .content {
        max-width: 100%;
        width: auto;

        h1 {
            text-align: center;
        }
        .err_msg {
            margin-top: rem(20);
            background-color: $pink;
            color: $white;
            border-radius: rem(5);
            padding: rem(4) rem(12);
            //max-width: 100%;
            width: auto;

            text-align: center;
            z-index: 1;
        }
    }

    //list - community and friends

    .friends_list {
        // margin-left: rem(-14);
        // margin-right: rem(-14);
        .friend_box {
            margin-bottom: rem(15);
            flex-direction: column;
            background-color: $white;
            border-radius: rem(10);
            padding: rem(25) rem(10) rem(10) rem(10);
            .imgwrap {
                border-radius: 50%;
                width: rem(92);
                height: rem(92);
                overflow: hidden;

                img {
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            p {
                padding: rem(15) 0 rem(21) 0;
            }
            button {
                padding: rem(10) rem(24);
                width: 100%;
                color: $white;
                font-weight: 400;
            }
            .follow_btn {
                color: inherit;
                font-weight: 500;
            }
        }
        .edit_btn_set {
            width: 100%;
            justify-content: space-between;
            button {
                color: inherit;
                font-weight: 500;
                width: calc(50% - 5px);
                padding: rem(10) rem(10);
            }
            .border_btn {
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: rem(2) solid $extra-dull;
                    border-radius: rem(10);
                }
            }
        }
    }

    //upload icon
    .upload_icon {
        position: absolute;
        bottom: 4%;
        right: 3.5%;
        background-color: $white;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        i {
            position: relative;
            top: rem(2);
            left: rem(1);
        }
    }

    //clear default padding on bootstrap columns
    .row-no-padding > [class^="col-"] {
        padding-left: 0;
        padding-right: 0;
    }

    //center-all using flex
    .flexie {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    //standard shadowed box
    .shadow_box {
        box-shadow: $box-shadow;
        border-radius: rem(10);
    }

    //bg colors
    .lav_bg {
        background-color: $lavender;
    }

    .text-lavender {
        color: $lavender;
    }

    .text-pink {
        color: $pink;
    }

    .text-white {
        color: $white;
    }

    .red_bg {
        background-color: $dgr-red;
    }

    .pink_bg {
        background-color: $pink;
    }

    //scrollbar
    .custom_scroll {
    }

    //iphone issues
    textarea,
    input[type="text"],
    input[type="button"],
    input[type="submit"] {
        -webkit-appearance: none;
        border-radius: 0;
    }
    input {
        border-radius: 0;
    }

    input {
        -webkit-appearance: none;
    }

    // input[type="date"]:not(.has-value):before {
    //     color: $dull-text;
    //     content: attr(placeholder);
    // }

    //demo_1 - 25/1
    .wip {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        min-height: rem(318);
    }
}

body {
    overflow: hidden;
    &.cms_pages {
        overflow: auto;
    }
}


/* Extra Huge large desktops */
@media (min-width: 1920px){

}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px){

}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px){
    .google_btn{
        span{
          font-size: 12px;
        }
        &.facebook{
            font-size: 12px !important;
        }
        font-size: 12px;
    }
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px){
    .google_btn{
        span{
          font-size: 12px;
        }
        &.facebook{
            font-size: 12px !important;
        }
        font-size: 12px;
    }
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1200px) and (max-width: 1399px){
    .google_btn{
        span{
          font-size: 12px;
        }
        &.facebook{
            font-size: 12px !important;
        }
        font-size: 12px;
    }
}

//responsiveness
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    html,
    body {
        h1,
        h2,
        h3 {
            font-weight: 700;
        }
        h1 {
            font-size: rem(32);
        }
        h3 {
            font-size: rem(14);
        }
        p {
            font-size: rem(14);
            font-weight: 600;
        }
        a {
            font-weight: 600;
            font-size: rem(14);
        }
        //button

        .main_btn {
            padding: rem(14) rem(36);
            border-radius: rem(10);
            font-weight: 600;
        }
        .main_btns {
            padding: rem(14) rem(20);
            border-radius: rem(10);
            font-weight: 600;
        }
        //googlelogin
        .google_btn {
            border-radius: rem(10) !important;
            height: rem(50);
            span {
                font-size: inherit;
                font-size: 12px;
            }
            &.facebook{
                font-size: 12px;
            }
            font-size: 12px;
        }

        //form
        .form_area {
            .form_controls {
                padding-bottom: rem(10);
                input,
                textarea,
                select {
                    margin-top: rem(24);
                    padding-bottom: rem(6);
                    font-size: rem(14);
                }
            }
        }

        .form_area_2 {
            .form_controls {
                padding-bottom: rem(10);
                .label_top {
                    top: 13%;
                    left: 0;
                    &.eld{
                        top: 6%;
                    }
                    &.elds{
                        top: 3%;
                    }
                }
                input,
                textarea {
                    margin-top: rem(36);
                    padding: rem(12) rem(24);
                    border-radius: rem(10);
                }
                &_tarea {
                    .label_top {
                        top: rem(10);
                    }
                }
                .valid-helper {
                    top: 94%;
                    left: 2%;
                }
            }
        }

        //list - community and friends
        .friends_list {
            margin-left: rem(0);
            margin-right: rem(0);
            .friend_box {
                margin-bottom: rem(15);
                border-radius: rem(10);
                padding: rem(25) rem(10) rem(10) rem(10);
                p {
                    padding: rem(15) 0 rem(21) 0;
                }
                button {
                    padding: rem(10) rem(24);
                }
                .edit_btn_set {
                    button {
                        width: calc(50% - 4px);
                        padding: rem(10) rem(8);
                        font-size: rem(13);
                    }
                }
            }
        }

        //post
        .post_col {
            min-width: rem(540);

            border-radius: rem(10);
            padding: rem(16) rem(18) rem(12) rem(18);
            .before_post {
                .imgwrap {
                    width: rem(46);
                    height: rem(46);
                }
            }
            .main_post {
                .post_head {
                    padding: 0 rem(20) 0 rem(20);
                    .user_info {
                        .user {
                            font-size: rem(16);
                        }
                        .lav_dot {
                            width: rem(10);
                            height: rem(10);

                            margin: 0 rem(16);
                        }
                        .comm {
                            font-size: rem(16);
                        }
                    }
                    .post_time {
                        font-size: rem(12);
                    }
                }
                .post_body {
                    padding: 0 rem(12) 0 rem(18);
                    .post_tags {
                        padding-top: rem(20);

                        .post_tag {
                            a {
                                font-size: rem(12);
                            }
                        }
                    }
                    .post_text {
                        padding-top: rem(20);
                    }
                    .post_info {
                        padding: rem(24) 0 rem(4) 0;
                    }
                }
                .post_foot {
                    padding: rem(10) rem(24);
                    .iconwrap {
                        i {
                            font-size: rem(18);
                        }
                    }
                    .dividor {
                        height: rem(25);
                    }
                }
            }
            .after_post {
                padding-left: rem(30);
                i {
                    font-size: rem(18);
                }
            }
        }
        //validations and forms
        .valid-box {
            .valid-helper {
                font-size: rem(12);

                line-height: 1.1;

                top: 90%;
            }
        }
        //success popup message
        .success_area {
            margin-top: rem(36);
            padding: rem(24) rem(24);
            .success_msg {
                .fa-badge-check {
                    font-size: rem(48);
                }
                .main_txt {
                    padding-top: rem(12);
                    font-size: rem(18);
                }
            }
            .minilink {
                padding-top: rem(12);
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    html,
    body {
        h1,
        h2,
        h3 {
            font-weight: 700;
        }
        h1 {
            font-size: rem(32);
        }
        h3 {
            font-size: rem(14);
        }
        p {
            font-size: rem(14);
            font-weight: 600;
        }
        a {
            font-weight: 600;
            font-size: rem(14);
        }
        //button
        .main_btn {
            padding: rem(14) rem(36);
            border-radius: rem(10);
            font-weight: 600;
        }
        .main_btns {
            padding: rem(14) rem(15);
            border-radius: rem(10);
            font-weight: 600;
        }
        //googlelogin
        .google_btn {
            border-radius: rem(10) !important;
            height: rem(50);
        }

        //form
        .form_controls {
            padding-bottom: rem(10);
            input,
            textarea,
            select {
                margin-top: rem(32);
                padding-bottom: rem(6);
                font-size: rem(14);
            }
        }
        .form_area_2 {
            .form_controls {
                padding-bottom: rem(10);
                .label_top {
                    top: 13%;
                    left: 0;
                    &.eld{
                        top: 6%;
                    }
                    &.elds{
                        top: 4%;
                    }
                }
                input,
                textarea {
                    margin-top: rem(42);
                    padding: rem(12) rem(24);
                    border-radius: rem(10);
                }
                &_tarea {
                    .label_top {
                        top: rem(10);
                    }
                }
                .valid-helper {
                    top: 94%;
                    left: 2%;
                }
            }
        }

        //list - community and friends
        .friends_list {
            margin-left: rem(0);
            margin-right: rem(0);
            .friend_box {
                margin-bottom: rem(15);
                border-radius: rem(10);
                padding: rem(20) rem(10) rem(10) rem(10);
                p {
                    padding: rem(15) 0 rem(15) 0;
                }
                button {
                    padding: rem(10) rem(24);
                }
                .edit_btn_set {
                    button {
                        width: calc(50% - 4px);
                        padding: rem(10) rem(8);
                        font-size: rem(13);
                    }
                }
            }
        }

        //post
        .post_col {
            min-width: rem(540);

            border-radius: rem(10);
            padding: rem(16) rem(18) rem(12) rem(18);
            .before_post {
                .imgwrap {
                    width: rem(46);
                    height: rem(46);
                }
            }
            .main_post {
                .post_head {
                    padding: 0 rem(20) 0 rem(20);
                    .user_info {
                        .user {
                            font-size: rem(16);
                        }
                        .lav_dot {
                            width: rem(10);
                            height: rem(10);

                            margin: 0 rem(16);
                        }
                        .comm {
                            font-size: rem(16);
                        }
                    }
                    .post_time {
                        font-size: rem(12);
                    }
                }
                .post_body {
                    padding: 0 rem(12) 0 rem(18);
                    .post_tags {
                        padding-top: rem(20);

                        .post_tag {
                            a {
                                font-size: rem(12);
                            }
                        }
                    }
                    .post_text {
                        padding-top: rem(20);
                    }
                    .post_info {
                        padding: rem(24) 0 rem(4) 0;
                    }
                }
                .post_foot {
                    padding: rem(10) rem(24);
                    .iconwrap {
                        i {
                            font-size: rem(18);
                        }
                    }
                    .dividor {
                        height: rem(25);
                    }
                }
            }
            .after_post {
                padding-left: rem(0);
                i {
                    font-size: rem(18);
                }
            }
        }
        //validations and forms
        .valid-box {
            .valid-helper {
                font-size: rem(12);

                line-height: 1.1;

                top: 90%;
            }
        }
        //success popup message
        .success_area {
            margin-top: rem(24);
            padding: rem(24) rem(24);
            .success_msg {
                .fa-badge-check {
                    font-size: rem(48);
                }
                .main_txt {
                    padding-top: rem(12);
                    font-size: rem(18);
                }
            }
            .minilink {
                padding-top: rem(12);
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    html,
    body {
        h1,
        h2,
        h3 {
            font-weight: 600;
        }
        h1 {
            font-size: rem(28);
        }
        h3 {
            font-size: rem(13);
        }
        p {
            font-size: rem(13);
            font-weight: 600;
        }
        a {
            font-weight: 600;
            font-size: rem(13);
        }
        //button

        .main_btn {
            padding: rem(13) rem(30);
            border-radius: rem(10);
            font-weight: 600;
            font-size: rem(13);
        }
        .main_btns {
            padding: rem(13) rem(15);
            border-radius: rem(10);
            font-weight: 600;
            font-size: rem(13);
        }
        //googlelogin
        .google_btn {
            border-radius: rem(10) !important;
            height: rem(45);
            span {
                font-size: rem(13);
            }
            &.facebook{
                font-size: 13px;
            }
        }

        //form
        .form_controls {
            padding-bottom: rem(8);
            input,
            textarea,
            select {
                margin-top: rem(20);
                padding-bottom: rem(5);
                font-size: rem(13);
            }
        }
        .form_area_2 {
            .form_controls {
                padding-bottom: rem(0);
                .label_top {
                    top: 13%;
                    left: 0;
                    &.eld{
                        top: 12%;
                    }
                    &.elds{
                        top: 5%;
                    }
                }
                input,
                textarea {
                    margin-top: rem(36);
                    padding: rem(10) rem(24);
                    border-radius: rem(10);
                    font-size: rem(13);
                }
                &_tarea {
                    .label_top {
                        top: rem(12);
                    }
                }
                .valid-helper {
                    top: 94%;
                    left: 2%;
                }
            }
        }
        //list - community and friends
        .friends_list {
            margin-left: rem(0);
            margin-right: rem(0);
            .friend_box {
                max-width: 100%;
                margin-bottom: rem(15);
                border-radius: rem(10);
                padding: rem(20) rem(10) rem(10) rem(10);
                p {
                    padding: rem(15) 0 rem(15) 0;
                }
                button {
                    padding: rem(10) rem(24);
                }
                .edit_btn_set {
                    button {
                        width: calc(50% - 5px);
                        padding: rem(10) rem(10);
                        font-size: rem(13);
                    }
                }
            }
        }

        //post
        .post_col {
            min-width: rem(500);

            border-radius: rem(10);
            padding: rem(14) rem(16) rem(8) rem(16);
            .before_post {
                .imgwrap {
                    width: rem(42);
                    height: rem(42);
                }
            }
            .main_post {
                .post_head {
                    padding: 0 rem(16) 0 rem(16);
                    .user_info {
                        .user {
                            font-size: rem(14);
                        }
                        .lav_dot {
                            width: rem(9);
                            height: rem(9);

                            margin: 0 rem(12);
                        }
                        .comm {
                            font-size: rem(14);
                        }
                    }
                    .post_time {
                        font-size: rem(11);
                    }
                }
                .post_body {
                    padding: 0 rem(10) 0 rem(16);
                    .post_tags {
                        padding-top: rem(16);

                        .post_tag {
                            a {
                                font-size: rem(11);
                            }
                        }
                    }
                    .post_text {
                        padding-top: rem(18);
                    }
                    .post_info {
                        padding: rem(20) 0 rem(2) 0;
                    }
                }
                .post_foot {
                    padding: rem(8) rem(24);
                    .iconwrap {
                        i {
                            font-size: rem(18);
                        }
                    }
                    .dividor {
                        height: rem(22);
                    }
                }
            }
            .after_post {
                padding-left: rem(0);
                i {
                    font-size: rem(14);
                }
            }
        }
        //validations and forms
        .valid-box {
            .valid-helper {
                font-size: rem(11);

                line-height: 1.1;

                top: 90%;
            }
        }
        //success popup message
        .success_area {
            margin-top: rem(12);
            padding: rem(24) rem(24);
            .success_msg {
                .fa-badge-check {
                    font-size: rem(48);
                }
                .main_txt {
                    padding-top: rem(12);
                    font-size: rem(18);
                }
            }
            .minilink {
                padding-top: rem(12);
            }
        }
    }
   
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    html,
    body {
        h1,
        h2,
        h3 {
            font-weight: 600;
        }
        h1 {
            font-size: rem(24);
        }
        h3 {
            font-size: rem(12);
        }
        p {
            font-size: rem(12);
            font-weight: 500;
        }
        a {
            font-weight: 500;
            font-size: rem(12);
        }
        //button

        .main_btn {
            padding: rem(12) rem(28);
            border-radius: rem(8);
            font-weight: 500;
            font-size: rem(12);
        }
        .main_btns {
            padding: rem(12) rem(10);
            border-radius: rem(8);
            font-weight: 500;
            font-size: rem(12);
        }
        //googlelogin
        .google_btn {
            border-radius: rem(10) !important;
            height: rem(42);
            span {
                font-size: rem(12);
            }
            &.facebook{
                font-size: 12px;
            }
        }

        //form
        .form_controls {
            padding-bottom: rem(6);
            input,
            textarea,
            select {
                margin-top: rem(16);
                padding-bottom: rem(4);
                font-size: rem(12);
            }
        }
        .form_area_2 {
            .form_controls {
                padding-bottom: rem(0);
                margin-bottom: 0px;
                .label_top {
                    top: 16%;
                    left: 0;
                    &.eld{
                        top: 8%;
                    }
                    &.elds{
                        top: 5%;
                    }
                }
                input,
                textarea {
                    margin-top: rem(32);
                    padding: rem(8) rem(20);
                    border-radius: rem(10);
                    font-size: rem(12);
                }
                &_tarea {
                    .label_top {
                        top: rem(16);
                    }
                }
                .valid-helper {
                    top: 94%;
                    left: 2%;
                }
            }
        }
        //list - community and friends
        .friends_list {
            margin-left: rem(0);
            margin-right: rem(0);
            .friend_box {
                margin-bottom: rem(15);
                border-radius: rem(10);
                padding: rem(20) rem(10) rem(10) rem(10);
                p {
                    padding: rem(15) 0 rem(15) 0;
                }
                button {
                    padding: rem(10) rem(24);
                }
                .edit_btn_set {
                    button {
                        width: calc(50% - 4px);
                        padding: rem(8) rem(8);
                        font-size: rem(12);
                    }
                }
            }
        }

        //post
        .post_col {
            min-width: rem(360);

            border-radius: rem(8);
            padding: rem(12) rem(14) rem(6) rem(14);
            .before_post {
                .imgwrap {
                    width: rem(40);
                    height: rem(40);
                }
            }
            .main_post {
                .post_head {
                    padding: 0 rem(14) 0 rem(14);
                    .user_info {
                        .user {
                            font-size: rem(13);
                        }
                        .lav_dot {
                            width: rem(8);
                            height: rem(8);

                            margin: 0 rem(10);
                        }
                        .comm {
                            font-size: rem(13);
                        }
                    }
                    .post_time {
                        font-size: rem(11);
                    }
                }
                .post_body {
                    padding: 0 rem(6) 0 rem(12);
                    .post_tags {
                        padding-top: rem(12);

                        .post_tag {
                            a {
                                font-size: rem(11);
                            }
                        }
                    }
                    .post_text {
                        padding-top: rem(16);
                    }
                    .post_info {
                        padding: rem(16) 0 rem(1) 0;
                    }
                }
                .post_foot {
                    padding: rem(6) rem(20);
                    .iconwrap {
                        i {
                            font-size: rem(16);
                        }
                    }
                    .dividor {
                        height: rem(20);
                    }
                }
            }
            .after_post {
                padding-left: rem(0);
                i {
                    font-size: rem(20);
                }
            }
        }
        //validations and forms
        .valid-box {
            .valid-helper {
                font-size: rem(11);

                line-height: 1;

                top: 90%;
            }
        }
        //success popup message
        .success_area {
            margin-top: rem(6);
            padding: rem(20) rem(16);
            .success_msg {
                .fa-badge-check {
                    font-size: rem(48);
                }
                .main_txt {
                    padding-top: rem(12);
                    font-size: rem(14);
                }
            }
            .minilink {
                padding-top: rem(12);
            }
        }
       
    }
    .nodata_wrap{
        .img_area{
            width: 350px !important;
       }
   }
    
}

/* Smaller phones */
@media (max-width: 360px) {
    html,
    body {
        h1,
        h2,
        h3 {
            font-weight: 600;
        }
        h1 {
            font-size: rem(22);
        }
        h3 {
            font-size: rem(12);
        }
        p {
            font-size: rem(11);
            font-weight: 500;
        }
        a {
            font-weight: 500;
            font-size: rem(11);
        }
        //button

        .main_btn {
            padding: rem(12) rem(26);
            border-radius: rem(8);
            font-weight: 500;
            font-size: rem(12);
        }
        .main_btns {
            padding: rem(12) rem(10);
            border-radius: rem(8);
            font-weight: 500;
            font-size: rem(12);
        }
        //googlelogin
        .google_btn {
            border-radius: rem(10) !important;
            height: rem(42);
            span {
                font-size: rem(12);
            }
            &.facebook{
                font-size: 12px;
            }
        }

        //form
        .form_controls {
            padding-bottom: rem(6);
            input,
            textarea,
            select {
                margin-top: rem(16);
                padding-bottom: rem(4);
                font-size: rem(11);
            }
        }
        .form_area_2 {
            .form_controls {
                padding-bottom: rem(0);
                margin-bottom: 0px;
                .label_top {
                    top: 18%;
                    left: 0;
                    &.eld{
                        top: 17%;
                    }
                    &.elds{
                        top: 10%;
                    }
                }
                input,
                textarea {
                    margin-top: rem(36);
                    padding: rem(8) rem(20);
                    border-radius: rem(10);
                    font-size: rem(11);
                }
                &_tarea {
                    .label_top {
                        top: rem(18);
                    }
                }
                .valid-helper {
                    top: 94%;
                    left: 2%;
                }
            }
        }
        //list - community and friends
        .friends_list {
            margin-left: rem(0);
            margin-right: rem(0);
            .friend_box {
                margin-bottom: rem(15);
                border-radius: rem(10);
                padding: rem(18) rem(8) rem(8) rem(8);
                p {
                    padding: rem(13) 0 rem(13) 0;
                }
                button {
                    padding: rem(10) rem(24);
                }
                .edit_btn_set {
                    button {
                        width: calc(50% - 4px);
                        padding: rem(8) rem(8);
                        font-size: rem(11);
                    }
                }
            }
        }

        //post
        .post_col {
            min-width: rem(345);

            border-radius: rem(8);
            padding: rem(11) rem(13) rem(5) rem(13);
            .before_post {
                .imgwrap {
                    width: rem(40);
                    height: rem(40);
                }
            }
            .main_post {
                .post_head {
                    padding: 0 rem(13) 0 rem(13);
                    .user_info {
                        .user {
                            font-size: rem(13);
                        }
                        .lav_dot {
                            width: rem(8);
                            height: rem(8);

                            margin: 0 rem(8);
                        }
                        .comm {
                            font-size: rem(13);
                        }
                    }
                    .post_time {
                        font-size: rem(11);
                    }
                }
                .post_body {
                    padding: 0 rem(5) 0 rem(10);
                    .post_tags {
                        padding-top: rem(10);

                        .post_tag {
                            a {
                                font-size: rem(11);
                            }
                        }
                    }
                    .post_text {
                        padding-top: rem(15);
                    }
                    .post_info {
                        padding: rem(15) 0 rem(1) 0;
                    }
                }
                .post_foot {
                    padding: rem(6) rem(18);
                    .iconwrap {
                        i {
                            font-size: rem(14);
                        }
                    }
                    .dividor {
                        height: rem(16);
                    }
                }
            }
            .after_post {
                padding-left: rem(0);
                i {
                    font-size: rem(22);
                }
            }
        }
        //validations and forms
        .valid-box {
            .valid-helper {
                font-size: rem(10);

                line-height: 1.1;

                top: 90%;
            }
        }
        //success popup message
        .success_area {
            margin-top: rem(2);
            padding: rem(18) rem(14);
            .success_msg {
                .fa-badge-check {
                    font-size: rem(48);
                }
                .main_txt {
                    padding-top: rem(10);
                    font-size: rem(14);
                }
            }
            .minilink {
                padding-top: rem(10);
            }
        }
        .nodata_wrap{
            .img_area{
                width: 320px !important;
           }
       }
    }
    .react-input-emoji--placeholder {
        width: calc(100% - 49px) !important;
    }
    
}

/* Smaller phones */
@media (max-width: 320px) {
    html,
    body {
        h1,
        h2,
        h3 {
            font-weight: 600;
        }
        h1 {
            font-size: rem(20);
        }
        h3 {
            font-size: rem(12);
        }
        p {
            font-size: rem(11);
            font-weight: 500;
        }
        a {
            font-weight: 500;
            font-size: rem(11);
        }
        //button

        .main_btn {
            padding: rem(12) rem(24);
            border-radius: rem(8);
            font-weight: 500;
            font-size: rem(11);
        }
        .main_btns {
            padding: rem(12) rem(10);
            border-radius: rem(8);
            font-weight: 500;
            font-size: rem(11);
        }
        //googlelogin
        .google_btn {
            border-radius: rem(10) !important;
            height: rem(40);
            span {
                font-size: rem(11);
            }
        }

        //form
        .form_controls {
            padding-bottom: rem(6);
            input,
            textarea,
            select {
                margin-top: rem(15);
                padding-bottom: rem(4);
                font-size: rem(11);
            }
        }

        //post
        .post_col {
            min-width: rem(305);

            border-radius: rem(8);
            padding: rem(10) rem(12) rem(4) rem(12);
            .before_post {
                .imgwrap {
                    width: rem(38);
                    height: rem(38);
                }
            }
            .main_post {
                .post_head {
                    padding: 0 rem(12) 0 rem(12);
                    .user_info {
                        .user {
                            font-size: rem(12);
                        }
                        .lav_dot {
                            width: rem(7);
                            height: rem(7);

                            margin: 0 rem(7);
                        }
                        .comm {
                            font-size: rem(12);
                        }
                    }
                    .post_time {
                        font-size: rem(10);
                    }
                }
                .post_body {
                    padding: 0 rem(4) 0 rem(8);
                    .post_tags {
                        padding-top: rem(8);

                        .post_tag {
                            a {
                                font-size: rem(10);
                            }
                        }
                    }
                    .post_text {
                        padding-top: rem(12);
                    }
                    .post_info {
                        padding: rem(12) 0 0 0;
                    }
                }
                .post_foot {
                    padding: rem(5) rem(16);
                    .iconwrap {
                        i {
                            font-size: rem(13);
                        }
                    }
                    .dividor {
                        height: rem(15);
                    }
                }
            }
            .after_post {
                padding-left: rem(0);
                i {
                    font-size: rem(12);
                }
            }
        }
    }
   
}

.side-footer {
    margin-top: 40px;
    position: sticky;
    ul {
        li {
            display: inline-block;
            color: $dull-text;
            padding-right: 10px;
            font-size: 14px;
            position: relative;
            padding-left: 11px;
            // &:first-child {
            //     padding-left: 0;
            //     @include clearfix();
            //     &::after {
            //         content: none;
            //         @include clearfix();
            //     }
            // }
            &::after {
                position: absolute;
                content: "";
                background-color: $list-style;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                left: 0;
                top: 6px;
            }
        }
    }
}

.audio-player {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #eb6383;
    min-height: 90px;

    .song {
        user-select: none;
        margin: 0 20px;
        .song__title {
            text-align: left;
            margin: 0;
            color: white;
            font-family: "Permanent Marker", cursive;
            font-weight: normal;
            font-size: 3.5em;

            &:hover {
                color: #ccccff;
            }
        }

        .song__artist {
            margin: 0;
            color: white;
            font-family: "Rock Salt", cursive;
            font-weight: normal;
            font-size: 1em;

            &:hover {
                color: #ccccff;
                cursor: pointer;
            }
        }
    }

    .controls {
        flex-grow: 1;
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .player__button {
        width: fit-content;
        margin-bottom: 15px;
        background-color: transparent;
        border: none;

        &:focus {
            outline: none;
        }
        &:hover {
            cursor: pointer;
            i {
                color: #ccccff;
            }
        }

        i {
            font-size: 2em;
            color: white;
        }
    }

    .bar {
        user-select: none;
        width: 100%;
        display: flex;
        align-items: center;
        .mute {
            color: #FFF;
            font-size: 27px;
            padding-right: 9px;
            cursor: pointer;
            &:hover {
                color: $lavender;
            }
        }
        .bar__time {
            color: white;
            font-size: 16px;
        }

        .bar__progress {
            flex: 1;
            border-radius: 5px;
            margin: 0 15px;
            height: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
            background-color: white;

            .bar__progress__knob {
                position: relative;
                height: 16px;
                width: 16px;
                border: 1.5px solid white;
                border-radius: 50%;
                background-color: #ccccff;
            }
        }
    }

    @media screen and (max-width: 800px) {
        flex-direction: column;

        .controls {
            width: 100%;
            margin-top: 20px;
        }

        .bar {
            width: 90%;
        }
    }
}
