.form-group {
    &:focus-visible {
        box-shadow: none;
        border: none;
        outline: none;
    }
    &:focus {
        box-shadow: none;
        border: none;
        outline: none;
    }
    input {
        &:focus-visible {
            box-shadow: none;
            border: none;
            outline: none;
        }
        &:focus {
            box-shadow: none;
            border: none;
            outline: none;
        }
    }
    .form-control {
        &:focus {
            box-shadow: none;
        }
        &:focus-visible {
            box-shadow: none;
        }
    }
    .form-select {
        &:focus {
            box-shadow: none;
        }
        &:focus-visible {
            box-shadow: none;
        }
    }
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 25px;
    .custom-control-label {
        position: relative;
        margin-bottom: 0;
        vertical-align: top;
        &:before {
            position: absolute;
            content: "";
            top: 0.25rem;
            left: -1.5rem;
            display: block;
            width: 17px;
            height: 17px;
            pointer-events: none;
            background-color: transparent;
            border: #adb5bd solid 2px;
        }
        &:after {
            position: absolute;
            content: "";
            top: 0.25rem;
            left: -1.5rem;
            display: block;
            width: 17px;
            height: 17px;
            background: no-repeat 50%/50% 50%;
        }
    }
}
.custom-control {
    &.custom-checkbox {
        .custom-control-input {
            position: absolute;
            left: 0;
            z-index: -1;
            width: 17px;
            height: 17px;
            opacity: 0;
            box-sizing: border-box;
            padding: 0;
            margin-top: 2px;
            border-radius: 5px;
        }
        .custom-control-label {
            font-size: 14px;
            color: $black;
            padding-left: 3px;
            &:before {
                top: 2px;
                border-radius: 0;
                height: 17px;
                width: 17px;
                border-radius: 3px;
                box-shadow: none;
                text-decoration: none;
                outline: none;
                border: 1px solid $pink;
            }
            &:after {
                top: 2px;
                height: 17px;
                width: 17px;
                box-shadow: none;
                text-decoration: none;
                outline: none;
            }
        }
    }
}
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: $pink;
    border-color: $pink;
    box-shadow: none;
    text-decoration: none;
    outline: none;
    border-radius: 3px;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("../../images/sidebar/checkbox.png");
    background-repeat: no-repeat;
    background-size: 13px;
}
.form-check {
    padding-left: 0;
}
.custom-control-radio {
    &.custom-radio {
        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: rem(28);
            cursor: pointer;
            line-height: rem(20);
            display: inline-block;
            color: $black;
            font-size: 14px;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: rem(18);
            height: rem(18);
            border: rem(1) solid $pink;
            border-radius: 100%;
            background: transparent;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: "";
            width: rem(10);
            height: rem(10);
            background: $pink;
            position: absolute;
            top: rem(4);
            left: rem(4);
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .custom-control {
        &.custom-checkbox {
            .custom-control-label {
                font-size: 12px;
            }
        }
    }
    .custom-control-radio.custom-radio [type="radio"]:not(:checked) + label {
        font-size: 12px;
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .custom-control {
        &.custom-checkbox {
            .custom-control-label {
                font-size: 11px;
            }
        }
    }
    .custom-control-radio.custom-radio [type="radio"]:not(:checked) + label {
        font-size: 11px;
    }
    html {
        p,
        body p,
        span {
            //font-size: 11px !important;
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .custom-control {
        &.custom-checkbox {
            .custom-control-label {
                font-size: 10px !important;
            }
        }
    }
    .custom-control-radio.custom-radio [type="radio"]:not(:checked) + label {
        font-size: 10px !important;
    }
    html {
        p,
        body p,
        span {
            //font-size: 11px !important;
        }
    }
}
