@import "../base/variable.scss";
@import "../base/mixins.scss";

.header_section {
    background-color: $lavender;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    @include clearfix();
    .header_area {
        .left {
            float: left;
            .logo-box {
                img {
                    width: 69px;
                }
            }
        }
        .right {
            float: right;
            padding-top: 10px;

            .seacrh-bar {
                float: left;
                background-color: #dbdbff;
                border-radius: 10px;
                overflow: hidden;
                .form-group {
                    position: relative;
                    background-color: $input-serach;
                    border-radius: 10px;
                    .search-input {
                        border: none;
                        background-color: #dbdbff;
                        width: 400px;
                        height: 46px;
                        padding-left: 30px;
                        padding-right: 50px;
                        font-size: rem(14);
                        font-weight: 600;
                        -webkit-border-radius: 10px !important;    
                        border-radius: 10px !important; 
                        -moz-border-radius:10px !important;
                        -khtml-border-radius:10px !important;
                        border-radius: 10px;
                        &:focus-visible {
                            border: none;
                            box-shadow: none;
                            outline: none;
                        }
                    }
                    i {
                        position: absolute;
                        right: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
                input {
                    background-color: #dbdbff !important;
                    border: none;
                    border-radius: 0px !important;
                    height: 45px;
                    padding: 0 15px;
                    max-width: 400px;
                    min-width: 120px;
                    width: 400px;
                    -webkit-appearance: none;
                    &:focus{
                        -webkit-border: none;
                        -webkit-box-shadow: none;
                        -webkit-outline: none;
                        border: none;
                        box-shadow: none;
                        -webkit-appearance: none;
                        outline: none;
                        background-color: transparent;
                        -webkit-background-color: transparent;
                     }
                     &:focus-visible{
                         -webkit-border: none;
                        -webkit-box-shadow: none;
                        border: none;
                        box-shadow: none;
                        -webkit-appearance: none;
                        background-color: transparent;
                        -webkit-background-color: transparent;
                     }
                     &:target{
                         -webkit-border: none;
                         -webkit-box-shadow: none;
                         -webkit-outline: none;
                         border: none;
                         box-shadow: none;
                         -webkit-appearance: none;
                         outline: none;
                         background-color: transparent;
                         -webkit-background-color: transparent;
                      }
                      &:focus-within{
                          -webkit-border: none;
                         -webkit-box-shadow: none;
                         border: none;
                         box-shadow: none;
                         -webkit-appearance: none;
                         background-color: transparent;
                         -webkit-background-color: transparent;
                      }
                      &:active{
                        -webkit-border: none;
                       -webkit-box-shadow: none;
                       border: none;
                       box-shadow: none;
                       -webkit-appearance: none;
                       background-color: transparent;
                       -webkit-background-color: transparent;
                    }
                }
                ul {
                    position: absolute;
                    width: 100%;
                    max-width: 400px;
                    background-color: $white;
                    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                    border-radius: 10px;
                    overflow: auto;
                    max-height: 300px;
                    &::-webkit-scrollbar {
                        width: 4px;
                        border-radius: 10px;
                        background-color: $border-light;
                    }
                    &::-webkit-scrollbar-track {
                        border-radius: 4px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: $lavender;
                        border-radius: 4px;
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background: $primary_color;
                    }
                    li {
                        // border-bottom: 1px solid $black;
                        padding: 15px;
                        padding-bottom: 10px;

                        @include clearfix();
                        &:last-child {
                            border-bottom: 0;
                            margin-bottom: 0px;
                        }
                        &:hover{
                            background-color: rgba($color: $lavender, $alpha: 0.6)
                        }
                        .searcher-filers {
                            .divider {
                                .left {
                                    float: left;
                                    width: 40px;
                                    .img-wrap {
                                        width: 42px;
                                        height: 42px;
                                        border-radius: 50%;
                                        overflow: hidden;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }
                                }
                                .right {
                                    width: calc(100% - 40px);
                                    padding-left: 20px;
                                    padding-top: 0;
                                    .name {
                                        h5 {
                                            font-size: 15px;
                                            font-weight: 500;
                                            word-break: break-all;
                                        }
                                        p {
                                            font-size: 14px;
                                            color: $dull-text;
                                            word-break: break-all;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .bell-icon {
                float: left;
                padding: 0 20px;
                padding-top: 3px;
                position: relative;
                &.dot-active {
                    &::after {
                        position: absolute;
                        content: "";
                        background-color: $pink;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        top: 6px;
                        right: 32px;
                    }
                }
                i {
                    font-size: 24px;
                }
                .dropdown {
                    .btn-primary {
                        background-color: transparent;
                        color: $black;
                        &:focus {
                            border: none;
                            box-shadow: none;
                        }
                    }
                    .dropdown-toggle {
                        &::after {
                            content: none;
                        }
                    }
                    .dropdown-menu {
                        min-width: 390px;
                        float: right;
                        inset: unset !important;
                        transform: unset !important;
                        right: 0 !important;
                        border: none;
                        border-radius: 14px;
                        box-shadow: 0px 0px 101px 0px rgba(48, 28, 65, 0.09);
                        z-index: 999;
                        .dropdown-item {
                            padding: 0;
                            &:hover {
                                background-color: transparent;
                            }
                            &:focus {
                                background-color: transparent;
                            }
                            &:active {
                                background-color: transparent;
                                color: unset;
                            }
                        }
                    }
                    .notification_drop_down {
                        .notification_head {
                            h5 {
                                font-size: 18px;
                                font-weight: 600;
                                padding: 22px 12px 22px 26px;
                                border-bottom: 1px solid $black;
                            }
                            .notification_btns {
                                padding-top: 20px;
                                .spinner-notfi {
                                    text-align: center;
                                    margin-bottom: 30px;
                                    color: $pink;
                                }
                                .nav-tabs {
                                    padding: 0 13px;
                                    padding-bottom: 15px;
                                    .nav-item {
                                        padding-right: 10px;
                                        width: 50%;
                                        &:last-child {
                                            padding-right: 0;
                                        }
                                        .nav-link {
                                            background-color: transparent;
                                            border: 2px solid $lavender;
                                            padding: 13px;
                                            border-radius: 10px;
                                            width: 100%;
                                            color: $black;
                                            font-size: 14px;
                                            position: relative;
                                            &.active {
                                                background-color: $lavender;
                                            }
                                            &.notify-dot {
                                                &::after {
                                                    position: absolute;
                                                    content: "";
                                                    background-color: $pink;
                                                    width: 9px;
                                                    height: 9px;
                                                    border-radius: 50%;
                                                    top: 12px;
                                                    right: 33px;
                                                }
                                                &.rqst{
                                                    &::after{
                                                        right: 50px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .tab-content {
                                    .friends_requestes {
                                        padding-bottom: 0px;
                                        .request_hed {
                                            @include clearfix();
                                            padding-bottom: 10px;
                                            .new_reqst {
                                                float: left;
                                                p {
                                                    font-size: 16px;
                                                    color: $dull-text;
                                                }
                                            }
                                            .sell_all {
                                                float: right;
                                                a {
                                                    p {
                                                        color: $dar-green;
                                                    }
                                                }
                                            }
                                        }
                                        .show_requests {
                                            max-height: 600px;
                                            padding: 0 20px;
                                            margin-bottom: 30px;
                                            overflow-y: auto;
                                            overflow-x: hidden;
                                            &::-webkit-scrollbar {
                                                width: 6px;
                                                border-radius: 10px;
                                                background-color: $border-light;
                                            }
                                            &::-webkit-scrollbar-track {
                                                border-radius: 6px;
                                            }
                                            &::-webkit-scrollbar-thumb {
                                                background: $lavender;
                                                border-radius: 6px;
                                            }
                                            &::-webkit-scrollbar-thumb:hover {
                                                background: $primary_color;
                                            }
                                            .request_list {
                                                padding-bottom: 20px;
                                                @include clearfix();
                                                .left {
                                                    width: 40px;
                                                    float: left;
                                                    .img_box {
                                                       width: 40px;
                                                       height: 40px;
                                                        border-radius: 50%;
                                                        overflow: hidden;
                                                        img {
                                                            width: 100%;
                                                            height: 100%;
                                                            object-fit: cover;
                                                        }
                                                    }
                                                }
                                                .content {
                                                    width: calc(100% - 40px);
                                                    float: left;
                                                    padding-left: 10px;
                                                    @include clearfix();
                                                    .name {
                                                        @include clearfix();
                                                        .name_left {
                                                            float: left;
                                                            p {
                                                                color: $black;
                                                                font-size: 14px;
                                                            }
                                                        }
                                                        .days {
                                                            float: right;
                                                        }
                                                    }
                                                    .accepts_bten {
                                                        @include clearfix();
                                                        padding-top: 25px;
                                                        .left_confim {
                                                            @include clearfix();
                                                            ul {
                                                                display: flex;
                                                                justify-content: space-between;
                                                                li {
                                                                    padding-right: 12px;
                                                                    display: inline-block;
                                                                    a {
                                                                        i{
                                                                            font-size: 16px;
                                                                            color: $pink;
                                                                            margin-left: 10px;
                                                                        }
                                                                    }
                                                                    &:last-child {
                                                                        padding-right: 0;
                                                                    }
                                                                    .btn_prim {
                                                                        padding: 9px 15px;
                                                                        font-size: 14px;
                                                                        border-radius: 13px;
                                                                    }
                                                                    .btn_prim-1 {
                                                                        padding: 9px 15px;
                                                                        font-size: 14px;
                                                                        border-radius: 13px;
                                                                        background-color: transparent;
                                                                        border: 2px solid $dlter;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .notifications {
                                            .show_notification {
                                                max-height: 600px;
                                                overflow-y: auto;
                                                overflow-x: hidden;
                                                &::-webkit-scrollbar {
                                                    width: 6px;
                                                    border-radius: 10px;
                                                    background-color: $border-light;
                                                }
                                                &::-webkit-scrollbar-track {
                                                    border-radius: 6px;
                                                }
                                                &::-webkit-scrollbar-thumb {
                                                    background: $lavender;
                                                    border-radius: 6px;
                                                }
                                                &::-webkit-scrollbar-thumb:hover {
                                                    background: $primary_color;
                                                }
                                                .notifi_list {
                                                    padding-bottom: 20px;
                                                    @include clearfix();
                                                    &.read {
                                                        background-color: $read;
                                                    }
                                                    .img_area {
                                                        width: 40px;
                                                        float: left;
                                                        .img_box {
                                                            width: 40px;
                                                            height: 40px;
                                                            border-radius: 50%;
                                                            overflow: hidden;
                                                            img {
                                                                width: 100%;
                                                                height: 100%;
                                                                object-fit: cover;
                                                            }
                                                        }
                                                    }
                                                    .named {
                                                        width: calc(100% - 40px);
                                                        float: left;
                                                        padding-left: 10px;
                                                        @include clearfix();
                                                        p {
                                                            color: $black;
                                                            font-size: 14px;
                                                        }
                                                        .lke_cmt {
                                                            padding-top: 5px;
                                                            @include clearfix();
                                                            &.request{
                                                            display: flex;
                                                            justify-content: space-between;
                                                            align-items: end;
                                                            .righst{
                                                                width: 100%;
                                                                p{
                                                                    float: right;
                                                                }
                                                            }
                                                            }
                                                          
                                                            .righst  {
                                                                float: right;
                                                                p {
                                                                    color: $dull-text;
                                                                    float: right;
                                                                }
                                                            }
                                                            .left{
                                                                margin-top: 0px;
                                                                ul{
                                                                    li{
                                                                        display: inline-flex;
                                                                        margin-right: 20px;
                                                                        &:last-child{
                                                                            margin-right: 0;
                                                                        }
                                                                        .lav_bg{
                                                                            padding: 9px 15px;
                                                                            font-size: 14px;
                                                                            border-radius: 13px;
                                                                            border: 2px solid $lavender;
                                                                            i {
                                                                                margin-left: 5px;
                                                                                color: $pink;
                                                                                font-size: 16px;
                                                                            }
                                                                        }
                                                                        .btn_prim-1{
                                                                            background-color: transparent !important;
                                                                            border: 2px solid $dlter;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .user-img {
                float: left;
                .img-wrap {
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .dropdown {
                    .btn {
                        padding: 0;
                    }
                    .btn-primary {
                        background-color: transparent;
                    }
                    .dropdown-toggle {
                        &::after {
                            content: none;
                        }
                        &:focus {
                            box-shadow: none;
                        }
                        img {
                            width: 46px;
                            height: 46px;
                            border-radius: 50%;
                            overflow: hidden;
                            object-fit: cover;
                        }
                    }
                    .dropdown-menu {
                        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
                        border: none;
                        border-radius: 6px;
                        padding: 10px 5px;
                        overflow: hidden;
                        margin-top: 5px;
                        a {
                            &.red {
                                color: $youtube;
                            }
                        }
                        .dropdown-item {
                            font-size: 15px;
                            margin-bottom: 10px;
                            color: $black;
                            font-weight: 600;
                            border-radius: 5px;
                            &:hover {
                                background-color: rgba($color: $lavender, $alpha: 0.6);
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }

                            i {
                                font-size: 14px;
                                padding-right: 5px;
                                padding-right: 10px;
                                color: $black;
                                &.bin {
                                    font-size: 16px;
                                }
                                &.red {
                                    color: $youtube;
                                }
                            }
                        }
                    }
                }
            }
            .phone-ue {
                float: left;
                padding-top: 8px;
                i {
                    font-size: 25px;
                }
            }
        }
    }
}
.seacrh-bar {
    float: left;
    .form-group {
        position: relative;
        background-color: $input-serach;
        border-radius: 10px;
        .search-input {
            background-color: #dbdbff;
            width: 400px;
            height: 46px;
            padding-left: 30px;
            padding-right: 50px;
            font-size: rem(14);
            font-weight: 600;
            border-radius: 10px;
            border: 1px solid transparent;
            &:focus-visible {
                border: none;
                box-shadow: none;
                outline: none;
            }
        }
        i {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            font-weight: 500;
        }
    }
    input {
        background-color: transparent;
       border: none;
        // border-radius: 10px;
        height: 45px;
        padding: 0 15px;
        max-width: 400px;
        min-width: 120px;
        width: 400px;
        &:focus{
            -webkit-border: none;
            -webkit-box-shadow: none;
            -webkit-outline: none;
            border: none;
            box-shadow: none;
            -webkit-appearance: none;
            outline: none;
            background-color: transparent;
         }
         &:focus-visible{
             -webkit-border: none;
            -webkit-box-shadow: none;
            border: none;
            box-shadow: none;
            -webkit-appearance: none;
            background-color: transparent;
            -webkit-background-color: transparent;
         }
         &:target{
             -webkit-border: none;
             -webkit-box-shadow: none;
             -webkit-outline: none;
             border: none;
             box-shadow: none;
             -webkit-appearance: none;
             outline: none;
             background-color: transparent;
             -webkit-background-color: transparent;
          }
          &:focus-within{
              -webkit-border: none;
             -webkit-box-shadow: none;
             border: none;
             box-shadow: none;
             -webkit-appearance: none;
             background-color: transparent;
             -webkit-background-color: transparent;
          }
    }
    ul {
        position: absolute;
        width: 100%;
        max-width: 400px;
        background-color: $white;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        border-radius: 10px;
        overflow: auto;
        max-height: 300px;
        &::-webkit-scrollbar {
            width: 4px;
            border-radius: 10px;
            background-color: $border-light;
        }
        &::-webkit-scrollbar-track {
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background: $lavender;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $primary_color;
        }
        li {
            // border-bottom: 1px solid $black;
            padding: 15px;
            padding-bottom: 10px;

            @include clearfix();
            &:last-child {
                border-bottom: 0;
                margin-bottom: 0px;
            }
            .searcher-filers {
                .divider {
                    .left {
                        float: left;
                        width: 40px;
                        .img-wrap {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .right {
                        width: calc(100% - 40px);
                        padding-left: 15px;
                        padding-top: 0;
                        float: left;
                        .name {
                            h5 {
                                font-size: 15px;
                                font-weight: 500;
                                word-break: break-all;
                            }
                            p {
                                font-size: 14px;
                                color: $dull-text;
                                word-break: break-all;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}


@media (min-width: 1200px) and (max-width: 1399px) {
    .header_section {
        .header_area {
            .right {
                .bell-icon {
                    .dropdown {
                        .notification_drop_down {
                            .notification_head {
                                .notification_btns {
                                    .tab-content {
                                        .friends_requestes {
                                            .show_requests {
                                                max-height: 311px;
                                            }
                                            .notifications {
                                                .show_notification {
                                                    max-height: 311px;
                                                    .notifi_list{
                                                        .img_area{
                                                            width: 40px;
                                                            height: 40px;
                                                        }
                                                        .named{
                                                            width: calc(100% - 40px);
                                                            padding-left: 10px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .nav-tabs{
                                        .nav-item{
                                            .nav-link{
                                                padding: 8px 10px;
                                                &.notify-dot{
                                                    &:after{
                                                        top: 8px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .header_section {
        .header_area {
            padding: 0 rem(20);
            .right {
                .bell-icon {
                    .dropdown {
                        .notification_drop_down {
                            .notification_head {
                                .notification_btns {
                                    .tab-content {
                                        .friends_requestes {
                                            .show_requests {
                                                max-height: 360px;
                                            }
                                            .notifications {
                                                .show_notification {
                                                    max-height: 360px;
                                                    .notifi_list{
                                                        .img_area{
                                                            width: 40px;
                                                            height: 40px;
                                                        }
                                                        .named{
                                                            width: calc(100% - 40px);
                                                            padding-left: 10px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .header_section {
        .header_area {
            .right {
                .bell-icon {
                    .dropdown {
                        .notification_drop_down {
                            .notification_head {
                                .notification_btns {
                                    .tab-content {
                                        .friends_requestes {
                                            .show_requests {
                                                max-height: 380px;
                                            }
                                            .notifications {
                                                .show_notification {
                                                    max-height: 380px;
                                                    .notifi_list{
                                                        .img_area{
                                                            width: 40px;
                                                            height: 40px;
                                                        }
                                                        .named{
                                                            width: calc(100% - 40px);
                                                            padding-left: 10px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .header_section {
        .header_area {
            .right {
                .seacrh-bar {
                    .form-group {
                        .search-input {
                            width: 327px;
                        }
                    }
                }
                .bell-icon {
                    .dropdown {
                        .notification_drop_down {
                            .notification_head {
                                .notification_btns {
                                    .tab-content {
                                        .friends_requestes {
                                            .show_requests {
                                                max-height: 120px;
                                            }
                                            .notifications {
                                                .show_notification {
                                                    max-height: 120px;
                                                    .notifi_list{
                                                        .img_area{
                                                            width: 40px;
                                                            height: 40px;
                                                        }
                                                        .named{
                                                            width: calc(100% - 40px);
                                                            padding-left: 10px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .header_section {
        .header_area {
            .left {
                .logo-box {
                    img {
                        width: 56px;
                    }
                }
            }
            .right {
                .seacrh-bar {
                    .form-group {
                        .search-input {
                            width: 180px;
                            height: rem(43);
                            padding: 0 rem(16);
                            padding-right: 43px;
                        }
                        a {
                            i {
                                font-size: rem(18);
                                right: rem(18);
                            }
                        }
                    }
                    input {
                        width: 200px;
                    }
                    ul {
                        width: 200px;
                        li {
                            .searcher-filers {
                                .divider {
                                    .left {
                                        .img-wrap {
                                            width: 30px;
                                            height: 30px;
                                        }
                                    }
                                    .right {
                                        padding-left: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
                .bell-icon {
                    padding: 0 2px;
                    padding-top: 3px;
                    &::after {
                        right: 15px !important;
                        top: rem(5) !important;
                    }
                    .dropdown {
                        .dropdown-menu {
                            right: -21px !important;
                            min-width: 350px !important;
                        }
                        .notification_drop_down {
                            .notification_head {
                                .notification_btns {
                                    .tab-content {
                                        .friends_requestes {
                                            .show_requests {
                                                max-height: 294px;
                                                .content {
                                                    .accepts_bten {
                                                        .left_confim {
                                                            ul {
                                                                li {
                                                                    .btn_prim {
                                                                        padding: 10px 15px !important;
                                                                    }
                                                                    .btn_prim-1 {
                                                                        padding: 10px 15px !important;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            .notifications {
                                                .show_notification {
                                                    max-height: 294px;
                                                    .notifi_list{
                                                        .img_area{
                                                            width: 40px;
                                                            height: 40px;
                                                        }
                                                        .named{
                                                            width: calc(100% - 40px);
                                                            padding-left: 10px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .nav-tabs{
                                         .nav-item{
                                             .nav-link{
                                                &.notify-dot{
                                                    &::after{
                                                        right: 25px !important;
                                                    }
                                                    &.rqst{
                                                        &::after{
                                                            right: 40px !important;
                                                        } 
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .user-img {
                    .img-wrap {
                        width: 43px;
                        height: 43px;
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .header_section {
        .header_area {
            .left {
                .logo-box {
                    img {
                        width: 56px;
                    }
                }
            }
            .right {
                .seacrh-bar {
                    .form-group {
                        .search-input {
                            width: 160px;
                            height: rem(40);
                            padding: 0 rem(16);
                            padding-right: 43px;
                        }
                        a {
                            i {
                                font-size: rem(18);
                                right: rem(16);
                            }
                        }
                    }
                    input {
                        width: 156px;
                    }
                    ul {
                        width: 190px;
                        li {
                            .searcher-filers {
                                .divider {
                                    .left {
                                        .img-wrap {
                                            width: 30px;
                                            height: 30px;
                                        }
                                    }
                                    .right {
                                        padding-left: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
                .bell-icon {
                    padding: 0 2px;
                    padding-top: 1px;
                    &::after {
                        right: 15px !important;
                        top: 3px !important;
                    }
                    .dropdown {
                        .dropdown-menu {
                            min-width: 303px;
                            right: -21px !important;
                        }
                        .notification_drop_down {
                            .notification_head {
                                .notification_btns {
                                    .nav-tabs {
                                        .nav-item {
                                            .nav-link {
                                                &::after {
                                                    right: 14px;
                                                }
                                                &.notify-dot {
                                                    &::after{
                                                        right: 11px;
                                                    }
                                                    &.rqst{
                                                        &::after{
                                                            right: 25px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .tab-content {
                                        .friends_requestes {
                                            .request_hed {
                                                padding-bottom: 10px;
                                            }
                                            .show_requests {
                                                padding: 0 10px;
                                                max-height: 286px;
                                                .content {
                                                    .accepts_bten {
                                                        .left_confim {
                                                            ul {
                                                                li {
                                                                    .btn_prim {
                                                                        padding: 10px 26px !important;
                                                                    }
                                                                    .btn_prim-1 {
                                                                        padding: 10px 26px !important;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            .notifications {
                                                .show_notification {
                                                    max-height: 286px;
                                                    .notifi_list{
                                                        .img_area{
                                                            width: 40px;
                                                            height: 40px;
                                                        }
                                                        .named{
                                                            width: calc(100% - 40px);
                                                            padding-left: 10px;
                                                            .lke_cmt{
                                                                 &.request{
                                                                     .left{
                                                                        ul{
                                                                            li{
                                                                                margin-right: 7px;
                                                                                .lav_bg{
                                                                                    padding: 6px 13px;
                                                                                }
                                                                            }
                                                                        }
                                                                     }
                                                                 }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .user-img {
                    .img-wrap {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .header_section {
        .header_area {
            .left {
                .logo-box {
                    img {
                        width: 56px;
                    }
                }
            }
            .right {
                .seacrh-bar {
                    .form-group {
                        .search-input {
                            width: 140px;
                            height: rem(38);
                            padding: 0 rem(16);
                            padding-right: 41px;
                        }
                        a {
                            i {
                                font-size: rem(16);
                                right: rem(14);
                            }
                        }
                    }
                    ul {
                        li {
                            .searcher-filers {
                                .divider {
                                    .left {
                                        .img-wrap {
                                            width: 30px;
                                            height: 30px;
                                        }
                                    }
                                    .right {
                                        padding-left: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
                .bell-icon {
                    padding: 0 1px;
                    padding-top: 0px;
                    &::after {
                        right: 12px;
                        top: 2px;
                    }
                    .dropdown {
                        .dropdown-menu {
                            min-width: 296px;
                            right: -21px !important;
                        }
                        .notification_drop_down {
                            .notification_head {
                                .notification_btns {
                                    .nav-tabs {
                                        .nav-item {
                                            .nav-link {
                                                &::after {
                                                    right: 7px;
                                                }
                                            }
                                        }
                                    }
                                    .tab-content {
                                        .friends_requestes {
                                            .show_requests {
                                                max-height: 172px;
                                                .request_list {
                                                    .left {
                                                        width: 55px;
                                                    }
                                                    .content {
                                                        width: calc(100% -55px);
                                                    }
                                                }
                                            }
                                            .notifications {
                                                .show_notification {
                                                    max-height: 172px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .user-img {
                    .img-wrap {
                        width: 38px;
                        height: 38px;
                    }
                }
            }
        }
    }
}
