.modal {
    z-index: 99999;
    &.gallery {
        &.nodots {
            .carousel-indicators {
                display: none;
            }
        }
        .modal-header {
            background-color: transparent;
            top: 0;
            right: 0;
            z-index: 5;
            border: none;
            .btn-close {
                box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                opacity: 1;
                font-size: 20px;
                background-color: $white;
            }
        }

        .modal-dialog {
            .modal-content {
                border: none;
                box-shadow: $box-shadow;
                border-radius: 0px;
                position: relative;
                background-color: transparent;
                box-shadow: none;
                .modal-header {
                    .btn-close {
                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
                .modal-body {
                    padding: 0;
                    background-color: transparent;
                    .carousel {
                        .carousel-inner{
                            .carousel-item{
                                img{
                                    margin: 0 auto;
                                    max-width: 100%;
                                    position: relative;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                        .carousel-control-prev {
                            opacity: 1;
                            .carousel-control-prev-icon {
                                background-image: url("../../images/left-arrow.png");
                            }
                        }
                        .carousel-control-next {
                            opacity: 1;
                            .carousel-control-next-icon {
                                background-image: url("../../images/next.png");
                            }
                        }
                        .carousel-indicators [data-bs-target] {
                            background-color: $pink;
                        }
                        .carousel-control-next-icon,
                        .carousel-control-prev-icon {
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                }
            }
        }
        .modal-footer {
            justify-content: space-between;
            background-color: $lavender;
            button {
                color: #000;
                &.pink_bg {
                    color: $white;
                }
            }
        }
    }
    &.cropper {
        .image-editor-block {
            position: relative;
            background: #44444470;
            text-align: center;
            &.avatar {
                .cropper-crop-box {
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
            .cropper-body {
                min-height: 300px;
                img {
                    max-width: 100%;
                    max-height: 300px;
                }
                .cropper-container {
                    min-height: 300px;
                    max-height: 400px;
                }
            }
            .spinner {
                color: $pink;
                position: absolute;
                text-align: center;
                top: 40%;
                left: 45%;
                z-index: 222;
                font-size: 36px;
            }
            .image_zoom_slider {
                background-color: $lavender;
                justify-content: space-between;
                padding: 0 40px;

                .range_slider {
                    .range_area {
                        padding: 0 20px;
                        width: 448px;
                        max-width: 100%;
                        input[type="range"] {
                            -webkit-appearance: none;
                            width: 100%;
                            position: relative;

                            &:focus {
                                outline: none;
                                box-shadow: none;
                                &::-webkit-slider-thumb {
                                    // transform: scale(3);
                                    // transition: 0.5s all ease;
                                }
                            }
                            &:before {
                                position: absolute;
                                content: "";
                                width: var(--range);
                                height: 2px;
                                background: var(--second);
                            }
                        }

                        input[type="range"]::-webkit-slider-runnable-track {
                            background: var(--base);
                            height: 2px;
                            background-color: $black;
                            &:focus {
                                box-shadow: none;
                            }
                        }

                        input[type="range"]::-webkit-slider-thumb {
                            width: 10px;
                            height: 10px;
                            border-radius: 100%;
                            border: none;
                            -webkit-appearance: none;
                            background-color: $pink;
                            margin-top: -3.5px;
                            z-index: 99;
                            position: relative;
                            transition: 0.5s all ease;
                            background-color: $pink;
                            &:focus {
                                box-shadow: none;
                            }
                        }

                        #value {
                            position: absolute;
                            left: var(--range);
                            top: 41%;
                            font-size: 14px;
                            color: $pink;
                            background-color: $black;
                            // transition: 0.5s all ease; //goofy
                            transition: 0.5s color ease;
                        }
                    }
                    .range_btn {
                        i {
                            color: $pink;
                        }
                    }
                }
                i {
                    color: $pink;
                }
            }
        }
    }
    .modal-dialog {
        .modal-content {
            border: none;
            box-shadow: $box-shadow;
            border-radius: 14px;
            position: relative;
            .modal-header {
                .btn-close {
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
            .modal-body {
                padding: 0;
                .pop_post {
                    .story-post-wrap {
                        box-shadow: none;
                        background-color: transparent;
                        padding: 10px 20px;
                        margin-bottom: 10px;
                        .post_col {
                            box-shadow: none;
                            padding: 0;
                        }
                    }
                    .head {
                        padding: 10px;
                        h4 {
                            font-weight: 600;
                            font-size: 20px;
                        }
                        // p {
                        //     padding-top: 8px;
                        // }
                    }
                    .btnss {
                        text-align: center;
                        margin: 0 auto;
                        padding: 20px 0;
                        button {
                            margin-right: 10px;
                            &.report {
                                padding: 8px 20px;
                                border-radius: 10px;
                                border: 2px solid $lavender;
                            }
                            &.cancel {
                                padding: 8px 20px;
                                border-radius: 10px;
                                border: 2px solid $border-dark;
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                    .problems_list {
                        padding-top: 15px;
                        ul {
                            li {
                                margin-bottom: 15px;
                                padding: 10px 20px;
                                background-color: transparent;
                                cursor: pointer;
                                @include transition(0.3s ease);
                                &:hover {
                                    background-color: $lavender;
                                    @include transition(0.3s ease);
                                }
                                i {
                                    float: right;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .modal-body{
        .carousel{
            height: 800px;
            overflow: hidden;
            border-radius: 15px;
            .carousel-inner{
                height: 100%;
                .carousel-item{
                    height: 100%;
                    .video_boxes{
                        max-height: 100%;
                        height: 100%;
                    }
                    .player{
                        margin: 0 auto !important;
                        text-align: center !important;
                        
                        video{
                            width: 100% !important;
                           height: auto !important;
                           max-height: 100%;
                           position: relative;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    img{
                        margin: 0 auto;
                        max-width: 100%;
                        max-height: 100%;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    iframe{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .slide-media{
                        height: 100%;
                        border-radius: 15px;
                        overflow: hidden;
                        .played{
                            position: absolute;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            text-align: center;
                            top: 50%;
                            i{
                                color: $white;
                                font-size: 2rem;
                                &:hover{
                                    color: $lavender-2;
                                }
                            }
                        }
                    }
                }
            }
            .carousel-control-next-icon,
            .carousel-control-prev-icon {
                width: 2rem;
                height: 2rem;
            }
        }
    }
   
}

.share-modal{
    .modal-dialog{
        max-width: 650px;
    }
    .modal-body{
        padding-bottom: 20px !important;
        .pop_post{
            .post_col{
                min-width: auto;
                padding-top: 0;
                padding-bottom: 0;
                .post_time{
                    padding-top: 4px !important;
                }
                .main_post{
                    width: 100%;
                    background-color: #f1f1f1;
                    padding: 15px;
                    border-radius: 10px;
                    .share_post_head{
                        @include clearfix();
                        padding-bottom: 10px;
                        .before_post{
                            width: 50px;
                            float: left;
                        }
                        .post_head{
                            float: left;
                            width: calc(100% - 50px);
                            padding-left: 11px;
                            p{
                                .lav_dot {
                                    display: inline-block;
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 50%;
                                    margin-left: 16px;
                                    margin-right: 7px;
                                    color: #a5a5f5;
                                }
                                .comm{
                                    color: $lavender;
                                }
                            }
                        }
                    }
                }
                .post_body{
                    padding-top: 0px;
                    padding-left: 0;
                    padding-right: 0;
                    .post_tags{
                        padding-top: 0;
                        a{
                            .post_tag{
                                padding: 5px 10px !important;
                                margin-bottom: 5px !important;
                            }
                        }
                    }
                    .post_text{
                        padding-top: 8px;
                        word-break: break-word;
                        padding-bottom: 8px;
                        p{
                            padding-top: 0;
                        }
                    }
                    .post_img{
                        text-align: center;
                        position: relative;
                        .carousel{
                            .carousel-inner{
                                .carousel-item{
                                    text-align: center;
                                    .slide-media{
                                        &.video-thumb{
                                            img{
                                                width: auto;
                                                max-width: 100%;
                                                max-height: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.video_box{
                            img{}
                            .video_icon{
                                position: absolute;
                                top: 45%;
                                left: 0;
                                right: 0;
                                margin: 0 auto;
                                text-align: center;
                                i{
                                    color: #ffffff;
                                    font-size: 2rem;
                                }
                            }
                        }
                        img{
                            width: auto;
                            max-width: 100%;
                            height: auto;
                            max-height: 100%;
                        }
                        video,iframe{
                            border-radius: 15px;
                            overflow: hidden;
                            width: 100%;
                        }
                    }
                    .audio-player{
                        border-radius: 15px;
                    }
                    .post_img{
                        &.audio{
                            background: #eb6383;
                            border-radius: 10px;
                            .carousel{
                                height: auto !important;
                            }  
                        }
                        .carousel{
                            height: 400px;
                        }
                    }
                }
            }
            .share-body{
                padding: 0 30px;
                .search{
                    position: relative;
                    input{
                        width: 100%;
                        border: 1px solid $input-serach;
                        border-radius: 8px;
                        background-color: $input-serach;
                        padding: 5px 15px;
                        padding-left: 40px;
                        &:focus-visible{
                            border: none;
                            box-shadow: none;
                            outline: none;
                        }
                    }
                    .icon{
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding-left: 15px;
                        padding-top: 7px;
                    }
                }
                .title{
                    padding-bottom: 10px;
                    padding-top: 10px;
                    p{
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
                .show_suggested{
                    max-height: 230px;
                    overflow-y: auto;
                    &::-webkit-scrollbar {
                        width: 5px;
                        border-radius: 10px;
                        background-color: $border-light;
                    }
                    &::-webkit-scrollbar-track {
                        border-radius: 5px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: $lavender;
                        border-radius: 5px;
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background: $primary_color;
                    }
                    .share_suggestion{
                        margin-bottom: 15px;
                        @include clearfix();
                        .user_img{
                            float: left;
                            width: 40px;
                            img{
                                width: 40px;
                                height: 40px;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                        }
                        .user_name{
                            width: calc(100% - 50px);
                            padding-left: 14px;
                            float: left;
                            .left{
                                float: left;
                            }
                            .right{
                                float: right;
                                button{
                                    background-color: $lavender;
                                    border-radius: 5px;
                                    padding:4px 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .carousel {

            .carousel-control-prev {
                opacity: 1;
                .carousel-control-prev-icon {
                    background-image: url("../../images/left-arrow.png");
                }
            }
            .carousel-control-next {
                opacity: 1;
                .carousel-control-next-icon {
                    background-image: url("../../images/next.png");
                }
            }
            .carousel-indicators [data-bs-target] {
                background-color: $lavender;
            }
            .carousel-control-next-icon,
            .carousel-control-prev-icon {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
    .modal{
        .modal-body{
            .carousel{
                height: 800px;
            }
        }
    }
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1200px) and (max-width: 1399px) {
    .modal{
        .modal-body{
            .carousel{
                height: 550px;
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .modal{
        .modal-body{
            .carousel{
                height: 400px;
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .modal{
        .modal-body{
            .carousel{
                height: 450px;
            }
        }
    }
    .share-modal{
         .modal-body{
            .pop_post{
                .post_col{
                    .post_body{
                        .post_img{
                            .carousel{
                                height: 340px;
                            }
                        }
                    }
                }
            }
        }
    }
    .modal.cropper{
        .image-editor-block{
             .image_zoom_slider{
                .range_slider{
                    .range_area {
                    width: 300px;
                    }
                }
            }
        }
    }
}
/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .modal{
        .modal-body{
            .carousel{
                height: 250px;
            }
        }
    }
    .share-modal{
        .modal-body{
           .pop_post{
               .post_col{
                   .post_body{
                       .post_img{
                           .carousel{
                               height: 340px;
                           }
                       }
                   }
               }
           }
       }
   }
    .modal.cropper{
        .image-editor-block{
            .image_zoom_slider{
                .range_slider{
                    .range_area {
                    width: 300px;
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .modal-dialog {
        .modal-content {
            .modal-body {
                .pop_post {
                    .story-post-wrap {
                        .post_col {
                            &.select {
                                .main_post {
                                    .post-message {
                                        top: 0;
                                        .form-group {
                                            .message {
                                                padding-left: 15px;
                                                padding-right: 15px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .carousel-indicators{
                    display: none;
                }
            }
        }
    }
    .share-modal{
        .modal-body{
            .pop_post{
                .post_col{
                    .post_body{
                        .post_img{
                            &.audio{
                                .audio-player{
                                    .bar{
                                        padding: 0 19px;
                                    }
                                }
                            }
                            .carousel{
                                height: 300px;
                            }
                        }
                    }
                    .main_post{
                        .share_post_head{
                            .post_head{
                                p{ 
                                    .lav_dot{
                                        margin-left: 10px;
                                        width: 7px;
                                        height: 7px;
                                        margin-right: 6px;
                                    }
                                    .comm{
                                        font-size: 13px;
                                    }
                                }
                            }
                            .before_post{
                                width: 38px;
                            }
                            p{
                                padding-top: 0;
                            }
                        }
                    }
                }
            }
            .carousel{
                height: 210px;
            }
        }
    }
    .modal{
        .modal-body{
            .carousel{
                height: 360px;
            }
        }
    }
    .modal.cropper{
        .image-editor-block{
            .image_zoom_slider{
                padding: 0 24px;
                .range_slider{
                    .range_area {
                    width: 172px;
                    }
                    .text-right{
                        padding-left: 0;
                    }
                }
                .text-right{
                    padding-left: 20px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .modal-dialog {
        .modal-content {
            .modal-body {
                .pop_post {
                    .story-post-wrap {
                        .post_col {
                            &.select {
                                .main_post {
                                    padding-top: 15px !important;
                                    .post-message {
                                        top: 0;
                                        .form-group {
                                            .message {
                                                padding-left: 15px;
                                                padding-right: 15px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .carousel-indicators{
                    display: none;
                }
            }
        }
    }
    .share-modal{
        .modal-body{
            .pop_post{
                .post_col{
                    .post_body{
                        .post_img{
                            &.audio{
                                .audio-player{
                                    .bar{
                                        padding: 0 19px;
                                    }
                                }
                            }
                            .carousel{
                                height: 320px;
                            }
                        }
                    }
                    .main_post{
                        .share_post_head{
                            .post_head{
                                padding-left: 4px;
                                p{ 
                                    .lav_dot{
                                        margin-left: 10px;
                                        width: 7px;
                                        height: 7px;
                                        margin-right: 6px;
                                    }
                                    .comm{
                                        font-size: 13px;
                                    }
                                }
                            }
                            .before_post{
                                width: 41px;
                            }
                            p{
                                padding-top: 0;
                            }
                        }
                    }
                }
            }
            .carousel{
                height: 210px;
            }
        }
    }
    .modal{
        .modal-body{
            .carousel{
                height: 340px;
            }
        }
    }
    .modal.cropper{
        .image-editor-block{
            .image_zoom_slider{
                padding: 0 24px;
                .range_slider{
                    .range_area {
                    width: 172px;
                    }
                    .text-right{
                        padding-left: 0;
                    }
                }
                .text-right{
                    padding-left: 20px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .share-modal{
        .modal-body{
            .pop_post{
                .post_col{
                    .post_body{
                        .post_img{
                            .carousel{
                                height: 290px;
                            }
                        }
                    }
                }
            }
            .carousel{
                height: 210px;
            }
        }
    }
}
