@import "../base/variable.scss";
@import "../base/mixins.scss";


.phoneside{
    .head{
        position: relative;
        background-color: $lavender;
        padding: 12px 0;
        h6{
            font-size: 20px;
            font-weight: 600;
        }
        .icon-Back{
            position: absolute;
            top: 25%;
            left: 0;
            padding-left: 10px;
            i{
                font-size: 20px;
            }
        }
    }
    .profile{
        padding-top: 20px;
        ul{
           
            li{
                // border-bottom: 1px solid $border-dark;
                padding: 10px;
                a{
                    font-size: 15px;
                    display: block;
                    .useree{
                        @include clearfix();
                        display: flex;
                        align-items: center;
                        .left{
                            width: 60px;
                            float: left;
                            .user-img{
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                overflow: hidden;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                        .right{
                            width: calc(100% - 60px);
                            float: left;
                            padding-left: 10px;
                            p{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}










/* Extra Huge large desktops */
@media (min-width: 1920px){
    
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px){
    
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px){
    
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px){
    
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
	
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
	.phoneside{
        .profile{
            ul{
                li{
                    a{
                        .useree{
                            .right{
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
	.phoneside{
        .profile{
            ul{
                li{
                    a{
                        .useree{
                            .right{
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
	.phoneside{
        .profile{
            ul{
                li{
                    a{
                        .useree{
                            .right{
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    
}