@import "../base/variable.scss";
@import "../base/mixins.scss";
.home_section {
    padding-top: 110px;
    // padding-bottom: 100px;
    .profile_section {
        .left-side {
            .pages {
                ul {
                    li {
                        margin-bottom: 12px;
                        padding-left: 20px !important;
                        padding: 13px 0;
                        background-color: transparent;
                        border-radius: 10px;
                        text-align: left;
                        @include transition(0.3s all);
                        &.active {
                            background-color: $lavender;
                            box-shadow: $box-shadow;
                            @include transition(0.3s all);
                        }
                        &:hover {
                            background-color: $lavender;
                            box-shadow: $box-shadow;
                            @include transition(0.3s all);
                        }
                        img {
                            padding-right: 30px;
                            text-align: left;
                        }
                    }
                }
            }
            .chats {
                border-radius: 15px;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                margin-top: 40px;
                background-color: $white;
                box-shadow: 3.536px 3.536px 35px 0px rgba(48, 28, 65, 0.1);
                padding: 20px 0;
                @include clearfix;
                .chat-head {
                    padding: 12px 20px;
                    @include clearfix;
                    border-bottom: 1px solid $border-light;
                    .name {
                        float: left;
                        p {
                            font-size: 16px;
                            color: $dull-text;
                        }
                        .notification_drop_down {
                            span {
                                color: $pink;
                            }
                            .notification_head {
                                h5 {
                                    font-size: 18px;
                                    font-weight: 600;
                                    padding: 22px 12px 22px 26px;
                                    border-bottom: 1px solid $black;
                                }
                            }
                        }
                        .dropdown {
                            .btn-primary {
                                background-color: transparent;
                                color: $black;
                                &:focus {
                                    border: none;
                                    box-shadow: none;
                                }
                            }
                            .dropdown-toggle {
                                //  &::after{
                                //      content: none;
                                //  }
                            }
                            .dropdown-menu {
                                // float: right;
                                // inset: unset !important;
                                // transform: unset !important;
                                // right: 0 !important;
                                border: none;
                                // padding: 10px 15px;
                                border-radius: 10px;
                                box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
                                    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                                overflow: hidden;
                                .dropdown-item {
                                    padding: 8px 15px;
                                    &:hover {
                                        background-color: $lavender;
                                    }
                                    &:focus {
                                        background-color: transparent;
                                    }
                                    &:active {
                                        background-color: transparent;
                                        color: unset;
                                    }
                                }
                            }
                        }
                    }
                    .icon {
                        float: right;
                    }
                    .inputer {
                        @include clearfix();
                        width: 100%;
                        input {
                            width: 100%;
                            border: none;
                            border-radius: 10px;
                            background-color: $input-serach;
                            padding: 0 10px;
                            height: 34px;
                            font-size: 14px;
                            &:focus-visible {
                                box-shadow: none;
                                border: none;
                                outline: none;
                            }
                        }
                    }
                }
                .chat-users {
                    padding: 22px;
                    padding-right: 10px;
                    ul {
                        max-height: 300px;
                        overflow-y: auto;
                        padding-right: 10px;
                        &::-webkit-scrollbar {
                            width: 4px;
                            border-radius: 10px;
                            background-color: $border-light;
                        }
                        &::-webkit-scrollbar-track {
                            border-radius: 4px;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: $lavender;
                            border-radius: 4px;
                        }
                        &::-webkit-scrollbar-thumb:hover {
                            background: $primary_color;
                        }
                        li {
                            margin-bottom: 15px;
                            .users {
                                @include clearfix;
                                .user-img {
                                    float: left;
                                    position: relative;
                                    margin-right: 20px;
                                    &.online {
                                        &::after {
                                            position: absolute;
                                            content: "";
                                            background-color: $dark-green;
                                            width: 12px;
                                            height: 12px;
                                            border-radius: 50%;
                                            bottom: 0;
                                            right: 0;
                                            z-index: 1;
                                        }
                                    }
                                    &.offline {
                                        &::after {
                                            position: absolute;
                                            content: "";
                                            background-color: $red;
                                            width: 12px;
                                            height: 12px;
                                            border-radius: 50%;
                                            bottom: 0;
                                            right: 0;
                                            z-index: 1;
                                        }
                                    }
                                    img {
                                        width: 40px;
                                        height: 40px;
                                        border-radius: 50%;
                                        overflow: hidden;
                                    }
                                }
                                .name-detail {
                                    float: left;

                                    @include clearfix;
                                    .name {
                                        p {
                                            font-size: 14px;
                                        }
                                    }
                                    .messge {
                                        &.ago {
                                            span {
                                                color: $dull-text;
                                            }
                                        }
                                        span {
                                            font-size: 12px;
                                            font-weight: 500;
                                        }
                                    }
                                }
                                .time {
                                    float: right;

                                    i {
                                        float: right;
                                    }
                                    .online {
                                        position: relative;
                                        @include clearfix();
                                        &::after {
                                            position: absolute;
                                            content: "";
                                            background-color: $pink;
                                            width: 12px;
                                            height: 12px;
                                            border-radius: 50%;
                                            top: 0;
                                            right: 0;
                                        }
                                    }
                                    .time-view {
                                        padding-top: 20px;
                                        &.ago {
                                            p {
                                                color: $dull-text;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .community_suggestions {
                margin-top: 40px;
                border-radius: 15px;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                background-color: $white;
                box-shadow: 3.536px 3.536px 35px 0px rgba(48, 28, 65, 0.1);
                padding: 20px 0;
                @include clearfix();
                .community-head {
                    padding: 12px 22px;
                    border-bottom: 1px solid $border-light;
                    @include clearfix();
                    .name {
                        float: left;
                        p {
                            color: $dull-text;
                            font-size: 14px;
                        }
                    }
                    .icon {
                        float: right;
                    }
                }
                .suggestion_list {
                    padding: 22px 22px;
                    ul {
                        li {
                            padding-bottom: 16px;
                            @include clearfix();
                            &:last-child {
                                padding-bottom: 0;
                            }
                            .img_area {
                                width: 45px;
                                height: 45px;
                                border-radius: 50%;
                                overflow: hidden;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                            .name {
                                float: left;
                                padding-left: 20px;
                            }
                        }
                    }
                }
            }
            .side-footer {
                margin-top: 40px;
                ul {
                    li {
                        display: inline-block;
                        color: $dull-text;
                        padding-right: 10px;
                        font-size: 14px;
                        position: relative;
                        padding-left: 11px;
                        &:first-child {
                            padding-left: 0;
                            @include clearfix();
                            &::after {
                                content: none;
                                @include clearfix();
                            }
                        }
                        &::after {
                            position: absolute;
                            content: "";
                            background-color: $list-style;
                            width: 7px;
                            height: 7px;
                            border-radius: 50%;
                            left: 0;
                            bottom: 5px;
                        }
                    }
                }
            }
        }
    }
    //take this out of side bar styles
    .chatbox_section {
        position: fixed;
        left: auto;
        right: 0;
        bottom: 0;
        width: auto;
        z-index: 99;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .chat-sets {
            max-width: 420px;
            min-width: 420px;
            margin-right: 10px;
            &:last-child {
                margin-right: 0 !important;
            }
            &.miniminze {
                height: 54px;
                .icon {
                    .minimize {
                        display: none;
                    }
                }
                .dropdown {
                    button {
                        width: 90%;
                        &.dropdown-toggle {
                            &:after {
                                visibility: hidden;
                            }
                        }
                    }
                }
            }
            .chat_area {
                background-color: $white;
                box-shadow: 3.536px 3.536px 35px 0px rgba(48, 28, 65, 0.1);
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                overflow: hidden;
                .chat-head {
                    @include clearfix();
                    .dropdown {
                        background-color: $lavender;
                        position: relative;
                        @include clearfix();
                        padding: 15px 30px;
                        button {
                            padding: 0;
                            width: calc(100% - 70px);
                            float: left;
                            &.btn-primary {
                                background-color: transparent;
                            }
                            &.dropdown-toggle {
                                &::after {
                                    display: none;
                                }
                                &:focus {
                                    box-shadow: none;
                                }
                            }
                        }
                        .icon {
                            // position: absolute;
                            // right: 20px;
                            // top: 20px;
                            width: 70px;
                            float: right;
                            i {
                                color: $black;
                                font-size: 20px;
                            }
                            a {
                                margin-right: 20px;
                                &:last-child {
                                    margin-right: 0;
                                    i{
                                       position: relative;
                                       top: 5px;
                                    }
                                }
                            }
                        }
                        .dropdown-menu {
                            box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
                            border: none;
                            border-radius: 6px;
                            padding: 10px 5px;
                            transform: translate(27px, 55px) !important;
                            overflow: hidden;
                            a {
                                &.red {
                                    color: $youtube;
                                }
                            }
                            .dropdown-item {
                                font-size: 14px;
                                margin-bottom: 5px;
                                color: $black;
                                font-weight: 600;
                                border-radius: 5px;
                                min-width: 181px;
                                &:hover {
                                    background-color: rgba($color: $lavender, $alpha: 0.6);
                                }
                                &:last-child {
                                    margin-bottom: 0;
                                }

                                i {
                                    font-size: 14px;
                                    padding-right: 5px;
                                    padding-right: 10px;
                                    color: $black;
                                    font-weight: 400;
                                    &.bin {
                                        font-size: 16px;
                                    }
                                    &.red {
                                        color: $youtube;
                                    }
                                }
                            }
                        }
                        .head-set {
                           
                            @include clearfix();
                            .img_box {
                                float: left;
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                overflow: hidden;
                                img {
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                            .name {
                                float: left;
                                padding-left: 15px;
                                padding-top: 6px;
                            }
                        }
                    }
                }
                .chat_box {
                    height: 450px;
                    position: relative;
                    .lets_chat {
                        padding: 20px 20px 42px 20px;
                        max-height: 386px;
                        overflow-y: auto;
                        overflow-x: hidden;
                        &::-webkit-scrollbar {
                            width: 4px;
                            border-radius: 10px;
                            background-color: $border-light;
                        }
                        &::-webkit-scrollbar-track {
                            border-radius: 4px;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: $lavender;
                            border-radius: 4px;
                        }
                        &::-webkit-scrollbar-thumb:hover {
                            background: $primary_color;
                        }
                        .audio-player{
                            width: 500px !important;
                            border-radius: 9px;
                            height: 100%;
                            .bar{
                                .bar__time{
                                    font-size: 14px !important;
                                }
                            }
                        }
                        .chat_date {
                            font-size: 12px;
                            color: #444;
                            padding: 10px;
                            text-align: center;
                        }
                        .loading {
                            text-align: center;
                            padding: 10px;
                            color: $primary_color;
                            font-size: 14px;
                        }
                        .chat_box_left {
                            .chat-do {
                                margin-bottom: 10px;
                                @include clearfix();
                                display: flex;
                                align-items: end;
                                -webkit-align-items:flex-end;
                               
                                .left {
                                    width: 40px;
                                    float: left;
                                    .user-img {
                                        width: 40px;
                                        height: 40px;
                                        border-radius: 50%;
                                        overflow: hidden;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }
                                }
                                .conversation {
                                    width: calc(100% - 40px);
                                    float: left;
                                    padding-left: 10px;
                                    position: relative;
                                    display: flex;
                                    -ms-justify-content: start;
                                    -webkit-justify-content:start;
                                    -webkit-justify-content:flex-end;
                                    -webkit-align-items:flex-end;
                                    align-items: end;
                                    justify-content: start;
                                    .msg {
                                        float: left;
                                        background-color: $read;
                                        padding: 10px;
                                        max-width: 245px;
                                        width: auto;
                                        border-radius: 10px;
                                        border-bottom-left-radius: 0;
                                        share{
                                            background-color: #f1f1f1;
                                            display: block;
                                            padding: 10px;
                                            img{
                                                 margin-bottom: 4px;
                                                 border-radius: 5px;
                                             }
                                            p{
                                                margin: 2px 0px;
                                                &:nth-last-of-type(1){
                                                     font-size: 12px;
                                                }
                                            }
                                            .audio-media{
                                             margin: 0 auto;
                                             text-align: center;
                                             display: block;
                                             background: rgb(235, 99, 131);
                                             border-radius: 9px;
                                             height: 100px;
                                             line-height: 114px;
                                             i{
                                                 color: $white;
                                                 font-size: 32px;
                                                font-weight: 600;
                                             }
                                            }
                                        }
                                        p,
                                        div.post_img {
                                            max-width: 100%;
                                            white-space: pre-line;
                                            word-wrap: break-word;
                                            border-radius: 9px;
                                            min-width: 100%;
                                        }
                                        p{

                                        }
                                        div.post_img {
                                            &.audio_box {
                                                height: 100px;
                                            }
                                            height: 155px;
                                            min-width: 200px;
                                            max-width: 200px;
                                            overflow: hidden;
                                            position: relative;
                                            width: 100%;
                                            text-align: center;
                                           
                                            img {
                                                object-fit: cover;
                                                width: 100%;
                                                height: 100%;
                                                min-width: 100%;
                                                max-width: 100%;
                                            }
                                            .video_icon {
                                                position: absolute;
                                                top: 35%;
                                                left: 0;
                                                right: 0;

                                                a {
                                                    i {
                                                        background-color: $lavender;
                                                        width: 50px;
                                                        height: 50px;
                                                        line-height: 50px;
                                                        border-radius: 50%;
                                                        margin: 0 auto;
                                                        color: $white;
                                                        font-size: 20px;
                                                        text-align: center;
                                                        display: block;
                                                    }
                                                }
                                            }
                                        }

                                        .post_sender{
                                            span{
                                                display: block;
                                                border-radius: 9px;
                                                img{
                                                    width: 100%;
                                                }
                                            }
                                        }
                                        
                                    }
                                    .time {
                                        float: left;
                                        padding-left: 7px;
                                        p {
                                            font-size: 11px;
                                            color: #aeaeae;
                                        }
                                    }
                                }
                            }
                        }
                        .chat_box_right {
                            .chat-do {
                                margin-bottom: 10px;
                                @include clearfix();
                                display: flex;
                                align-items: end;
                                justify-content: flex-end;
                                    justify-content: end;
                                    -ms-justify-content: end;
                                    -webkit-justify-content:end;
                                    -webkit-justify-content:right;
                                .left {
                                    width: 40px;
                                    float: left;
                                    margin-left: 10px;
                                    .user-img {
                                        width: 40px;
                                        height: 40px;
                                        border-radius: 50%;
                                        overflow: hidden;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }
                                }
                                .conversation {
                                    width: calc(100% - 40px);
                                    float: right;
                                    position: relative;
                                    display: flex;
                                    justify-content: flex-end;
                                    justify-content: end;
                                    -ms-justify-content: end;
                                    -webkit-justify-content:end;
                                    -webkit-justify-content:flex-end;
                                    -webkit-align-items:flex-end;
                                    align-items: end;
                                    .msg {
                                        float: left;
                                        background-color: $lavender;
                                        max-width: 245px;
                                        padding: 10px;
                                        border-radius: 10px;
                                        border-bottom-right-radius: 0;
                                       share{
                                           background-color: #f1f1f1;
                                           display: block;
                                           padding: 10px;
                                           img{
                                                margin-bottom: 4px;
                                            }
                                           p{
                                               margin: 2px 0px;
                                               &:nth-last-of-type(1){
                                                    font-size: 12px;
                                               }
                                           }
                                           .audio-media{
                                            margin: 0 auto;
                                            text-align: center;
                                            display: block;
                                            background: rgb(235, 99, 131);
                                            border-radius: 9px;
                                            height: 100px;
                                            line-height: 114px;
                                            i{
                                                color: $white;
                                                font-size: 32px;
                                                font-weight: 600;
                                            }
                                           }
                                       }
                                        p,
                                        div.post_img {
                                            max-width: 100%;
                                            white-space: pre-line;
                                            word-wrap: break-word;
                                            min-width: 100%;
                                            a {
                                                text-decoration: none;
                                                color: #0d6efd;
                                            }
                                        }
                                        div.post_img {
                                            &.audio_box {
                                                height: 100px;
                                            }
                                            height: 155px;
                                            overflow: hidden;
                                            position: relative;
                                            width: 100%;
                                            border-radius: 9px;
                                            max-width: 200px;
                                            min-width: 200px;
                                            img {
                                                object-fit: cover;
                                                width: 100%;
                                                height: 100%;
                                                max-width: 100%;
                                                min-width: 100%;

                                            }
                                            .video_icon {
                                                position: absolute;
                                                top: 35%;
                                                left: 0;
                                                right: 0;

                                                a {
                                                    i {
                                                        background-color: $lavender;
                                                        width: 50px;
                                                        height: 50px;
                                                        line-height: 50px;
                                                        border-radius: 50%;
                                                        margin: 0 auto;
                                                        color: $white;
                                                        font-size: 20px;
                                                        text-align: center;
                                                        display: block;
                                                    }
                                                }
                                            }
                                        }
                                        .post_sender{
                                            span{
                                                display: block;
                                               
                                                img{
                                                    width: 100%;
                                                    border-radius: 9px;
                                                }
                                            }
                                        }
                                        
                                    }
                                    .time {
                                        float: left;
                                        padding-right: 7px;
                                        text-align: right;
                                        p {
                                            font-size: 11px;
                                            color: #aeaeae;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .chat_write {
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        right: 0;
                        border-top: 1px solid $border-light;
                        padding: 0 10px;
                        padding-top: 10px;
                        background-color: $white;
                        .react-input-emoji--input {
                            max-height: 60px;
                        }
                        .block {
                            border-color: #ff0000;
                            color: #ff0000;
                            transition: 0.3s ease;
                            padding: 4px 0px;
                            border-radius: 8px;
                            margin-left: 5px;
                            text-align: center;
                            font-size: 14px;
                            width: 85px;
                            border: 1px solid;
                            &:hover {
                                background-color: rgba(255, 0, 0, 0.7);
                                border-color: rgba(255, 0, 0, 0.7);
                                color: #ffffff;
                                transition: 0.3s ease;
                            }
                        }
                        .add {
                            width: 36px;
                            float: left;
                            &.send {
                                i {
                                    @include rotate(56deg);
                                    padding-top: 0px;
                                }
                            }
                            i {
                                background-color: $lavender;
                                width: 36px;
                                height: 36px;
                                border-radius: 50%;
                                line-height: 36px;
                                text-align: center;
                                display: block;
                            }
                        }
                        .message {
                            width: calc(100% - 72px);
                            float: left;
                            padding: 0 15px;
                            .react-emoji {
                                width: 100%;
                                position: relative;
                                margin: 0px;
                                .react-input-emoji--container {
                                    position: relative;
                                    border: none;
                                    margin-top: 0;
                                    margin: 0;
                                    .react-input-emoji--input {
                                        padding-right: 38px;
                                        background-color: #f1f1f1;
                                        border-radius: 6px;
                                        border: none;
                                    }
                                }
                                .react-input-emoji--button {
                                    position: absolute;
                                    top: 6px;
                                    right: 0;
                                    padding-right: 5px;
                                    z-index: 3;
                                    svg {
                                        fill: transparent;
                                    }
                                }
                                .react-emoji-picker--container {
                                }
                            }
                            aside.emoji-picker-react{
                                overflow: hidden;
                            }
                            aside.emoji-picker-react .content-wrapper{
                                flex: unset;
                            }
                            .emoji-picker-react .emoji-scroll-wrapper{
                                height: 230px;
                            }
                            .dropdown-menu{
                                padding: 0;
                                border: none;
                                inset: unset;
                                transform: unset;
                                top: -273px;
                                left: -247px;
                            }
                            label{
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                                overflow: hidden;
                                textarea{
                                    width: 100%;
                                    background-color: $border-light;
                                    border: none;
                                    max-height: 44px;
                                    resize: none;
                                    border-radius: 10px;
                                    word-break: break-all;
                                    padding: 3px 8px;
                                    padding-right: 31px;
                                    &:focus-visible{
                                        border: none;
                                        outline: none;
                                    }
                                }
                            }
                            
                            .error-msg {
                                background: $primary_color;
                                color: $white;
                                padding: 10px 10px;
                                position: absolute;
                                top: 11px;
                                z-index: 11;
                                border-radius: 5px;
                                width: 82%;
                                font-size: 12px;
                                box-shadow: 1px 3px 10px 0px $primary_color;
                                i {
                                    float: right;
                                    font-size: 18px;
                                }
                            }
                            .floatimg {
                                position: absolute;
                                top: 0;
                                transform: translateY(-50%);
                                right: 66px;
                                width: rem(25);
                                z-index: 1;
                                padding-top: 56px;
                                img {
                                    max-width: 100%;
                                }
                            }
                        }
                        .add {
                            width: 36px;
                            float: left;
                            &:hover {
                                .category {
                                    display: block;
                                }
                            }
                            &.send {
                                i {
                                    @include rotate(56deg);
                                    padding-top: 0px;
                                }
                            }
                            i {
                                background-color: $lavender;
                                width: 36px;
                                height: 36px;
                                border-radius: 50%;
                                line-height: 36px;
                                text-align: center;
                                display: block;
                            }
                        }
                        .category {
                            display: none;
                            position: absolute;
                            left: 11px;
                            bottom: 40px;
                            ul {
                                border-radius: 20px;
                                background-color: $border-light;
                                overflow: hidden;
                                li {
                                    padding: 5px 10px;
                                    &:hover {
                                        background-color: #e2e2e2e2;
                                        cursor: pointer;
                                    }
                                    &:first-child {
                                        padding-top: 5px;
                                    }
                                    &:last-child {
                                        padding-bottom: 5px;
                                    }
                                    img{
                                        width: 18px;
                                        height: 18px;
                                    }
                                }
                            }
                        }
                        .accepts-btt {
                            text-align: center;
                            margin: 0 auto;
                            button {
                                margin-right: 10px;
                                &:last-child {
                                    margin-right: 0;
                                }
                                &.accept {
                                    width: 48%;
                                    height: 40px;
                                    line-height: 40px;
                                    text-align: center;
                                    border-radius: 10px;
                                    border: 2px solid transparent;
                                    @include transition(0.4s ease);
                                }
                                &.dlt {
                                    border-color: $border-light;
                                    @include transition(0.4s ease);
                                    &:hover {
                                        background-color: $red;
                                        @include transition(0.4s ease);
                                        border-color: $red;
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .react-emoji-picker--wrapper{
            right: -4px !important;
            overflow: unset !important;
        }
    }
}
.chatev {
    position: sticky;
    z-index: 1;
    .chats {
        border-radius: 15px;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        background-color: $white;
        box-shadow: 3.536px 3.536px 35px 0px rgba(48, 28, 65, 0.1);
        padding: 20px 0;
        @include clearfix;
        .chat-head {
            padding: 12px 15px;
            @include clearfix;
            border-bottom: 1px solid $border-light;
            position: relative;
            .name {
                float: left;
                p {
                    font-size: 16px;
                    color: $dull-text;
                }
                .notification_drop_down {
                    span {
                        color: $pink;
                    }
                    .notification_head {
                        h5 {
                            font-size: 18px;
                            font-weight: 600;
                            padding: 22px 12px 22px 26px;
                            border-bottom: 1px solid $black;
                        }
                    }
                }
                .dropdown {
                    .btn-primary {
                        background-color: transparent;
                        color: $black;
                        &:focus {
                            border: none;
                            box-shadow: none;
                        }
                    }
                    .dropdown-toggle {
                        //  &::after{
                        //      content: none;
                        //  }
                    }
                    .dropdown-menu {
                        // float: right;
                        // inset: unset !important;
                        // transform: unset !important;
                        // right: 0 !important;
                        border: none;
                        // padding: 10px 15px;
                        border-radius: 10px;
                        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                        overflow: hidden;
                        .dropdown-item {
                            padding: 8px 15px;
                            &:hover {
                                background-color: $lavender;
                            }
                            &:focus {
                                background-color: transparent;
                            }
                            &:active {
                                background-color: transparent;
                                color: unset;
                            }
                        }
                    }
                }
            }
            .icon {
                float: right;
                padding-top: 0px;
                a {
                    i {
                        font-size: 14px;
                    }
                }
            }
            .inputer {
                @include clearfix();
                width: 84%;
                position: absolute;
                left: 0;
                right: 0;
                padding-left: 16px;
                top: 7px;
                input {
                    width: 100%;
                    border: none;
                    border-radius: 10px;
                    background-color: $input-serach;
                    padding: 0 10px;
                    height: 34px;
                    &:focus-visible {
                        box-shadow: none;
                        border: none;
                        outline: none;
                    }
                }
            }
        }
        .chat-users {
            padding-bottom: 10px;
            ul {
                max-height: 350px;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    width: 4px;
                    border-radius: 10px;
                    background-color: $border-light;
                }
                &::-webkit-scrollbar-track {
                    border-radius: 4px;
                }
                &::-webkit-scrollbar-thumb {
                    background: $lavender;
                    border-radius: 4px;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: $primary_color;
                }
                li {
                    padding-right: 10px;
                    padding-left: 10px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    cursor: pointer;
                    &.highlight-chat {
                        background: #ebe5c766;
                        .name{
                            p {
                                font-weight: 900;
                            }
                        }
                    }
                    .users {
                        @include clearfix;

                        .user-img {
                            float: left;
                            position: relative;
                            width: 40px;
                            &.online {
                                &::after {
                                    position: absolute;
                                    content: "";
                                    background-color: $dark-green;
                                    width: 12px;
                                    height: 12px;
                                    border-radius: 50%;
                                    bottom: 0;
                                    right: 0;
                                    z-index: 1;
                                }
                            }
                            &.offline {
                                &::after {
                                    position: absolute;
                                    content: "";
                                    background-color: $red;
                                    width: 12px;
                                    height: 12px;
                                    border-radius: 50%;
                                    bottom: 0;
                                    right: 0;
                                    z-index: 1;
                                }
                            }
                            img {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                overflow: hidden;
                                object-fit: cover;
                            }
                        }
                        .name-detail {
                            float: left;
                            width: calc(100% - 40px);
                            padding-left: 15px;

                            @include clearfix;
                            .name {
                                p {
                                    font-size: 14px;
                                    word-break: break-all;
                                }
                            }
                            .timed{
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-end;
                                align-items: end;;
                            }
                            .messge {
                                float: left;
                                width: 118px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                &.ago {
                                    span {
                                        color: $dull-text;
                                        word-break: break-all;
                                    }
                                }
                                span {
                                    font-size: 12px;
                                    font-weight: 500;
                                    word-break: break-all;
                                }
                            }
                            .time {
                                float: right;
                                text-align: end;
                                width: calc(100% - 118px);
                                i {
                                    float: right;
                                }
                                .online {
                                    position: relative;
                                    @include clearfix();
                                    &::after {
                                        position: absolute;
                                        content: "";
                                        background-color: $pink;
                                        width: 12px;
                                        height: 12px;
                                        border-radius: 50%;
                                        top: 0;
                                        right: 0;
                                    }
                                }
                                .time-view {
                                    p{
                                        font-size: 12px;
                                        position: relative;
                                    }
                                    &.ago {
                                        p {
                                            color: $dull-text;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-height: 600px) {
    .home_area {
        .col-xl-3{
            .sticky-top{
                position: static;
            }
        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
    .home_section {
    }
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
    .home_section {
        .chatbox_section{
            .chat-sets{
            max-width: 418px;
            min-width: 418px;
            }
        }
    }
}
/* Extra large desktops and mac laptops*/
@media (min-width: 1200px) and (max-width: 1399px) {
    .home_section {
        .profile_section {
            .left-side {
                // .community_suggestions{
                //     position: sticky;
                //     top: 0;
                // }
                // .side-footer{
                //     position: sticky;
                //     top: 412px;
                // }
                .pages{
                    ul{
                        li{
                          padding: 6px 13px;
                        }
                    }
                }
                .community_suggestions{
                    margin-top: 15px;
                }
            }
        }
        .chatbox_section{
             .chat-sets{
                max-width: 418px;
                min-width: 418px;
             }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .home_section {
        .profile_section {
            // position: unset;
            // height: 100%;
            .story-post {
                .community_suggestions {
                    .community-head {
                        .name {
                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .left-side {
                // height: 100%;
                .pages {
                    ul {
                        li {
                            padding: 6px 10px;
                        }
                    }
                }
                .chats {
                    margin-top: 20px;
                    .chat-users {
                        ul {
                            height: 230px;
                        }
                    }
                }
                .community_suggestions{
                   margin-top: 15px;
                }
                // .side-footer{
                //     margin-top: 20px;
                //     position: sticky;
                //     top: 340px;
                // }
            }
        }
    }
    .chatev {
        .chats {
            .chat-users {
                padding-left: 0px;
                ul {
                    padding-right: 0;
                    li {
                        .users {
                            .name-detail {
                                .messge {
                                    width: 96px;
                                }
                                .time {
                                    width: calc(100% - 96px);
                                    .time-view {
                                        p {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .home_section {
        .profile_section {
            // position: unset;
            // height: 100%;
            .left-side {
                // height: 100%;
                // .community_suggestions {
                //     position: sticky;
                //     top: 0;
                //     .community-head {
                //         .name {
                //             p {
                //                 font-size: 14px;
                //             }
                //         }
                //     }
                //     .suggestion_list {
                //         ul {
                //             height: 230px;
                //             li {
                //                 .img_area {
                //                     width: 40px;
                //                     height: 40px;
                //                     border-radius: 50%;
                //                     overflow: hidden;
                //                     img {
                //                         width: 100%;
                //                         height: 100%;
                //                         object-fit: cover;
                //                     }
                //                 }
                //             }
                //         }
                //     }
                // }
                .chats {
                    margin-top: 20px;
                    .chat-users {
                        ul {
                            height: 230px;
                        }
                    }
                }
                // .side-footer{
                //     margin-top: 20px;
                //     position: sticky;
                //     top: 340px;
                // }
                .pages{
                    ul{
                        li{
                          padding: 6px 13px;
                        }
                    }
                }
                .community_suggestions{
                    margin-top: 15px;
                }
            }
        }
        .chatbox_section{
            .chat-sets{
                max-width: 418px;
                min-width: 418px;
                .chat_area{
                    .chat_box{
                        .lets_chat{
                            .audio-player{
                                .controls{
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .home_section {
        padding-top: 110px;
        .profile_section {
            .left-side {
                .chats {
                    .chat-head {
                        padding: 22px 10px;
                    }
                    .chat-users {
                        padding: 22px 10px;
                        ul {
                            li {
                                .time {
                                    .time-view {
                                        padding-top: 25px !important;
                                    }
                                }
                            }
                        }
                    }
                }
                .community_suggestions {
                    .community-head {
                        position: relative;
                        padding: 20px 10px;
                        .name {
                            p {
                                font-size: 14px;
                            }
                        }
                        .icon {
                            position: absolute;
                            right: 9px;
                            top: 20px;
                            z-index: 1;
                        }
                    }
                    .suggestion_list {
                        padding: 22px 10px;
                        ul {
                            li {
                                .img_area {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .chatbox_section {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            height: auto;
            z-index: 9999;
            .chat-sets {
                max-width: 100%;
                min-width: 100%;
                height: 100%;
                .chat-wrap-aread{
                    height: 100%;
                }
                .chat_area {
                    height: 100%;
                    .chat-head {
                        .dropdown {
                            .icon {
                                float: right;
                                a {
                                    float: right;
                                    &:first-child {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    .chat_box {
                        height: 100%;
                        .lets_chat {
                            max-height: calc(100% - 120px);
                            min-height: calc(100% - 120px);
                            .audio-player{
                                width: 234px !important;
                                .controls{
                                    margin-top: 0;
                                }
                            }
                            .chat_box_right{
                                 .chat-do{
                                    .conversation{
                                         .msg{
                                            max-width: 493px;
                                         }
                                    }
                                 }
                            }
                            .chat_box_left{
                                .chat-do{
                                   .conversation{
                                        .msg{
                                           max-width: 493px;
                                        }
                                   }
                                }
                           }
                        }
                        .chat_write {
                            height:66px;
                            .category{
                                bottom: 56px;
                            }
                           
                            position: relative;
                            bottom: 0px;
                            .react-emoji-picker--wrapper{
                                height: 317px;
                                overflow: unset;
                            }
                        }
                    }
                }
            }
        }
    }
    .phone_menu {
        background-color: $lavender;
        position: fixed;
        width: 100%;
        left: 0px;
        right: 0px;
        bottom: 0;
        padding: 10px 20px;
        z-index: 999;
        ul {
            display: flex;
            justify-content: space-between;
            li {
                display: inline-block;
                text-align: center;
                .msgdot{
                    position: relative;
                    &::after{
                        position: absolute;
                        content: "";
                        background-color: #eb6383;
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        top: 2px;
                        right: 4px;
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .home_section {
        padding-top: 100px;
        padding-bottom: 50px;
        .profile_section {
            .phone_menu {
                background-color: $lavender;
                position: fixed;
                width: 100%;
                left: 0px;
                right: 0px;
                bottom: 0;
                padding: 10px 20px;
                z-index: 999;
                ul {
                    display: flex;
                    justify-content: space-between;
                    li {
                        display: inline-block;
                        text-align: center;
                        position: relative;
                    }
                }
            }
            .left-side {
                .chats {
                    .chat-head {
                        padding: 22px 10px;
                    }
                    .chat-users {
                        padding: 22px 10px;
                        ul {
                            li {
                                .time {
                                    .time-view {
                                        padding-top: 25px !important;
                                    }
                                }
                            }
                        }
                    }
                }
                .community_suggestions {
                    .community-head {
                        position: relative;
                        padding: 20px 10px;
                        .name {
                            p {
                                font-size: 14px;
                            }
                        }
                        .icon {
                            position: absolute;
                            right: 9px;
                            top: 20px;
                            z-index: 1;
                        }
                    }
                    .suggestion_list {
                        padding: 22px 10px;
                        ul {
                            li {
                                .img_area {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .chatbox_section {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            height: auto;
            z-index: 9999;
            .chat-sets {
                max-width: 100%;
                min-width: 100%;
                height: 100%;
                .chat-wrap-aread{
                    height: 100%;
                }
                .chat_area {
                    height: 100%;
                    .chat-head {
                        .dropdown {
                            padding: 15px 15px;
                            .icon {
                                float: right;
                                a {
                                    float: right;
                                    &:first-child {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    .chat_box {
                        height: 100%;
                        .lets_chat {
                            max-height: calc(100% - 120px);
                            min-height: calc(100% - 120px);
                            padding-left: 10px;
                            padding-right: 10px;
                            .audio-player{
                                width: 210px !important;
                                .controls{
                                    margin-top: 0;
                                }
                                .bar{
                                    .bar__time{
                                        font-size: 12px !important;
                                    }
                                }
                            }
                            .chat_box_right{
                                .chat-do{
                                    .conversation{
                                        .msg{
                                           max-width: 240px;
                                        }
                                    }
                               }
                           }
                           .chat_box_left{
                               .chat-do{
                                   .conversation{
                                       .msg{
                                          max-width: 240px;
                                       }
                                   }
                              }
                          }
                            
                        }
                        .chat_write {
                            height:66px;
                            position: relative;
                            bottom: 0px;
                            .category{
                                bottom: 57px;
                            }
                            .react-emoji-picker--wrapper{
                                height: 317px;
                                overflow: unset;
                                right: -45px;
                                bottom: 44px;
                            }
                        }
                    }
                }
            }
            .react-emoji-picker--wrapper{
                right: -39px !important;
            }
        }
    }
    .phone_menu {
        background-color: $lavender;
        position: fixed;
        width: 100%;
        left: 0px;
        right: 0px;
        bottom: 0;
        padding: 10px 20px;
        z-index: 999;
        ul {
            display: flex;
            justify-content: space-between;
            li {
                display: inline-block;
                text-align: center;
                .msgdot {
                    position: relative;
                    &::after {
                        position: absolute;
                        content: "";
                        background-color: #eb6383;
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        top: 2px;
                        right: 4px;
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .home_section {
        padding-top: 100px;
        padding-bottom: 50px;
        .profile_section {
            .phone_menu {
                background-color: $lavender;
                position: fixed;
                width: 100%;
                left: 0px;
                right: 0px;
                bottom: 0;
                padding: 10px 20px;
                z-index: 999;
                ul {
                    display: flex;
                    justify-content: space-between;
                    li {
                        display: inline-block;
                        text-align: center;
                    }
                }
            }
            .left-side {
                .chats {
                    .chat-head {
                        padding: 22px 10px;
                    }
                    .chat-users {
                        padding: 22px 10px;
                        ul {
                            li {
                                .time {
                                    .time-view {
                                        padding-top: 25px !important;
                                    }
                                }
                            }
                        }
                    }
                }
                .community_suggestions {
                    .community-head {
                        position: relative;
                        padding: 20px 10px;
                        .name {
                            p {
                                font-size: 14px;
                            }
                        }
                        .icon {
                            position: absolute;
                            right: 9px;
                            top: 20px;
                            z-index: 1;
                        }
                    }
                    .suggestion_list {
                        padding: 22px 10px;
                        ul {
                            li {
                                .img_area {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .chatbox_section {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            .chat-sets {
                max-width: 100%;
                min-width: 100%;
                height: 100%;
                .chat-wrap-aread{
                    height: 100%;
                }
                .chat_area {
                    height: 100%;
                    .chat-head {
                        .dropdown {
                            padding: 15px 15px;
                            .icon {
                                float: right;
                                a {
                                    float: right;
                                    &:first-child {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    .chat_box {
                        height: 100%;
                        .lets_chat {
                            max-height: calc(100% - 120px);
                            min-height: calc(100% - 120px);
                            padding-left: 10px;
                            padding-right: 10px;
                            .audio-player{
                                width: 210px !important;
                                .controls{
                                    margin-top: 0;
                                }
                                .bar{
                                    .bar__time{
                                        font-size: 12px !important;
                                    }
                                }
                            }
                            .chat_box_right{
                                 .chat-do{
                                     .conversation{
                                         .msg{
                                            max-width: 198px;
                                            div.post_img{
                                                min-width: 180px;
                                                max-width: 100%;
                                            }
                                         }
                                     }
                                }
                            }
                            .chat_box_left{
                                .chat-do{
                                    .conversation{
                                        .msg{
                                           max-width: 198px;
                                            div.post_img{
                                                min-width: 180px;
                                                max-width: 100%;
                                            }
                                        }
                                    }
                               }
                           }
                        }
                        .chat_write {
                            height:66px;
                            position: relative;
                            bottom: 0px;
                            .category{
                                bottom: 57px;
                            }
                            .react-emoji-picker--wrapper{
                                height: 317px;
                                overflow: unset;
                                right: -45px;
                                bottom: 44px;
                            }
                        }
                    }
                }
            }
            .react-emoji-picker--wrapper{
                right: -46px !important;
            }
        }
    }
    .phone_menu {
        background-color: $lavender;
        position: fixed;
        width: 100%;
        left: 0px;
        right: 0px;
        bottom: 0;
        padding: 10px 20px;
        z-index: 9999;
        ul {
            display: flex;
            justify-content: space-between;
            li {
                display: inline-block;
                text-align: center;
                .msgdot {
                    position: relative;
                    &::after {
                        position: absolute;
                        content: "";
                        background-color: #eb6383;
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        top: 2px;
                        right: 4px;
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .home_section {
        padding-top: 100px;
        padding-bottom: 50px;
        .profile_section {
            .phone_menu {
                background-color: $lavender;
                position: fixed;
                width: 100%;
                left: 0px;
                right: 0px;
                bottom: 0;
                padding: 10px 20px;
                z-index: 999;
                ul {
                    display: flex;
                    justify-content: space-between;
                    li {
                        display: inline-block;
                        text-align: center;
                    }
                }
            }
            .left-side {
                .chats {
                    .chat-head {
                        padding: 22px 10px;
                    }
                    .chat-users {
                        padding: 22px 10px;
                        ul {
                            li {
                                .time {
                                    .time-view {
                                        padding-top: 25px !important;
                                    }
                                }
                            }
                        }
                    }
                }
                .community_suggestions {
                    .community-head {
                        position: relative;
                        padding: 20px 10px;
                        .name {
                            p {
                                font-size: 14px;
                            }
                        }
                        .icon {
                            position: absolute;
                            right: 9px;
                            top: 20px;
                            z-index: 1;
                        }
                    }
                    .suggestion_list {
                        padding: 22px 10px;
                        ul {
                            li {
                                .img_area {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .chatbox_section {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            .chat-sets {
                max-width: 100%;
                min-width: 100%;
                height: 100%;
                .chat-wrap-aread{
                    height: 100%;
                }
                .chat_area {
                    height: 100%;
                    .chat-head {
                        .dropdown {
                            .icon {
                                a {
                                    &:first-child {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    .chat_box {
                        height: 100%;
                        .lets_chat {
                            max-height: calc(100% - 120px);
                            min-height: calc(100% - 120px);
                            .audio-player{
                                width: 185px !important;
                                .bar{
                                    .bar__time{
                                        font-size: 12px !important;
                                    }
                                }
                            }
                        }
                        .chat_write {
                            height:66px;
                            position: relative;
                            bottom: 0px;
                            .react-emoji-picker--wrapper{
                                height: 317px;
                                overflow: unset;
                                right: -45px;
                                bottom: 44px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-height: 500px) and (max-height: 740px) and (min-width: 1024px) and (max-width:1366px) {
    .home_section{
         .chatbox_section{
             .chat-sets{
                max-width: 355px;
                min-width: 355px;
                .chat_area{
                     .chat_box{
                        height: 375px;
                         .lets_chat{
                            max-height: 335px;
                            .chat_box_right{
                                 .chat-do{
                                     .conversation{
                                         .msg{
                                            max-width: 218px;
                                         }
                                     }
                                }
                            }
                            .chat_box_left{
                                .chat-do{
                                    .conversation{
                                        .msg{
                                           max-width: 218px;
                                        }
                                    }
                               }
                           }
                         }
                     }
                }
             }
         }
    }
}
