@import "../../base/variable.scss";
@import "../../base/mixins.scss";
.contact_form_section {
    .contact_form_area {
        padding: rem(125) 6.7%;
        position: relative;
        .left_area {
            margin-left: auto;
            height: 100%;
            background-size: cover;
            width: rem(510);
            background-repeat: no-repeat;
            position: relative;
            border-radius: 15px;
            overflow: hidden;
            .content {
                padding: rem(88) rem(34);
                h1 {
                    font-family: "Nunito", sans-serif;
                    padding-bottom: rem(12);
                }
                p {
                    color: $dull-text;
                    font-weight: 600;
                    padding-bottom: rem(12);
                }
                .contact_details {
                    position: relative;
                    z-index: 2;
                    .icon_set {
                        padding: rem(13) 0;

                        a {
                            font-weight: 700;
                            font-size: rem(18);
                            img {
                                position: relative;
                                bottom: rem(2);
                                width: rem(20);
                                margin-right: rem(33);
                            }
                        }
                    }
                }
                .imgwrap {
                    position: absolute;
                    bottom: 0%;
                    right: -6%;
                }
            }
        }
        .right_area {
            padding: rem(72) rem(30);
            position: relative;
            box-shadow: $box-shadow;
            border-radius: rem(10);

            &::after {
                content: " ";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                border: rem(1) solid transparent;
                background: linear-gradient(180deg, $pink, $lavender) border-box;
                -webkit-mask: linear-gradient(#fff 0 0) padding-box,linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                border-radius: rem(10);
                z-index: -1;
            }
            .form_area_2 {
                //styles in globals.scss
            }
            .action_area {
                .main_btn {
                    min-width: rem(215);
                    padding: rem(12) rem(36);
                    margin-top: rem(8);
                }
            }
            .success_area {
                margin: 0;
                min-height: rem(436);
                .success_msg {
                    .main_btn {
                        margin-top: rem(24);
                    }
                }
            }
        }
        .contact_img {
            position: absolute;
            bottom: 6%;
            right: -3%;
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .contact_form_section {
        .contact_form_area {
            padding: rem(100) 4%;

            .left_area {
                width: rem(460);
              

                .content {
                    padding: rem(72) rem(34);
                    h1 {
                        padding-bottom: rem(10);
                    }
                    p {
                        font-weight: 600;
                        padding-bottom: rem(10);
                    }
                    .contact_details {
                        .icon_set {
                            padding: rem(10) 0;

                            a {
                                font-weight: 700;
                                font-size: rem(16);
                                img {
                                    bottom: rem(2);
                                    width: rem(18);
                                    margin-right: rem(30);
                                }
                            }
                        }
                    }
                    .imgwrap {
                        bottom: 0%;
                        right: -6%;
                        img {
                            width: 97%;
                        }
                    }
                }
            }
            .right_area {
                padding: rem(45) rem(24);

                .action_area {
                    .main_btn {
                        min-width: rem(215);
                        padding: rem(12) rem(36);
                        margin-top: rem(8);
                    }
                }
            }
            .contact_img {
                bottom: 6%;
                right: -0%;
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .contact_form_section {
        .contact_form_area {
            padding: rem(48) 14.5% rem(100) 14.5%;
            .left_area {
                margin-bottom: rem(36);
                width: auto;
                background-size: 100%;
                height: rem(597);
                .content {
                    padding: rem(84) rem(34);
                    h1 {
                        padding-bottom: rem(10);
                    }
                    p {
                        font-weight: 600;
                        padding-bottom: rem(10);
                    }
                    .contact_details {
                        .icon_set {
                            padding: rem(10) 0;

                            a {
                                font-weight: 700;
                                font-size: rem(16);
                                img {
                                    bottom: rem(2);
                                    width: rem(18);
                                    margin-right: rem(30);
                                }
                            }
                        }
                    }
                    .imgwrap {
                        bottom: 0%;
                        right: -8%;
                        img {
                            width: 97%;
                        }
                    }
                }
            }
            .right_area {
                padding: rem(64) rem(32);

                .action_area {
                    .main_btn {
                        min-width: rem(215);
                        padding: rem(12) rem(36);
                        margin-top: rem(12);
                    }
                }
            }
            .contact_img {
                bottom: 2%;
                right: -1%;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .contact_form_section {
        .contact_form_area {
            padding: rem(48) 15% rem(100) 15%;
            .left_area {
                margin-bottom: rem(36);
                width: auto;
                background-size: 100%;
                height: rem(510);
                .content {
                    padding: rem(64) rem(34);
                    h1 {
                        padding-bottom: rem(10);
                    }
                    p {
                        font-weight: 600;
                        padding-bottom: rem(10);
                    }
                    .contact_details {
                        .icon_set {
                            padding: rem(10) 0;
                            a {
                                font-weight: 700;
                                font-size: rem(15);
                                img {
                                    bottom: rem(2);
                                    width: rem(17);
                                    margin-right: rem(24);
                                }
                            }
                        }
                    }
                    .imgwrap {
                        bottom: 0.5%;
                        right: -8%;
                        img {
                            width: 97%;
                        }
                    }
                }
            }
            .right_area {
                padding: rem(48) rem(32) rem(48) rem(32);

                .action_area {
                    .main_btn {
                        min-width: rem(215);
                        padding: rem(12) rem(36);
                        margin-top: rem(12);
                    }
                }
            }
            .contact_img {
                bottom: 2%;
                right: -1%;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .contact_form_section {
        .contact_form_area {
            padding: rem(28) 2% rem(34) 2%;
            .left_area {
                margin-bottom: rem(24);
                width: auto;
                background-size: 100%;
                height: rem(373);
                .content {
                    padding: rem(32) rem(24);
                   
                    h1 {
                        padding-bottom: rem(10);
                    }
                    p {
                        font-weight: 600;
                        padding-bottom: rem(10);
                    }
                    .contact_details {
                        position: relative;
                        z-index: 1;
                        .icon_set {
                            padding: rem(7) 0;
                            a {
                                font-weight: 700;
                                font-size: rem(13);
                                img {
                                    bottom: rem(2);
                                    width: rem(14);
                                    margin-right: rem(20);
                                }
                            }
                        }
                    }
                    .imgwrap {
                        bottom: 0%;
                        right: 0%;
                        img {
                            width: 66%;
                            float: right;
                        }
                    }
                }
            }
            .right_area {
                padding: rem(20) rem(20) rem(20) rem(20);
                .success_area{
                    min-height: 196px;
                }
                .action_area {
                    .main_btn {
                        min-width: rem(215);
                        padding: rem(12) rem(36);
                        margin-top: rem(24);
                    }
                }
            }
            .contact_img {
                display: none;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .contact_form_section {
        .contact_form_area {
            padding: rem(20) 0.5% rem(34) 0.5%;
            .left_area {
                margin-bottom: rem(24);
                width: auto;
                background-size: 100%;
                height: rem(376);
                .content {
                    padding: rem(32) rem(24);
                    h1 {
                        padding-bottom: rem(10);
                    }
                    p {
                        font-weight: 600;
                        padding-bottom: rem(10);
                    }
                    .contact_details {
                        position: relative;
                        z-index: 1;
                        .icon_set {
                            padding: rem(6) 0;
                            a {
                                font-weight: 700;
                                font-size: rem(12);
                                img {
                                    bottom: rem(2);
                                    width: rem(14);
                                    margin-right: rem(18);
                                }
                            }
                        }
                    }
                    .imgwrap {
                        bottom: 0%;
                        right: 0%;
                        img {
                            width: 66%;
                            float: right;
                        }
                    }
                }
            }
            .right_area {
                padding: rem(20) rem(20) rem(20) rem(20);
                .success_area{
                    min-height: 196px;
                }
                .action_area {
                    .main_btn {
                        min-width: rem(215);
                        padding: rem(12) rem(36);
                        margin-top: rem(24);
                    }
                }
            }
            .contact_img {
                display: none;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .contact_form_section {
        .contact_form_area {
            padding: rem(20) 0% rem(64) 0%;
            .left_area {
                margin-bottom: rem(24);
                width: auto;
                background-size: 100%;
                height: rem(334);
                .content {
                    padding: rem(32) rem(24);
                    h1 {
                        padding-bottom: rem(10);
                    }
                    p {
                        font-weight: 600;
                        padding-bottom: rem(10);
                    }
                    .contact_details {
                        .icon_set {
                            padding: rem(6) 0;
                            a {
                                font-weight: 700;
                                font-size: rem(12);
                                img {
                                    bottom: rem(2);
                                    width: rem(14);
                                    margin-right: rem(18);
                                }
                            }
                        }
                    }
                    .imgwrap {
                        bottom: 0%;
                        right: 0%;
                        img {
                            width: 66%;
                            float: right;
                        }
                    }
                }
            }
            .right_area {
                padding: rem(20) rem(20) rem(20) rem(20);

                .action_area {
                    .main_btn {
                        min-width: rem(215);
                        padding: rem(12) rem(36);
                        margin-top: rem(24);
                    }
                }
            }
            .contact_img {
                display: none;
            }
        }
    }
}
