@import "../../base/variable.scss";
@import "../../base/mixins.scss";

.settings_main_area {
    .form_area {
        .sub_section {
            .setting_option {
                padding-bottom: rem(20);
                &.name {
                    display: block;
                    width: 100%;
                    p {
                        font-weight: 700;
                    }
                    .form_controls {
                        display: inline-block;
                        &.el{
                            input{
                                width: 74%;
                            }
                        }
                        input {
                            width: 97%;
                            display: inline-block;
                            min-width: auto;
                        }
                    }
                }
                &.dob {
                    display: block;
                    width: 100%;
                    p {
                        font-weight: 700;
                    }
                    .form_controls {
                        display: inline-block;
                        width: 83%;
                        select {
                            width: 31%;
                            display: inline-block;
                            min-width: auto;
                            margin-right: 5px;
                        }
                    }
                }
                .form_controls {
                    padding-bottom: rem(0);
                    .mini_padd {
                        margin-bottom: 40px;
                        transition: 0.3s ease all;
                    }

                    p {
                        font-weight: 700;
                    }
                    select,
                    input {
                        background-color: $white;
                        color: inherit;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        margin-top: 12px;
                        border: none;
                        padding: rem(13);
                        min-width: rem(180);
                        border-radius: rem(10);
                        font-weight: 600;
                        option {
                            color: inherit;
                        }

                        &:focus {
                            border: none;
                        }
                    }

                    input {
                        margin-top: rem(12);
                        min-width: rem(302);
                        padding-right: rem(30);
                        padding-left: rem(30);
                        // margin-bottom: 40px;
                    }
                    .select_box {
                        &::before {
                            content: "\f0ac";
                            font-family: "Font Awesome 5 Pro";
                            position: absolute;
                            font-size: rem(18);
                            font-weight: 400;
                            top: 60%;
                            transform: translateY(-50%);
                            left: 10%;
                            pointer-events: none;
                        }
                        margin-top: rem(12);
                        position: relative;
                        select {
                            padding-left: rem(50);
                            //font-weight: 600;
                        }
                        &::after {
                            content: "\f0d7";
                            font-family: "Font Awesome 5 Pro";
                            position: absolute;
                            font-size: rem(24);
                            font-weight: 600;
                            top: 50%;
                            transform: translateY(-32%);
                            right: 10%;
                            pointer-events: none;
                        }
                    }
                }
                .valid-box {
                    .valid-helper {
                        top: 75%;
                    }
                }
            }
            .action_area {
                .main_btn {
                    margin-bottom: rem(20);
                    padding: rem(12) rem(36);
                }
                .red_bg {
                    color: $white;
                    font-weight: 400;
                }
            }
        }
    }
    .blocked_area {
        .sub_section {
            overflow: hidden;

            .friends_list {
                padding-top: rem(26);
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 1400px) and (max-width: 1500px) {
    .settings_main_area {
        .form_area {
            .sub_section {
                .setting_option.name{
                     .form_controls{
                        &.el{
                             input{
                                width: 80%;
                             }
                        }
                    }
                }
            }
        }
    }
}
/* Landscape tablets and medium desktops */
@media (min-width: 1200px) and (max-width: 1399px) {
    .settings_main_area {
        .form_area {
            .sub_section {
                .setting_option.name{
                     .form_controls{
                        &.el{
                             input{
                                width: 80%;
                             }
                        }
                    }
                }
            }
        }
    }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .settings_main_area {
        padding: 0 rem(10);

        h2 {
            font-size: rem(24);
            padding-bottom: rem(24);
        }
        .form_area {
            .sub_section {
                padding: rem(20) 0 rem(8) 0;
                .content_head {
                    padding-bottom: rem(22);
                    h3 {
                        font-size: rem(18);
                    }
                    p {
                        padding-top: rem(10);
                    }
                }
                .setting_option {
                    padding-bottom: rem(20);
                    .form_controls {
                        padding-bottom: rem(0);
                         &.el{
                            input{
                                width: 79% !important;
                            }
                         }
                        p {
                            font-weight: 700;
                        }
                        select,
                        input {
                            padding: rem(13);
                            min-width: rem(180);
                        }

                        input {
                            margin-top: rem(12);
                            min-width: rem(302);
                            padding-right: rem(30);
                            padding-left: rem(30);
                        }
                        .select_box {
                            &::before {
                                font-size: rem(18);

                                left: 10%;
                            }
                            margin-top: rem(12);

                            select {
                                padding-left: rem(50);
                            }
                            &::after {
                                font-size: rem(24);

                                right: 10%;
                            }
                        }
                    }
                }
                .action_area {
                    .main_btn {
                        margin-bottom: rem(20);
                        padding: rem(12) rem(36);
                    }
                    .red_bg {
                        color: $white;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .settings_main_area {
        .form_area {
            .sub_section {
                padding: rem(18) 0 rem(8) 0;
                .content_head {
                    padding-bottom: rem(18);
                    h3 {
                        font-size: rem(18);
                    }
                    p {
                        padding-top: rem(10);
                    }
                }
                .setting_option {
                    padding-bottom: rem(18);
                    .form_controls {
                        padding-bottom: rem(0);
                        &.el{
                            input{
                                width: 79% !important;
                            }
                         }
                        p {
                            font-weight: 700;
                        }
                        select,
                        input {
                            padding: rem(13);
                            min-width: rem(180);
                        }

                        input {
                            margin-top: rem(10);
                            min-width: rem(302);
                            padding-right: rem(30);
                            padding-left: rem(30);
                        }
                        .select_box {
                            &::before {
                                font-size: rem(18);

                                left: 10%;
                            }
                            margin-top: rem(10);

                            select {
                                padding-left: rem(50);
                            }
                            &::after {
                                font-size: rem(24);

                                right: 10%;
                            }
                        }
                    }
                }
                .action_area {
                    .main_btn {
                        margin-bottom: rem(20);
                        padding: rem(12) rem(36);
                    }
                    .red_bg {
                        color: $white;
                        font-weight: 400;
                    }
                }
            }
        }
        .blocked_area {
            .sub_section {
                overflow: hidden;

                .friends_list {
                    padding-top: rem(22);
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .settings_main_area {
        .form_area {
            .sub_section {
                padding: rem(18) 0 rem(8) 0;
                .content_head {
                    padding-bottom: rem(18);
                    h3 {
                        font-size: rem(18);
                    }
                    p {
                        padding-top: rem(10);
                    }
                }
                .setting_option {
                    padding-bottom: rem(18);
                    .form_controls {
                        padding-bottom: rem(0);
                        &.el{
                            input{
                                width: 58% !important;
                            }
                         }
                        p {
                            font-weight: 700;
                        }
                        select,
                        input {
                            padding: rem(13);
                            min-width: rem(180);
                            font-size: rem(13);
                        }

                        input {
                            margin-top: rem(10);
                            min-width: rem(302);
                            padding-right: rem(26);
                            padding-left: rem(26);
                        }
                        .select_box {
                            &::before {
                                font-size: rem(18);

                                left: 10%;
                            }
                            margin-top: rem(10);

                            select {
                                padding-left: rem(50);
                            }
                            &::after {
                                font-size: rem(24);

                                right: 10%;
                            }
                        }
                    }
                }
                .action_area {
                    .main_btn {
                        margin-bottom: rem(20);
                        padding: rem(12) rem(36);
                    }
                    .red_bg {
                        color: $white;
                        font-weight: 400;
                    }
                }
            }
        }
        .blocked_area {
            .sub_section {
                .friends_list {
                    padding-top: rem(22);
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .settings_main_area {
        .form_area {
            .sub_section {
                padding: rem(18) 0 rem(8) 0;
                .content_head {
                    padding-bottom: rem(18);
                    h3 {
                        font-size: rem(18);
                    }
                    p {
                        padding-top: rem(10);
                    }
                }
                .setting_option {
                    padding-bottom: rem(10);
                    .form_controls {
                        padding-bottom: rem(0);
                        &.el{
                            input{
                                width: 97% !important;
                            }
                         }
                        p {
                            font-weight: 700;
                        }
                        select,
                        input {
                            padding: rem(13);
                            min-width: rem(180);
                            font-size: rem(13);
                        }

                        input {
                            margin-top: rem(10);
                            min-width: rem(302);
                            padding-right: rem(24);
                            padding-left: rem(24);
                        }
                        .select_box {
                            &::before {
                                font-size: rem(18);

                                left: 8%;
                            }
                            margin-top: rem(10);

                            select {
                                padding-left: rem(46);
                            }
                            &::after {
                                font-size: rem(24);
                                transform: translateY(-32%);
                                right: 10%;
                            }
                        }
                    }
                }
                .action_area {
                    .main_btn {
                        margin-bottom: rem(20);
                        padding: rem(12) rem(36);
                    }
                    .red_bg {
                        color: $white;
                        font-weight: 400;
                    }
                }
            }
            .password_sub {
                .setting_option {
                    .form_controls {
                        width: 100%;
                    }
                }
            }
        }
        .blocked_area {
            .sub_section {
                .friends_list {
                    padding-top: rem(18);
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .settings_main_area {
        .form_area {
            .sub_section {
                padding: rem(18) 0 rem(8) 0;
                .content_head {
                    padding-bottom: rem(18);
                    h3 {
                        font-size: rem(18);
                    }
                    p {
                        padding-top: rem(10);
                    }
                }
                .setting_option {
                    padding-bottom: rem(10);
                    .form_controls {
                        padding-bottom: rem(0);
                        &.el{
                            input{
                                width: 97% !important;
                            }
                         }
                        p {
                            font-weight: 700;
                        }
                        select,
                        input {
                            padding: rem(13);
                            min-width: rem(180);
                            font-size: rem(12);
                        }

                        input {
                            margin-top: rem(10);
                            min-width: rem(302);
                            padding-right: rem(16);
                            padding-left: rem(16);
                        }
                        .select_box {
                            &::before {
                                font-size: rem(14);

                                left: 7%;
                            }
                            margin-top: rem(10);

                            select {
                                padding-left: rem(36);
                            }
                            &::after {
                                font-size: rem(18);
                                transform: translateY(-32%);
                                right: 10%;
                            }
                        }
                    }
                }
                .action_area {
                    .main_btn {
                        margin-bottom: rem(20);
                        padding: rem(12) rem(36);
                    }
                    .red_bg {
                        color: $white;
                        font-weight: 400;
                    }
                }
            }
            .password_sub {
                .setting_option {
                    .form_controls {
                        width: 100%;
                    }
                }
            }
        }
        .blocked_area {
            .sub_section {
                .friends_list {
                    padding-top: rem(16);
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .settings_main_area {
        .form_area {
            .sub_section {
                .setting_option {
                    .form_controls {
                        input,
                        select {
                            font-size: rem(11);
                        }
                    }
                }
            }
        }
    }
}
