@import "../../base/variable.scss";
@import "../../base/mixins.scss";

.about_section {
    background-color: $white;
    .about_area {
        padding: rem(116) 0 rem(32) 0;
        .top_area {
            padding-bottom: rem(6);
            text-align: center;
            position: relative;
            h1 {
                padding-bottom: rem(14);
            }
            p {
                margin: auto;
                color: $dull-text;
                max-width: rem(426);
                padding-bottom: rem(26);
            }
            img {
                position: absolute;
                top: 30%;
                right: 26%;
            }
        }
        .bot_area {
            .imgwrap {
                img {
                    width: 100%;
                }
            }
        }
    }
}

//responsiveness
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .about_section {
        .about_area {
            padding: rem(60) 0 rem(20) 0;
            .top_area {
                padding-bottom: rem(4);
                h1 {
                    padding-bottom: rem(12);
                }

                p {
                    padding-bottom: rem(22);
                }
                img {
                    top: 30%;
                    right: 14%;
                }
            }
        }
    }
}
/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .about_section {
        .about_area {
            padding: rem(48) 0 rem(16) 0;
            .top_area {
                padding-bottom: rem(8);
                h1 {
                    padding-bottom: rem(10);
                }

                p {
                    padding-bottom: rem(18);
                }
                img {
                    top: 28%;
                    right: 5%;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .about_section {
        .about_area {
            padding: rem(48) 0 rem(12) 0;
            .top_area {
                padding-bottom: rem(6);
                h1 {
                    padding-bottom: rem(7);
                }
                p {
                    font-size: rem(12);
                    padding-bottom: rem(14);
                }
                img {
                    display: none;
                    top: 28%;
                    right: 5%;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .about_section {
        .about_area {
            padding: rem(16) 0 rem(12) 0;
            .top_area {
                padding-bottom: rem(8);
                h1 {
                    padding-bottom: rem(6);
                }
                p {
                    font-size: rem(12);
                    padding-bottom: rem(12);
                }
                img {
                    display: none;
                    top: 28%;
                    right: 5%;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .about_section {
        .about_area {
            padding: rem(12) 0 rem(8) 0;
            .top_area {
                padding-bottom: rem(8);
                h1 {
                    padding-bottom: rem(6);
                }
                p {
                    font-size: rem(11);
                    padding-bottom: rem(10);
                }
                img {
                    display: none;
                    top: 28%;
                    right: 5%;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .about_section {
        .about_area {
            padding: rem(10) 0 rem(6) 0;
            .top_area {
                padding-bottom: rem(6);
                h1 {
                    padding-bottom: rem(5);
                }
                p {
                    font-size: rem(10);
                    padding-bottom: rem(8);
                }
                img {
                    display: none;
                    top: 28%;
                    right: 5%;
                }
            }
        }
    }
}
