@import "../../base/variable.scss";
@import "../../base/mixins.scss";

.demo_section {
    padding-top: rem(142);
    background-color: $white;
    .demo_area {
        .left_area {
            position: relative;
            .content {
                width: 100%;
                h1 {
                    font-size: rem(48);
                    padding-bottom: 0;
                }
                text-align: center;
                position: absolute;
                top: 32%;
                left: 50%;
                transform: translateX(-50%);
            }
            .imgwrap {
                img {
                    width: auto;
                    max-width: 100%;
                }
            }
        }
        .right_area {
            &::-webkit-scrollbar {
                display: none;
            }
            justify-content: start;
            overflow: scroll;
            flex-wrap: nowrap;
            .demo_postes{
                margin-right: 40px;
                &:last-child{
                    margin-right: 0;
                }
            }
            .post_col {
                margin: rem(30) rem(0);
                min-width: 540px;
                .main_post {
                    .post_body {
                        .post_text {
                            white-space: break-spaces;
                            p {
                                width: 100%;
                                word-break: break-word;
                                .readMoreText {
                                    color: $pink !important;
                                }
                            }
                        }
                    }
                    .post_tags {
                        padding-top: rem(20);
                        @include clearfix();
                        span {
                            margin-right: 10px;
                            &:last-child {
                                margin-right: 0;
                            }
                            &.post_tag {
                                // margin-right: rem(10);
                                word-break: break-all;
                                color: $dull-text;
                                border: 1px solid $lavender;
                                border-radius: rem(10);
                                display: inline-block;
                                margin-bottom: 10px;
                                padding: 10px;
                                font-size: rem(12);
                                margin-right: 10px;
                                min-width: 48px;
                                text-align: center;
                            }
                        }
                    }
                    .post_tags + .post_text {
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
                .after_post {
                    .dropdown {
                        .btn {
                            padding: 0;
                        }
                        .btn-primary {
                            background-color: transparent;
                        }
                        .dropdown-toggle {
                            &::after {
                                content: none;
                            }
                            &:focus {
                                box-shadow: none;
                            }
                        }
                        .dropdown-menu {
                            box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
                            border: none;
                            border-radius: 6px;
                            padding: 20px 5px;
                            overflow: hidden;
                            z-index: 99;
                            a {
                                &.red {
                                    color: $youtube;
                                }
                            }
                            .dropdown-item {
                                font-size: 15px;
                                margin-bottom: 10px;
                                color: $black;
                                font-weight: 600;
                                border-radius: 5px;
                                min-width: 181px;
                                &:hover {
                                    background-color: rgba($color: $lavender, $alpha: 0.6);
                                }
                                &:last-child {
                                    margin-bottom: 0;
                                }
        
                                i {
                                    font-size: 14px;
                                    padding-right: 5px;
                                    padding-right: 10px;
                                    color: $black;
                                    &.bin {
                                        font-size: 16px;
                                    }
                                    &.red {
                                        color: $youtube;
                                    }
                                }
                            }
                        }
                    }
                }
                &.post {
                    padding: 0;
                    .main_post {
                        width: 100%;
                        .post_body {
                            padding-left: 0;
                            padding-right: 0;
                            .post_img {
                                margin-top: 16px;
                                position: relative;
                                border-radius: 10px;
                                width: 100%;
                                height: 315px;
                                overflow: hidden;
                                .carousel {
                                    height: 100%;
                                    overflow: hidden;
                                    border-radius: 15px;
                                    .carousel-control-prev {
                                        opacity: 1;
                                        .carousel-control-prev-icon {
                                            background-image: url("../../../images/left-arrow.png");
                                        }
                                    }
                                    .carousel-control-next {
                                        opacity: 1;
                                        .carousel-control-next-icon {
                                            background-image: url("../../../images/next.png");
                                        }
                                    }
                                    .carousel-indicators [data-bs-target] {
                                        background-color: $lavender;
                                    }
                                    .carousel-inner{
                                        height: 100%;
                                    }
                                    .carousel-item{
                                        height: 100%;
                                        .slide-media{
                                            height: 100%;
                                            width: 100%;
                                            .played{
                                                position: absolute;
                                                left: 0;
                                                right: 0;
                                                margin: 0 auto;
                                                text-align: center;
                                                top: 50%;
                                                i{
                                                    color: $white;
                                                    font-size: 2rem;
                                                    &:hover{
                                                        color: rgba($color: $lavender, $alpha: 0.8);
                                                    }
                                                }
                                            }
                                            &.video-thumb{
                                                text-align: center;
                                                img{
                                                    width: auto;
                                                    height: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius: 15px;
                                }
                                video,
                                iframe {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                    border-radius: 15px;
                                }
                                video{
                                    height: auto;
                                    width: 100%;
                                    object-fit: contain;
                                    border-radius: 15px;
                                    background-color: #1a1a1a;
                                }
                                .video_icon {
                                    position: absolute;
                                    top: 40%;
                                    left: 0;
                                    right: 0;
        
                                    a {
                                        i {
                                            background-color: $lavender;
                                            width: 70px;
                                            height: 70px;
                                            line-height: 76px;
                                            border-radius: 50%;
                                            margin: 0 auto;
                                            color: $black;
                                            font-size: 20px;
                                            text-align: center;
                                            display: block;
                                        }
                                    }
                                }
                                .slick-slider {
                                    width: 430px !important;
                                    height: 240px !important;
                                    margin-bottom: rem(25);
                                    position: relative;
                                    .slick-list {
                                        .slick-track {
                                            display: flex;
                                            .slick-slide {
                                                div {
                                                    margin: auto;
                                                    max-width: 400px !important;
                                                    height: 215px !important;
                                                    display: flex !important;
                                                    justify-content: center;
                                                    border: none;
                                                    outline: none;
                                                }
        
                                                img,
                                                video,
                                                iframe {
                                                    border-radius: rem(10);
                                                    max-width: 100%;
                                                    width: 100%;
                                                    max-height: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }
                                        }
                                    }
                                    .slick-dots {
                                        position: absolute;
                                        bottom: -0px;
                                        left: 50%;
                                        transform: translateX(-50%);
        
                                        li {
                                            button {
                                                color: transparent;
                                                font-size: 0px;
                                                height: 10px;
                                                width: 10px;
                                                border-radius: 50%;
                                                background-color: $pink;
                                                opacity: 0.6;
                                                margin: 0 rem(10);
                                            }
                                            display: inline-block;
                                        }
                                        .slick-active {
                                            button {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                    .slick-arrow {
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        color: transparent;
                                        font-size: rem(1);
                                        &::before {
                                            font-family: "Font Awesome 5 pro";
                                            height: 10px;
                                            font-size: rem(30);
                                            font-weight: 600;
                                            width: 10px;
                                            color: $pink;
                                        }
                                    }
                                    .slick-prev {
                                        z-index: 1;
                                        left: -0.5%;
                                        &::before {
                                            content: "\f0d9";
                                        }
                                    }
                                    .slick-next {
                                        right: -0.5%;
                                        &::before {
                                            content: "\f0da";
                                        }
                                    }
                                }
                            }
                            .audio_box {
                                height: auto;
                            }
                        }
                        .post_foot {
                            border-bottom: 0;
                        }
                        .after_post {
                            .dropdown {
                                .btn-primary {
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }
            .post_foot {
                border-top: rem(1) solid $extra-dull;
                //border-bottom: rem(1) solid $extra-dull;
                justify-content: space-around;
                padding: rem(10) rem(24);
                .iconwrap {
                    i {
                        font-size: rem(18);
                    }
                    .like {
                        color: $lavender-2;
                    }
                    .comment {
                        color: $pink;
                    }
                    .share {
                        color: $light-green;
                    }
                    .dropdown {
                        .btn {
                            padding: 0;
                        }
                        .btn-primary {
                            background-color: transparent;
                        }
                        .dropdown-toggle {
                            &::after {
                                content: none;
                            }
                            &:focus {
                                box-shadow: none;
                            }
                        }
                        .dropdown-menu {
                            box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
                            border: none;
                            border-radius: 6px;
                            padding: 20px 5px;
                            overflow: hidden;
                            min-width: 181px;
                            .dropdown-item {
                                font-size: 15px;
                                margin-bottom: 10px;
                                padding: 0;
                                &:hover {
                                    background-color: $white;
                                }
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                ul {
                                    li {
                                        padding: 10px 18px;
                                        background-color: $white;
                                        @include transition(0.3s ease);
                                        border-radius: 5px;
                                        a {
                                            i {
                                                color: $black;
                                                padding-right: 10px;
                                                font-weight: 100;
                                                &.red {
                                                    color: $youtube;
                                                }
                                            }
                                        }
                                        &:hover {
                                            background-color: rgba($color: $lavender, $alpha: 0.6);
                                            @include transition(0.3s ease);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .dividor {
                    width: 0;
                    border-left: 1px solid $extra-dull;
                    height: rem(25);
                }
            }
        }
    }
}

//responsiveness
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .demo_section {
        padding-top: rem(80);
        .demo_area {
            .left_area {
                .content {
                    h1 {
                        font-size: rem(44);
                    }
                    h3 {
                        font-size: rem(13);
                    }
                    top: 32%;
                }
                .imgwrap {
                    img {
                        width: 80%;
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .demo_section {
        padding-top: rem(64);
        .demo_area {
            .left_area {
                .content {
                    h1 {
                        font-size: rem(44);
                    }
                    h3 {
                        font-size: rem(13);
                    }
                    top: 32%;
                }
                .imgwrap {
                    img {
                        width: 50%;
                    }
                }
            }
            .right_area {
                &::-webkit-scrollbar {
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .demo_section {
        padding-top: rem(36);
        .demo_area {
            .left_area {
                .content {
                    h1 {
                        font-size: rem(40);
                    }
                    h3 {
                        font-size: rem(12);
                    }
                    top: 32%;
                }
                .imgwrap {
                    img {
                        width: 50%;
                    }
                }
            }
            .right_area{
                .post_col{
                    min-width: 500px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .demo_section {
        padding-top: rem(36);

        .demo_area {
            .left_area {
                padding-bottom: rem(16);
                .content {
                    h1 {
                        font-size: rem(26);
                    }
                    h3 {
                        font-size: rem(9);
                    }
                    top: 32%;
                }
                .imgwrap {
                    img {
                        width: 60%;
                    }
                }
            }
            .right_area{
                .post_col{
                    min-width: 342px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .demo_section {
        padding-top: rem(24);

        .demo_area {
            .left_area {
                padding-bottom: rem(12);
                .content {
                    h1 {
                        font-size: rem(24);
                    }
                    h3 {
                        font-size: rem(8);
                    }
                    top: 32%;
                }
                .imgwrap {
                    img {
                        width: 64%;
                    }
                }
            }
            .right_area{
                .post_col{
                    min-width: 322px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .demo_section {
        padding-top: rem(20);

        .demo_area {
            .left_area {
                padding-bottom: rem(10);
                .content {
                    h1 {
                        font-size: rem(22);
                    }
                    h3 {
                        font-size: rem(8);
                    }
                    top: 32%;
                }
                .imgwrap {
                    img {
                        width: 60%;
                    }
                }
            }
            .right_area{
                .post_col{
                    min-width: 292px;
                }
            }
        }
    }
}
