@import "../../base/variable.scss";
@import "../../base/mixins.scss";

.feedback_form_section {
    padding: rem(92) 0 rem(148) 0;
    .feedback_form_area {
        padding: 0 27.6%;
        .content {
            position: relative;
            h1 {
                font-family: "Nunito", sans-serif;
                text-align: center;
                padding: 0 rem(6);
            }
            img {
                position: absolute;
                top: 0%;
                left: -13%;
            }
        }

        .sub_section {
            position: relative;
            .float_img {
                position: absolute;
                top: 49%;
                left: 100%;
                z-index: -1;
                &_1 {
                    transform: scale(-1);
                    top: auto;
                    bottom: 49%;
                    left: auto;
                    right: 100%;
                }
            }
            margin: rem(20) 0;
            border-radius: rem(10);
            padding: rem(33) rem(31);
            .main_head {
                padding-bottom: rem(26);
                font-size: rem(16);
                font-weight: 700;
                color: $dark-text-prim;
            }
            .category_bag {
                .valid-helper {
                    top: auto;
                    bottom: rem(-20);
                }
            }
            .form_controls_tarea {
                .valid-helper {
                    top: auto;
                    bottom: rem(-14);
                }
            }
            .field_valid {
                .valid-helper {
                    top: 106%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .sec_1 {
            .rating_bag {
                .rating {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $white;
                    border-radius: rem(10);
                    padding: rem(15);
                    margin: 0 rem(4.5);

                    img {
                        width: rem(45);
                        height: rem(45);
                    }
                }
            }
        }
        .sec_2 {
            .category_bag {
                .category {
                    background-color: $white;
                    border-radius: rem(10);
                    padding: rem(12) 0;
                    width: rem(153);
                    margin: 0 rem(4.5);
                    p {
                        text-align: center;
                        padding-bottom: 0;
                        font-weight: 700;
                        color: $dark-text-prim;
                    }
                }
                .form_controls {
                    width: 100%;
                    padding-bottom: 0;

                    input,
                    textarea {
                        padding: rem(12) rem(20);
                        margin-top: 0;
                        background-color: $white;
                    }
                }
            }
        }
        .action_area {
            position: relative;
            .main_btn {
                margin: rem(11) 0;
                float: right;
                min-width: rem(151);
            }
            .imgwrap {
                position: absolute;
                top: 0%;
                right: -12%;
            }
        }
        .success_area {
            margin: 0;

            .success_msg {
                .main_btn {
                    margin-top: rem(24);
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .feedback_form_section {
        padding: rem(80) 0 rem(120) 0;
        .feedback_form_area {
            padding: 0 23%;
            .content {
                img {
                    top: -10%;
                    left: -13%;
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .feedback_form_section {
        padding: rem(70) 0 rem(105) 0;
        .feedback_form_area {
            padding: 0 20%;
            .content {
                h1 {
                    padding: 0 rem(6);
                }
                img {
                    width: rem(700);
                    top: -10%;
                    left: -22%;
                }
            }
            .sub_section {
                .float_img {
                    top: 49%;
                    left: 82%;
                    z-index: -1;
                    &_1 {
                        top: auto;
                        bottom: 49%;
                        left: auto;
                        right: 82%;
                    }
                }
                margin: rem(18) 0;
                border-radius: rem(10);
                padding: rem(30) rem(24);
                .main_head {
                    padding-bottom: rem(24);
                    font-size: rem(15);
                    font-weight: 700;
                }
                .category_bag {
                    .valid-helper {
                        top: auto;
                        bottom: rem(-17);
                    }
                }
                .form_controls_tarea {
                    .valid-helper {
                        top: auto;
                        bottom: rem(-11);
                    }
                }
            }
            .sec_1 {
                .rating_bag {
                    .rating {
                        border-radius: rem(10);
                        padding: rem(12);
                        margin: 0 rem(4);

                        img {
                            width: rem(42);
                            height: rem(42);
                        }
                    }
                }
            }
            .sec_2 {
                .category_bag {
                    .category {
                        border-radius: rem(10);
                        padding: rem(10) 0;
                        width: rem(127);
                        margin: 0 rem(4);
                        p {
                            padding-bottom: 0;
                            font-weight: 700;
                        }
                    }
                    .form_controls {
                        width: 100%;
                        padding-bottom: 0;
                        input,
                        textarea {
                            padding: rem(10) rem(20);
                            margin-top: 0;
                        }
                    }
                }
            }
            .action_area {
                .main_btn {
                    margin: rem(11) 0;
                    min-width: rem(148);
                }
                .imgwrap {
                    top: 0%;
                    right: -12%;
                }
            }
            .success_area {
                margin: 0;
                .success_msg {
                    .main_btn {
                        margin-top: rem(24);
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .feedback_form_section {
        padding: rem(50) 0 rem(80) 0;
        .feedback_form_area {
            padding: 0 16%;
            .content {
                h1 {
                    padding: 0 rem(5);
                }
                img {
                    display: none;
                }
            }
            .sub_section {
                .float_img {
                    top: 49%;
                    left: 75%;
                    z-index: -1;
                    &_1 {
                        top: auto;
                        bottom: 49%;
                        left: auto;
                        right: 75%;
                    }
                }
                margin: rem(16) 0;
                border-radius: rem(10);
                padding: rem(30) rem(24);
                .main_head {
                    padding-bottom: rem(24);
                    font-size: rem(15);
                    font-weight: 700;
                }
                .category_bag {
                    .valid-helper {
                        top: auto;
                        bottom: rem(-16);
                    }
                }
                .form_controls_tarea {
                    .valid-helper {
                        top: auto;
                        bottom: rem(-10);
                    }
                }
            }
            .sec_1 {
                .rating_bag {
                    .rating {
                        border-radius: rem(10);
                        padding: rem(12);
                        margin: 0 rem(4);

                        img {
                            width: rem(42);
                            height: rem(42);
                        }
                    }
                }
            }
            .sec_2 {
                .category_bag {
                    .category {
                        border-radius: rem(10);
                        padding: rem(12) 0;
                        width: rem(127);
                        margin: 0 rem(4);
                        p {
                            padding-bottom: 0;
                            font-weight: 700;
                        }
                    }
                    .form_controls {
                        width: 100%;
                        padding-bottom: 0;
                        input,
                        textarea {
                            padding: rem(12) rem(20);
                            margin-top: 0;
                        }
                    }
                }
            }
            .action_area {
                .main_btn {
                    margin: rem(11) 0;
                    min-width: rem(136);
                }
                .imgwrap {
                    top: 0%;
                    right: -12%;
                }
            }
            .success_area {
                margin: 0;
                .success_msg {
                    .main_btn {
                        margin-top: rem(24);
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .feedback_form_section {
        padding: rem(36) 0 rem(60) 0;
        .feedback_form_area {
            padding: 0 2%;
            .content {
                h1 {
                    padding: 0 rem(5);
                }
                img {
                    display: none;
                }
            }
            .sub_section {
                .float_img {
                    display: none;
                }
                margin: rem(16) 0;
                border-radius: rem(10);
                padding: rem(24) rem(16);
                .main_head {
                    padding-bottom: rem(18);
                    font-size: rem(14);
                    font-weight: 700;
                }
                .category_bag {
                    .valid-helper {
                        top: auto;
                        bottom: rem(-14);
                    }
                }
                .form_controls_tarea {
                    .valid-helper {
                        top: auto;
                        bottom: rem(-8);
                    }
                }
            }
            .sec_1 {
                .rating_bag {
                    .rating {
                        border-radius: rem(10);
                        padding: rem(10);
                        margin: 0 rem(4);

                        img {
                            width: rem(35);
                            height: rem(35);
                        }
                    }
                }
            }
            .sec_2 {
                .category_bag {
                    .category {
                        border-radius: rem(10);
                        padding: rem(10) 0;
                        width: rem(97);
                        margin: 0 rem(4);
                        p {
                            padding-bottom: 0;
                            font-weight: 700;
                        }
                    }
                    .form_controls {
                        width: 100%;
                        padding-bottom: 0;
                        input,
                        textarea {
                            padding: rem(12) rem(20);
                            margin-top: 0;
                        }
                    }
                }
            }
            .action_area {
                .main_btn {
                    margin: rem(11) 0;
                    min-width: rem(124);
                }
                .imgwrap {
                    display: none;
                }
            }
            .success_area {
                margin: 0;
                .success_msg {
                    .main_btn {
                        margin-top: rem(24);
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .feedback_form_section {
        padding: rem(32) 0 rem(60) 0;
        .feedback_form_area {
            padding: 0 0%;
            .content {
                h1 {
                    padding: 0 rem(5);
                }
                img {
                    display: none;
                }
            }
            .sub_section {
                .float_img {
                    display: none;
                }
                margin: rem(16) 0;
                border-radius: rem(10);
                padding: rem(24) rem(16);
                .main_head {
                    padding-bottom: rem(18);
                    font-size: rem(14);
                    font-weight: 700;
                }
                .category_bag {
                    .valid-helper {
                        top: auto;
                        bottom: rem(-14);
                    }
                }
                .form_controls_tarea {
                    .valid-helper {
                        top: auto;
                        bottom: rem(-8);
                    }
                }
            }
            .sec_1 {
                .rating_bag {
                    .rating {
                        border-radius: rem(10);
                        padding: rem(10);
                        margin: 0 rem(4);

                        img {
                            width: rem(35);
                            height: rem(35);
                        }
                    }
                }
            }
            .sec_2 {
                .category_bag {
                    .category {
                        border-radius: rem(10);
                        padding: rem(10) 0;
                        width: rem(97);
                        margin: 0 rem(4);
                        p {
                            padding-bottom: 0;
                            font-weight: 700;
                        }
                    }
                    .form_controls {
                        width: 100%;
                        padding-bottom: 0;
                        input,
                        textarea {
                            padding: rem(12) rem(20);
                            margin-top: 0;
                        }
                    }
                }
            }
            .action_area {
                .main_btn {
                    margin: rem(11) 0;
                    min-width: rem(116);
                }
                .imgwrap {
                    display: none;
                }
            }
            .success_area {
                margin: 0;
                .success_msg {
                    .main_btn {
                        margin-top: rem(24);
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .feedback_form_section {
        padding: rem(26) 0 rem(50) 0;
        .feedback_form_area {
            padding: 0 0%;
            .content {
                h1 {
                    padding: 0 rem(5);
                }
                img {
                    display: none;
                }
            }
            .sub_section {
                .float_img {
                    display: none;
                }
                margin: rem(15) 0;
                border-radius: rem(10);
                padding: rem(22) rem(14);
                .main_head {
                    padding-bottom: rem(18);
                    font-size: rem(14);
                    font-weight: 700;
                }
                .category_bag {
                    .valid-helper {
                        top: auto;
                        bottom: rem(-14);
                    }
                }
                .form_controls_tarea {
                    .valid-helper {
                        top: auto;
                        bottom: rem(-8);
                    }
                }
            }
            .sec_1 {
                .rating_bag {
                    .rating {
                        border-radius: rem(10);
                        padding: rem(8);
                        margin: 0 rem(4);

                        img {
                            width: rem(32);
                            height: rem(32);
                        }
                    }
                }
            }
            .sec_2 {
                .category_bag {
                    .category {
                        border-radius: rem(10);
                        padding: rem(8) 0;
                        width: rem(86);
                        margin: 0 rem(4);
                        p {
                            padding-bottom: 0;
                            font-weight: 700;
                        }
                    }
                    .form_controls {
                        width: 100%;
                        padding-bottom: 0;
                        input,
                        textarea {
                            padding: rem(10) rem(16);
                            margin-top: 0;
                        }
                    }
                }
            }
            .action_area {
                .main_btn {
                    margin: rem(11) 0;
                    min-width: rem(100);
                }
                .imgwrap {
                    display: none;
                }
            }
            .success_area {
                margin: 0;
                .success_msg {
                    .main_btn {
                        margin-top: rem(24);
                    }
                }
            }
        }
    }
}
