@import "../../base/variable.scss";
@import "../../base/mixins.scss";
.chatev.t35 {
    top: 35px;
}
.community_main_area {
    padding: 0 rem(14);
    position: relative;
    &.fixed-header {
        .community_head {
            position: fixed;
            z-index: 99;
            background: #f1f1f1;
            width: 100%;
            top: 80px;
            &:after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                height: 100%;
                width: 50px;
                background: #f1f1f1;
                margin-left: -20px;
                z-index: -1;
            }
            h2 {
                padding-bottom: 15px;
                padding-top: 15px;
            }
        }
    }
    h2,
    h3 {
        font-family: "Nunito", sans-serif;
    }

    h2 {
        font-size: rem(24);
        padding-bottom: rem(20);
        display: flex;
        align-items: center;
        i{
            color: #757575;
            font-size: 21px;
            padding-right: 12px;
            cursor: pointer;
        }
        a {
            @include clearfix();
            padding-left: 8px;
            i {
                &.el {
                    border: 1px solid $lavender;
                    background-color: $lavender;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center !important;
                    color: $black !important;
                    display: block;
                    padding: 0 !important;
                    font-size: 14px !important;
                }
            }
        }
    }

    .community_head {
        i {
            color: $dull-text;
            font-size: rem(21);
            padding-right: rem(12);
            cursor: pointer;
        }
        .nav-pills {
            padding-bottom: rem(30);
            .nav-item {
                &:last-of-type {
                    margin-right: 0;
                }
                flex: 25%;
                margin-right: rem(20);
                .nav-link {
                    background-color: $lavender;
                    text-align: center;
                    padding: rem(12) rem(10);
                    border-radius: rem(10);
                    font-weight: 700;
                    color: inherit;
                }
                .active {
                    background-color: $white;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: rem(2) solid $lavender;
                        border-radius: rem(10);
                    }
                }
            }
        }
    }
    .community_area {
        .loading {
            text-align: center;
            width: 100%;
            color: $pink;
        }
        // overflow: auto;
        padding-bottom: 30px;
        .sub_section {
            // &:first-of-type {
            //     border-top: rem(1) solid $dull-text;
            // }
            // border-top: rem(1) solid $extra-dull;
            padding: rem(30) 0 rem(10) 0;
            &.el {
                padding-top: 20px;
            }
            .content_head {
                padding-bottom: rem(24);
                h3 {
                    font-size: rem(20);
                    font-weight: 600;
                    word-break: break-all;
                }
                p {
                    padding-top: rem(10);
                    word-break: break-all;
                }
            }
        }
    }
    .create_community {
        border-top: rem(1) solid $dull-text;
        padding: rem(30) 0 rem(10) 0;
        .created_inner {
            background-color: $white;
            border-radius: 10px;
            box-shadow: $box-shadow;
            padding: 30px;
            .created_head {
                h3 {
                    font-weight: 700;
                    font-size: 24px;
                    color: $black;
                }
            }
            .created_formed {
                padding-top: 30px;
                form {
                    .groper {
                        margin-bottom: 15px;
                        @include clearfix();
                        .icon {
                            width: 25px;
                            float: left;
                            i {
                                font-size: 16px;
                                font-weight: 700 !important;
                            }
                        }
                        .filler {
                            width: calc(100% - 25px);
                            padding-left: 15px;
                            float: left;
                            @include clearfix();
                            label {
                                font-size: 16px;
                                color: $black;
                            }
                            .form-control {
                                border-radius: 10px;
                                border-color: $lavender;
                                border-width: 2px;
                            }
                            .profile_img {
                                width: 140px;
                                height: 140px;
                                border-radius: 50%;
                                overflow: hidden;
                                position: relative;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                                a {
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    top: 40%;
                                    margin: 0 auto;
                                    text-align: center;
                                    i {
                                        width: 40px;
                                        height: 40px;
                                        background-color: rgba($color: $white, $alpha: 0.5);
                                        line-height: 44px;
                                        font-size: 18px;
                                        color: $black;
                                        text-align: center;
                                        border-radius: 50%;
                                        display: block;
                                        margin: 0 auto;
                                    }
                                }
                            }
                            .cover_img {
                                width: 100%;
                                height: 140px;
                                border-radius: 10px;
                                overflow: hidden;
                                position: relative;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                                a {
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    top: 45%;
                                    margin: 0 auto;
                                    text-align: center;
                                    i {
                                        width: 40px;
                                        height: 40px;
                                        background-color: rgba($color: $light-lav, $alpha: 0.8);
                                        line-height: 44px;
                                        font-size: 18px;
                                        color: $black;
                                        text-align: center;
                                        border-radius: 50%;
                                        display: block;
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }
                    }
                    .submiter {
                        @include clearfix();
                        padding-top: 10px;
                        .btn-primary {
                            padding: 12px 50px;
                            color: $black;
                            border-radius: 15px;
                            float: right;
                            @include clearfix();
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .community_main_area {
        .community_head {
            .nav-pills {
                padding-bottom: rem(28);
                .nav-item {
                    flex: 25%;
                    margin-right: rem(12);
                    .nav-link {
                        padding: rem(12) rem(15);
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .community_main_area {
        padding: 0 rem(8);
        h2 {
            font-size: rem(24);
            padding-bottom: rem(20);
        }

        .community_head {
            i {
                font-size: rem(21);
                padding-right: rem(12);
            }
            .nav-pills {
                padding-bottom: rem(24);
                .nav-item {
                    flex: 25%;
                    margin-right: rem(14);
                    .nav-link {
                        padding: rem(12) rem(10);
                        font-size: 11px;
                    }
                }
            }
        }
        .community_area {
            .sub_section {
                padding: rem(24) 0 rem(10) 0;
                &.el {
                    padding-top: 10px;
                }
                .content_head {
                    padding-bottom: rem(24);
                    h3 {
                        font-size: rem(20);
                    }
                    p {
                        padding-top: rem(10);
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .community_main_area {
        padding: 0 rem(4);
        h2 {
            font-size: rem(22);
            padding-bottom: rem(20);
        }

        .community_head {
            i {
                font-size: rem(20);
                padding-right: rem(12);
            }
            .nav-pills {
                padding-bottom: rem(24);
                .nav-item {
                    flex: 25%;
                    margin-right: rem(11);
                    .nav-link {
                        padding: rem(12) rem(15);
                        font-size: rem(13);
                    }
                }
            }
        }
        .community_area {
            .sub_section {
                padding: rem(44) 0 rem(10) 0;
                &.el {
                    padding-top: 13px;
                }
                .content_head {
                    padding-bottom: rem(24);
                    h3 {
                        font-size: rem(18);
                    }
                    p {
                        padding-top: rem(10);
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .community_main_area {
        padding: 0 rem(0);
        h2 {
            font-size: rem(22);
            padding-bottom: rem(18);
            a{
                i{
                    &.el{
                        line-height: 29px;
                    }
                }
            }
        }

        .community_head {
            i {
                font-size: rem(18);
                padding-right: rem(12);
            }
            .nav-pills {
                padding-bottom: rem(24);
                .nav-item {
                    flex: 25%;
                    margin-right: rem(9);
                    width: 31.33%;
                   
                    .nav-link {
                        padding: rem(10) rem(8);
                        font-size: rem(12);
                        overflow: hidden; 
                        text-overflow: ellipsis;
                        white-space: nowrap;
                       
                    }
                }
            }
        }
        .community_area {
            padding: 0;
            .sub_section {
                padding: rem(40) 0 rem(60) 0;
                &.el {
                    padding-top: 0px;
                }
                .content_head {
                    padding-bottom: rem(0);
                    h3 {
                        font-size: rem(17);
                    }
                    p {
                        padding-top: rem(10);
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .community_main_area {
        padding: 0 rem(0);
        h2 {
            font-size: rem(20);
            padding-bottom: rem(16);
            a{
                i{
                    &.el{
                        line-height: 29px;
                    }
                }
            }
        }

        .community_head {
            i {
                font-size: rem(18);
                padding-right: rem(10);
            }
            .nav-pills {
                padding-bottom: rem(22);
                .nav-item {
                    flex: 25%;
                    margin-right: rem(9);
                    width: 31.33%;
                    .nav-link {
                        padding: rem(8) rem(9);
                        font-size: rem(11);
                        overflow: hidden; 
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
        .community_area {
            padding: 0;
            .sub_section {
                padding: rem(40) 0 rem(60) 0;
                &.el {
                    padding-top: 0px;
                }
                .content_head {
                    padding-bottom: rem(0);
                    h3 {
                        font-size: rem(16);
                    }
                    p {
                        padding-top: rem(10);
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .community_main_area {
        .community_head {
            .nav-pills {
                padding-bottom: rem(20);
                .nav-item {
                    flex: 25%;
                    margin-right: rem(5);
                    .nav-link {
                        padding: rem(8) rem(5);
                        font-size: rem(11);
                    }
                }
            }
        }
    }
}
