@import "../../base/variable.scss";
@import "../../base/mixins.scss";

.auth_area {
    text-align: center;
    //max-width: 315px;
    padding: 0 27.25%;
    margin: auto;
    height: 100%;
    flex-direction: column;
    h1 {
        padding-bottom: rem(14);
    }

    .form_area {
        width: 100%;
        margin-top: 30px;
        .form_controls {
            width: 100%;
            padding-right: 25px;
            &.els{
                padding-bottom: 10px !important;
            }
            select {
                &.day {
                    width: 22% !important;
                }
                &.month {
                    width: 40% !important;
                    margin-right: 15px;
                    margin-left: 15px;
                }
                &.year {
                    width: 25% !important;

                }
                width: 33% !important;
                display: inline-block;
                -webkit-appearance: none;
                -moz-appearance: window;
                background-image: url("../../../images/96810.png");
                background-repeat: no-repeat;
                background-size: 12px;
                background-color: transparent;
                background-position-x: right;
                background-position-y: center;
                color: $black;
                border-radius:0;
                -webkit-appearance: none;
            }
        }
        .pass {
            position: relative;
            .pass_icon {
                position: absolute;
                bottom: 0%;

                right: 0;
                padding-bottom: 16px;
            }
        }
        .el{
            border-bottom: 1px solid $black;
            input{
                border: none;
                &:focus{
                    border: none;
                }
            }
        }
        .minilink {
            color: $pink;
            float: right;
            padding-right: rem(8);
        }
        .mini_padd {
            margin-top: rem(32);
        }
        .valid-helper{
            color: $pink;
            text-align: start;
        }
    }
    .action_area {
        padding: rem(26) 0;
        width: 100%;

        .main_btn {
            width: 100%;
            .fa-google {
                position: relative;
                top: 2px;
                @include google();
                margin-right: rem(20);
                font-size: rem(20);
                outline: none;
            }
        }
        .dividor {
            text-align: center;
            position: relative;
            padding: rem(24) 0;
            &::before,
            &::after {
                content: "";
                position: absolute;
                height: rem(1);
                top: 50%;
                transform: translateY(-50%);
                width: 38%;
                background-color: $dark-text-prim;
                margin: 0 15px;
            }
            &::before {
                left: 0;
            }
            &::after {
                right: 0;
            }
            &-alt {
                padding: rem(10) 0;
                &::before,
                &::after {
                    display: none;
                }
            }
        }
        .minilinks {
            padding-top: rem(16);
            text-align: center;
            .minipink {
                color: $pink;
            }
        }
    }
    .msg_action_area {
        flex-direction: column;
        margin: auto;
    }
}
.sign_area {
    //max-width: rem(680);
    padding: 0 22.65%;

    .action_area {
        margin: auto;
        padding-top: rem(48);
        width: rem(430);
        max-width: 100%;
    }
}
.sign_success {
    height: 100vh;
}
.otp_area,
.sign_area,
.reverify_area,
.reset_area {
    min-width: rem(415);
    padding: 0 24%;
    .success_area {
        min-width: rem(280);
        .success_msg {
            input {
                margin-top: rem(24);
                width: 80%;
            }
            .valid-helper {
                left: 10%;
            }
            button {
                min-width: 60%;
                margin-top: rem(24);
            }
        }
        .minilinks {
            padding-top: rem(16);
            text-align: center;
            .minipink {
                color: $pink;
            }
        }
    }
}

//responsiveness
/* Extra Huge large desktops */
@media (min-width: 1920px) {
    .auth_area {
        text-align: center;
        padding: 0 25%;
    }
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
    .auth_area {
        text-align: center;
        padding: 0 26%;
    }
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
    .auth_area {
        text-align: center;
        padding: 0 27%;
    }
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
    .auth_area {
        text-align: center;
        padding: 0 22%;
        .form_area{
             .form_controls{
                 select{
                 }
             }
            }
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .login_section {
        .login_area {
            background-size: 118%;
            .content_main {
                img {
                    max-width: 98px;
                }
            }
        }
    }
    .auth_area {
        text-align: center;
        padding: 0 22%;
        .form_area{
             .form_controls{
                 select{
                 }
             }
        }
    }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .auth_area {
        padding: 0 13%;
        margin: auto;

        h1 {
            padding-bottom: rem(14);
        }

        .form_area {
            width: 100%;

            .form_controls {
                width: 100%;
                select{
                    background-position: 62px;
                    font-size: 12px
                 }
            }
            .pass {
                .pass_icon {
                    bottom: 20%;

                    right: 2%;
                }
            }
            .minilink {
                padding-right: rem(8);
            }
            .mini_padd {
                margin-top: rem(30);
            }
        }
        .action_area {
            padding: rem(26) 0;
            width: 100%;

            .main_btn {
                width: 100%;
                .fa-google {
                    top: 2px;

                    margin-right: rem(20);
                    font-size: rem(20);
                }
            }
            .dividor {
                padding: rem(24) 0;
                &::before,
                &::after {
                    height: rem(1);

                    width: 38%;
                }

                &-alt {
                    padding: rem(10) 0;
                    &::before,
                    &::after {
                        display: none;
                    }
                }
            }
            .minilinks {
                padding-top: rem(16);
            }
        }
    }

    .sign_area {
        padding: 0 10% 0 18%;
        .content {
            h1 {
                padding-bottom: rem(6);
            }
        }
        .action_area {
            padding-top: rem(48);
            width: rem(377);
            max-width: 100%;
        }
    }
    .sign_success {
        height: 100vh;
    }
    .otp_area,
    .sign_area,
    .reverify_area,
    .reset_area {
        min-width: rem(352);
        .success_area {
            min-width: rem(280);
            .success_msg {
                input {
                    margin-top: rem(24);
                }
                button {
                    min-width: 60%;
                    margin-top: rem(24);
                }
            }
            .minilinks {
                padding-top: rem(16);
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .auth_area {
        padding-top: rem(54);
        padding-left: 20%;
        padding-right: 20%;

        height: 100%;
        h1 {
            padding-bottom: rem(30);
        }

        .form_area {
            .pass {
                .pass_icon {
                    bottom: 20%;
                    right: 1.5%;
                }
            }
            .minilink {
                padding-right: rem(8);
            }
            .mini_padd {
                margin-top: rem(26);
            }
        }
        .action_area {
            padding: rem(22) 0;

            .main_btn {
                .fa-google {
                    top: 2px;
                    margin-right: rem(20);
                    font-size: rem(20);
                }
            }
            .dividor {
                padding: rem(24) 0;
                &::before,
                &::after {
                    height: rem(1);
                    width: 40%;
                }
                &-alt {
                    padding: rem(10) 0;
                    &::before,
                    &::after {
                        display: none;
                    }
                }
            }
            .minilink {
                padding-top: rem(14);
            }
        }
    }
    .sign_area {
        padding-left: 15%;
        padding-right: 15%;
        .content {
            h1 {
                padding-bottom: 0;
            }
        }
        .action_area {
            padding-top: rem(36);
            max-width: 100%;
        }
    }
    .sign_success {
        height: 100vh;
    }
    .otp_area,
    .sign_area,
    .reverify_area,
    .reset_area {
        min-width: rem(480);
        .success_area {
            min-width: rem(280);
            .success_msg {
                input {
                    margin-top: rem(24);
                }
                button {
                    min-width: 60%;
                    margin-top: rem(24);
                }
            }
            .minilinks {
                padding-top: rem(16);
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .auth_area {
        padding-top: rem(36);
        padding-left: 20%;
        padding-right: 20%;

        height: 100%;
        h1 {
            padding-bottom: rem(18);
        }

        .form_area {
            .pass {
                .pass_icon {
                    bottom: 20%;
                    right: 1%;
                }
            }
            .minilink {
                padding-right: rem(8);
            }
            .mini_padd {
                margin-top: rem(24);
            }
        }
        .action_area {
            padding: rem(20) 0;

            .main_btn {
                .fa-google {
                    top: 2px;
                    margin-right: rem(20);
                    font-size: rem(20);
                }
            }
            .dividor {
                padding: rem(20) 0;
                &::before,
                &::after {
                    height: rem(1);
                    width: 40%;
                }
                &-alt {
                    padding: rem(8) 0;
                    &::before,
                    &::after {
                        display: none;
                    }
                }
            }
            .minilink {
                padding-top: rem(12);
            }
        }
    }
    .sign_area {
        padding-left: 13%;
        padding-right: 13%;
        padding-bottom: rem(18);
        .content {
            h1 {
                padding-bottom: 0;
            }
        }
        .action_area {
            padding-top: rem(24);
            max-width:100%;
        }
    }
    .sign_success {
        height: 100vh;
    }
    .otp_area,
    .sign_area,
    .reverify_area,
    .reset_area {
        min-width: rem(420);
        .success_area {
            min-width: rem(280);
            .success_msg {
                input {
                    margin-top: rem(24);
                }
                button {
                    min-width: 60%;
                    margin-top: rem(20);
                }
            }
            .minilinks {
                padding-top: rem(14);
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .auth_area {
        padding-top: rem(24);
        padding-left: 9.5%;
        padding-right: 9.5%;
        height: 100%;
        h1 {
            padding-bottom: rem(10);
        }

        .form_area {
            .pass {
                .pass_icon {
                    bottom: 15%;
                    font-size: rem(15);
                    right: 1%;
                }
            }
            .minilink {
                padding-right: rem(8);
            }
            .mini_padd {
                margin-top: rem(20);
            }
            .form_controls{
                select{
                }
            }
        }
        .action_area {
            padding: rem(16) 0;

            .main_btn {
                .fa-google {
                    top: 2px;
                    margin-right: rem(12);
                    font-size: rem(18);
                }
            }
            .dividor {
                padding: rem(16) 0;
                &::before,
                &::after {
                    height: rem(1);
                    width: 40%;
                }
                &-alt {
                    padding: rem(6) 0;
                    &::before,
                    &::after {
                        display: none;
                    }
                }
            }
            .minilink {
                padding-top: rem(8);
            }
        }
    }
    .sign_area {
        padding-left: 7%;
        padding-right: 7%;
        min-width: 0;
        .content {
            h1 {
                padding-bottom: 0;
            }
        }
        .action_area {
            padding-top: rem(24);
            max-width: 100%;
        }
    }
    .sign_success {
        height: 100vh;
    }
    .otp_area,
    .sign_area,
    .reverify_area,
    .reset_area {
        min-width: rem(320);
        .success_area {
            min-width: rem(280);
            .success_msg {
                input {
                    margin-top: rem(20);
                }
                button {
                    min-width: 60%;
                    margin-top: rem(18);
                }
            }
            .minilinks {
                padding-top: rem(12);
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .auth_area {
        padding-top: rem(24);
        padding-left: 8%;
        padding-right: 8%;
        height: 100%;
        h1 {
            padding-bottom: rem(10);
        }

        .form_area {
            .pass {
                .pass_icon {
                    bottom: 15%;
                    font-size: rem(14);
                    right: 1%;
                }
            }
            .minilink {
                padding-right: rem(8);
            }
            .mini_padd {
                margin-top: rem(18);
            }
            .form_controls{
                select{
                    font-size: 12px;
                }
            }
        }
        .action_area {
            padding: rem(14) 0;

            .main_btn {
                .fa-google {
                    top: 2px;
                    margin-right: rem(12);
                    font-size: rem(17);
                }
            }
            .dividor {
                padding: rem(16) 0;
                &::before,
                &::after {
                    height: rem(1);
                    width: 40%;
                }
                &-alt {
                    padding: rem(6) 0;
                    &::before,
                    &::after {
                        display: none;
                    }
                }
            }
            .minilink {
                padding-top: rem(6);
            }
        }
    }
    .sign_area {
        padding-left: 8%;
        padding-right: 8%;
        min-width: 0;
        .content {
            h1 {
                padding-bottom: 0;
            }
        }
        .action_area {
            padding-top: rem(24);
            // min-width: rem(320);
        }
    }
    .sign_success {
        height: 100vh;
    }
    .otp_area,
    .sign_area,
    .reverify_area,
    .reset_area {
        min-width: rem(320);
        .success_area {
            min-width: rem(280);
            .success_msg {
                input {
                    margin-top: rem(20);
                }
                button {
                    min-width: 60%;
                    margin-top: rem(18);
                }
            }
            .minilinks {
                padding-top: rem(12);
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .auth_area {
        padding-top: rem(24);

        height: 100%;
        h1 {
            padding-bottom: rem(8);
        }

        .form_area {
            .pass {
                .pass_icon {
                    bottom: 15%;
                    font-size: rem(13);
                    right: 1%;
                }
            }
            .minilink {
                padding-right: rem(8);
            }
            .mini_padd {
                margin-top: rem(16);
            }
        }
        .action_area {
            padding: rem(12) 0;

            .main_btn {
                .fa-google {
                    top: 2px;
                    margin-right: rem(12);
                    font-size: rem(16);
                }
            }
            .dividor {
                padding: rem(15) 0;
                &::before,
                &::after {
                    height: rem(1);
                    width: 40%;
                }
                &-alt {
                    padding: rem(5) 0;
                    &::before,
                    &::after {
                        display: none;
                    }
                }
            }
            .minilink {
                padding-top: rem(4);
            }
        }
    }
    .sign_area {
        padding-left: 8%;
        padding-right: 8%;
        min-width: 0;
        .content {
            h1 {
                padding-bottom: 0;
            }
        }
        .action_area {
            padding-top: rem(24);
            max-width: rem(290);
        }
    }
    .sign_success {
        height: 100vh;
    }
    .otp_area,
    .sign_area,
    .reverify_area,
    .reset_area {
        min-width: rem(290);
        .success_area {
            min-width: rem(280);
            .success_msg {
                input {
                    margin-top: rem(20);
                }
                button {
                    min-width: 60%;
                    margin-top: rem(18);
                }
            }
            .minilinks {
                padding-top: rem(12);
            }
        }
    }
}
