@import "../../base/variable.scss";
@import "../../base/mixins.scss";

.login_section {
    background-color: $white;
    .img_area_dov{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 78%;
            object-fit: cover;
            vertical-align: bottom;
            position: absolute;
            bottom: 0;
        }
    }
    .login_area {
        .left_area {
            background-color: $lavender;
            background-repeat: no-repeat;
            background-position: 50% 100%;
            background-size: 136%;
            position: relative;
            height: 100vh;
        }
        .content_main {
            padding-top: rem(70);
            padding-left: rem(30);
            flex-direction: column;
            h3 {
                padding-bottom: rem(36);
            }
            img {
                max-width: rem(135);
            }
        }
        
    }
    .recent_lgoin{
        .head_recent{
            padding-bottom: 20px;
            text-align: start;
            h4{
                font-size: 30px;
            }
            p{
                font-size: 20px;
                padding-top: 10px;
            }
        }
        .recent_log{
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 10px;
            overflow: hidden;
            width: 160px;
            height: 200px;
            position: relative;
            margin: 0 auto;
            margin-top: 30px;
            cursor: pointer;
            .img_set{
                width: 100%;
                height: 155px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .name_user{
                text-align: center;
                padding: 12px;
                p{
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-transform: capitalize;
                }
            }
            .cross{
                position: absolute;
                right: 0;
                top: 0;
                margin-top: 3px;
                margin-right: 5px;
                &:hover{
                    i {
                        background-color: rgba(204, 204, 255, 1);
                    }
                }
                i{
                   border-radius: 50%;
                   width: 20px;
                   height: 20px;
                   line-height: 20px;
                   text-align: center;
                   background-color: rgba(204, 204, 255, 0.55);
                   color: $white;
                }
            }
        }
    }
}


// @media (min-width: 1600px) {
//     .login_section{
//         .login_area{
//             .left_area{
//                 background-size: 94% !important;
//                 .content_main{
//                    padding-top: 10px;
//                 }
//             }
//         }
//     }
// }
/* Landscape tablets and medium desktops */
@media (min-width: 1400px) and (max-width: 1599px) {
    .login_section{
        .login_area{
            .content_main{
                h3{
                    padding-bottom: 24px;
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 1200px) and (max-width: 1399px) {
    .login_section{
        .login_area{
            .content_main{
                h3{
                    padding-bottom: 24px;
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .login_section {
        .login_area {
            .left_area {
                // height: 100vh;
                background-size: 130%;
            }
            .content_main {
                padding-top: rem(90);
                padding-left: rem(20);
                h3 {
                    padding-bottom: rem(24);
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .login_section {
        .login_area {
            .left_area {
                height: auto;
                background-size: 120%;
            }
            .content_main {
                padding-top: rem(60);
                padding-left: rem(20);
                h3 {
                    padding-bottom: rem(24);
                }
            }
        }
        .img_area_dov{
            img{
                 position: relative;
                 height: 100% !important;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .login_section {
        .login_area {
            .left_area {
                background-size: 68%;
                height: auto;
            }
            .content_main {
                padding-top: rem(20);
                padding-left: rem(16);
                h3 {
                    padding-bottom: rem(24);
                    font-size: rem(12);
                }
                img {
                    width: rem(80);
                }
            }
        }
        .img_area_dov{
            img{
                 position: relative;
                 height: 100% !important;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .login_section {
        .login_area {
            .left_area {
                height: auto;
                background-size: 120%;
            }
            .content_main {
                padding-top: rem(40);
                padding-left: rem(16);
                h3 {
                    padding-bottom: rem(24);
                    font-size: rem(12);
                }
                img {
                    width: rem(80);
                }
            }
        }
        .img_area_dov{
            img{
                 position: relative;
                 height: 100% !important;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .login_section {
        .login_area {
            .left_area {
                height: auto;
            }
            .content_main {
                padding-top: rem(60);
                h3 {
                    padding-bottom: rem(24);
                    font-size: rem(11);
                }
                img {
                    width: rem(80);
                }
            }
        }
        .img_area_dov{
            img{
                 position: relative;
                 height: 100% !important;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .login_section {
        .login_area {
            .left_area {
                // height: 66vh;
                background-size: 110%;
            }
            .content_main {
                padding-top: rem(48);
                h3 {
                    padding-bottom: rem(12);
                    font-size: rem(11);
                }
                img {
                    width: rem(80);
                }
            }
        }
    }
}

@media (min-height: 676px) and (max-height: 760px) {
    .login_section {
        .login_area {
            .content_main{
                padding-top: 19px;
                 img{
                    max-width: 106px !important;
                 }
            }
        }
        .img_area_dov{
            img{
                height: 90%;
            }
        }
    }
}

@media (max-height: 675px) {
    .login_section {
        .login_area {
            .content_main{
                padding-top: 19px;
                img{
                    max-width: 83px !important;
                   
                 }
            }
        }
        .img_area_dov{
            img{
                height: 90%;
               
            }
        }
    }
}