@import "../../base/variable.scss";
@import "../../base/mixins.scss";

.signup_section {
    background-color: $white;
    .signup_area {
        .left_area {
            img {
                //width: auto;
                height: 100vh;
            }
        }
    }
    .verify_area {
        height: 100vh;
    }
    .err_area {
        background-color: $err-bg;
        background-position: 50% 20%;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        .errtxt {
            position: absolute;
            width: 30%;
            top: 17%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .signup_section {
        .signup_area {
            .left_area {
                img {
                    margin-left: rem(-20);
                }
            }
        }
        .verify_area {
            height: 100vh;
        }
        .err_area {
            background-position: 50% 50%;

            .errtxt {
                width: 36%;
                top: 16%;
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .signup_section {
        .signup_area {
            .left_area {
                img {
                    display: none;
                }
            }
        }
        .verify_area {
            height: 100vh;
        }
        .err_area {
            background-position: 50% 100%;
            background-size: 100%;

            .errtxt {
                width: 36%;
                top: 36%;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .signup_section {
        .signup_area {
            .left_area {
                img {
                    display: none;
                }
            }
        }
        .verify_area {
            height: 100vh;
        }
        .err_area {
            background-position: 50% 100%;
            background-size: 100%;

            .errtxt {
                width: 30%;
                top: 12%;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .signup_section {
        .signup_area {
            .left_area {
                img {
                    display: none;
                }
            }
        }
        .verify_area {
            height: 100vh;
        }
        .err_area {
            background-position: 50% 50%;
            background-size: 100%;

            .errtxt {
                width: 30%;
                top: 36%;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .signup_section {
        .signup_area {
            .left_area {
                img {
                    display: none;
                }
            }
        }
        .verify_area {
            height: 100vh;
        }
        .err_area {
            background-position: 50% 50%;
            background-size: 100%;

            .errtxt {
                width: 26%;
                top: 39%;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
}
