.post-detail_section{
    .post_detail_side{
        display: flex;
        .post_detail_img_box{
            width: calc(100% - 520px);
            float: left;
            background-color: $black;
            .options{
                padding: 0 30px;
                padding-top: 20px;
                .back{
                    float: left;
                    a{
                        i{
                            color: $white;
                            font-size: 20px;
                        }
                    }
                }
                .scan{
                    float: right;
                    a{
                        i{
                            color: $white;
                            font-size: 20px;
                        }
                    }
                }
            }
            .img_aera{
                padding: 90px;
                width: 100%;
                height: 900px;
                overflow: hidden;
                max-height: 900px;
                img,video,iframe{
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    object-fit: cover;
                }
            }
        }
        .post_cmt{
            width: 520px;
            float: left;
        }
    }
}







/* Extra Huge large desktops */
@media (min-width: 1920px){
    
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px){
    
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px){
    
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px){
    
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.post-detail_section{
        .post_detail_side{
            .post_detail_img_box{
               width: calc(100% - 380px);
               .img_aera{
                   padding: 90px;
               }
            }
            .post_cmt{
                width: 380px;
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
	.post-detail_section{
        .post_detail_side{
            .post_detail_img_box{
               width: calc(100% - 320px);
               .img_aera{
                     padding: 50px;
                     height: 600px;
                }
            }
            .post_cmt{
                width: 320px;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
	.post-detail_section{
        .post_detail_side{
            .post_detail_img_box{
               width: calc(100% - 250px);
               .img_aera{
                     padding: 50px;
                     height: 400px;
                }
            }
            .post_cmt{
                width: 250px;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
	.post-detail_section{
        .post_detail_side{
            display: unset;
            .post_detail_img_box{
               width: 100%;
               .img_aera{
                     padding: 50px;
                     height: 340px;
                }
            }
            .post_cmt{
               width: 100%;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
	.post-detail_section{
        .post_detail_side{
            display: unset;
            .post_detail_img_box{
               width: 100%;
               .img_aera{
                     padding: 33px;
                     height: 340px;
                }
            }
            .post_cmt{
               width: 100%;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    
}