.home_section {
    // padding-bottom: 0;
    background-color: $border-light;
    // height: 968px;
    // max-height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
		width: 8px;
		border-radius: 10px;
		background-color: $border-light;
        -webkit-appearance: none;
	}
	&::-webkit-scrollbar-track {
		border-radius: 8px;
        width: 8px;
        -webkit-appearance: none;
	}
	&::-webkit-scrollbar-thumb {
		background: $lavender;
		border-radius: 8px;
        width: 8px;
        -webkit-appearance: none;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: $lavender;
        width: 8px;
        -webkit-appearance: none;
	}
    &:-o-transform {
		width: 8px;
		border-radius: 10px;
		background-color: $border-light;
        -webkit-appearance: none;
	}
	&::-ms-transform-track {
		border-radius: 8px;
        -webkit-appearance: none;
	}
	&::-ms-transform-thumb {
		background: $lavender;
		border-radius: 8px;
        -webkit-appearance: none;
	}
	&::-ms-transform-thumb:hover {
		background: $lavender;
        -webkit-appearance: none;
	}
    &:-o-transform {
		width: 8px;
		border-radius: 10px;
		background-color: $border-light;
        -webkit-appearance: none;
	}
	&:-o-transform-track {
		border-radius: 8px;
        -webkit-appearance: none;
	}
	&:-o-transform-thumb {
		background: $lavender;
		border-radius: 8px;
        -webkit-appearance: none;
	}
	&:-o-transform-thumb:hover {
		background: $lavender;
        -webkit-appearance: none;
	}
    @include clearfix();
    .timeline_title {
        h2 {
            font-size: rem(24);
            padding-bottom: rem(20);
            display: flex;
            align-items: center;
            font-family: "Nunito", sans-serif;
            i {
                color: $dull-text;
                font-size: rem(21);
                padding-right: rem(12);
                cursor: pointer;
            }
        }
    }
    .timeline_scroll_section {
        // height: 720px;
        // padding-bottom: 30px;
        // max-height: 100%;
        // overflow-x: hidden;
        @include clearfix();
        &::-webkit-appearance {
            display: none;
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .timeline_section {
        // box-shadow: $box-shadow;
        //scroll
        // height: 850px;
        // overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        .loading {
            text-align: center;
            font-size: 16px;
            color: $primary_color;
        }
    }
    .home_area {
        position: relative;
    }
}

.post_col {
    min-width: rem(540);
    display: flex;
    justify-content: space-between;
    border-radius: rem(10);
    padding: rem(16) rem(18) rem(12) rem(18);
    .before_post {
        width: 46px;
        .imgwrap {
            width: rem(46);
            height: rem(46);
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
   
    .main_post {
        .head_name_user{
            @include clearfix();
            .before_post {
                float: left;
                width: 46px;
                .imgwrap {
                    width: rem(46);
                    height: rem(46);
                    border-radius: 50%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .post_head {
                padding: 0 rem(11) 0 rem(11);
                float: left;
                width: calc(100% - 46px);
                .user_info {
                    .user {
                        font-size: rem(16);
                    }
                    .lav_dot {
                        display: inline-block;
                        width: rem(10);
                        height: rem(10);
                        border-radius: 50%;
                        margin-left: rem(16);
                        margin-right: rem(7);
                        color: $lavender-2;
                    }
                    .comm {
                        font-size: rem(16);
                        color: $lavender-2;
                    }
                }
                .post_time {
                    font-size: rem(12);
                    color: $dull-text;
                }
            }
        }
        .post_body {
            padding: 0 rem(12) 0 rem(18);
            .post_tags {
                padding-top: rem(20);
                @include clearfix();
                span {
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0;
                    }
                    &.post_tag {
                        // margin-right: rem(10);
                        word-break: break-all;
                        color: $dull-text;
                        border: 1px solid $lavender;
                        border-radius: rem(10);
                        display: inline-block;
                        margin-bottom: 10px;
                        padding: 10px;
                        font-size: rem(12);
                        margin-right: 10px;
                        min-width: 48px;
                        text-align: center;
                    }
                }
            }
            .post_tags + .post_text {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .post_text {
                padding-top: rem(20);
                p {
                    font-weight: 600;
                }
            }
            .post_info {
                padding: rem(16) 0 rem(4) 0;
                justify-content: space-between;
                p {
                    color: $dull-text;
                }
                .likes {
                }
                .comments {
                    cursor: pointer;
                }
            }
            .post_img {
                &.audio{
                    height: auto !important;
                }
                .slide-media {
                    .audio-player {
                        .bar {
                            position: relative;
                            bottom: 9px;
                            padding: 0 55px;
                        }
                        // .controls {
                        //     .player__button {
                        //         position: absolute;
                        //         top: 32%;
                        //     }
                        // }
                    }
                }
            }
        }
        .post_foot {
            border-top: rem(1) solid $extra-dull;
            justify-content: space-between;
            padding: rem(10) rem(24);
            .iconwrap {
                i {
                    font-size: rem(18);
                }
                .like {
                    color: $pink;
                }
                .comment {
                    color: $dark-blue;
                }
                .share {
                    color: $light-green;
                }
            }
            .dividor {
                width: 0;
                border-left: 1px solid $extra-dull;
                height: rem(25);
            }
        }
    }
    .after_post {
        padding-left: rem(0);
        i {
            font-size: rem(18);
            color: $dull-text;
        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}
/* Extra large desktops and mac laptops*/
@media (min-width: 1200px) and (max-width: 1399px) {
    // .home_section {
    //     height: 905px;
    // }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .home_section {
        // height: 770px;
    }
    .post_col {
        min-width: rem(540);
        border-radius: rem(10);
        padding: rem(16) rem(18) rem(12) rem(18);
        .before_post {
            .imgwrap {
                width: rem(46);
                height: rem(46);
            }
        }
        .main_post {
            .post_head {
                padding: 0 rem(20) 0 rem(20);
                .user_info {
                    .user {
                        font-size: rem(16);
                    }
                    .lav_dot {
                        width: rem(10);
                        height: rem(10);

                        margin: 0 rem(16);
                    }
                    .comm {
                        font-size: rem(16);
                    }
                }
                .post_time {
                    font-size: rem(12);
                }
            }
            .post_body {
                padding: 0 rem(12) 0 rem(18);
                .post_tags {
                    padding-top: rem(20);

                    .post_tag {
                        margin-right: rem(10);
                        a {
                            font-size: rem(12);
                        }
                    }
                }
                .post_text {
                    padding-top: rem(20);
                }
                .post_info {
                    padding: rem(16) 0 rem(4) 0;
                }
            }
            .post_foot {
                padding: rem(10) rem(24);
                .iconwrap {
                    i {
                        font-size: rem(18);
                    }
                }
                .dividor {
                    height: rem(25);
                }
            }
        }
        .after_post {
            padding-left: rem(30);
            i {
                font-size: rem(18);
            }
        }
    }
    .story-post-wrap {
        .post_col {
            &.select {
                .main_post {
                    .post_category {
                        .photo {
                            p {
                                padding-left: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .home_section {
        // height: 1030px;
        // .timeline_section {
        //     height: 1320px;
        // }
        // .timeline_scroll_section{
        //     height: 765px;
        // }
    }
    .post_col {
        min-width: rem(540);

        border-radius: rem(10);
        padding: rem(16) rem(18) rem(12) rem(18);
        .before_post {
            .imgwrap {
                width: rem(46);
                height: rem(46);
            }
        }
        .main_post {
            .post_head {
                padding: 0 rem(20) 0 rem(20);
                .user_info {
                    .user {
                        font-size: rem(16);
                    }
                    .lav_dot {
                        width: rem(10);
                        height: rem(10);

                        margin: 0 rem(16);
                    }
                    .comm {
                        font-size: rem(16);
                    }
                }
                .post_time {
                    font-size: rem(12);
                }
            }
            .post_body {
                padding: 0 rem(12) 0 rem(18);
                .post_tags {
                    padding-top: rem(20);

                    .post_tag {
                        margin-right: rem(10);
                        a {
                            font-size: rem(12);
                        }
                    }
                }
                .post_text {
                    padding-top: rem(20);
                }
                .post_info {
                    padding: rem(16) 0 rem(4) 0;
                }
            }
            .post_foot {
                padding: rem(10) rem(24);
                .iconwrap {
                    i {
                        font-size: rem(18);
                    }
                }
                .dividor {
                    height: rem(25);
                }
            }
        }
        .after_post {
            padding-left: rem(0);
            i {
                font-size: rem(18);
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .home_section {
        // height: 500px;
        height: auto;
        // .timeline_scroll_section{
        //     height: 375px;
        // }
    }
    .post_col {
        min-width: rem(500);

        border-radius: rem(10);
        padding: rem(14) rem(16) rem(8) rem(16);
        .before_post {
            .imgwrap {
                width: rem(42);
                height: rem(42);
            }
        }
        .main_post {
            .post_head {
                padding: 0 rem(16) 0 rem(16);
                .user_info {
                    .user {
                        font-size: rem(14);
                    }
                    .lav_dot {
                        width: rem(9);
                        height: rem(9);

                        margin: 0 rem(12);
                    }
                    .comm {
                        font-size: rem(14);
                    }
                }
                .post_time {
                    font-size: rem(11);
                }
            }
            .post_body {
                padding: 0 rem(10) 0 rem(16);
                .post_tags {
                    padding-top: rem(16);

                    .post_tag {
                        margin-right: rem(8);
                        a {
                            font-size: rem(11);
                        }
                    }
                }
                .post_text {
                    padding-top: rem(18);
                }
                .post_info {
                    padding: rem(12) 0 rem(2) 0;
                }
            }
            .post_foot {
                padding: rem(8) rem(24);
                .iconwrap {
                    i {
                        font-size: rem(18);
                    }
                }
                .dividor {
                    height: rem(22);
                }
            }
        }
        .after_post {
            padding-left: rem(24);
            i {
                font-size: rem(14);
            }
        }
    }
    .story-post-wrap {
        .post_col {
            &.select {
                .main_post {
                    .post_category {
                        .photo {
                            padding: 0 15px;
                        }
                    }
                }
            }
        }
        .post_comment-view {
            padding: 10px 19px;
            .comments_view {
                .comment_detail {
                    .name {
                        p {
                            font-size: 13px;
                        }
                        span {
                            font-size: 13px;
                        }
                        i {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .comment_write {
            .comment_type {
                .form-group {
                    .comment {
                        max-width: 220px;
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .post_col {
        min-width: rem(360);
        border-radius: rem(8);
        padding: rem(12) rem(14) rem(6) rem(14);
        .before_post {
            .imgwrap {
                width: rem(40);
                height: rem(40);
            }
        }
        .main_post {
            .post_head {
                padding: 0 rem(14) 0 rem(10) !important;
                .user_info {
                    .user {
                        font-size: rem(13);
                    }
                    .lav_dot {
                        width: rem(8);
                        height: rem(8);

                        margin: 0 rem(10);
                    }
                    .comm {
                        font-size: rem(13);
                    }
                }
                .post_time {
                    font-size: rem(11);
                }
            }
            .post_body {
                padding: 0 rem(6) 0 rem(12);
                .post_tags {
                    padding-top: rem(12);

                    span {
                        &.post_tag {
                            padding: 3px 6px;
                            a {
                                font-size: rem(10);
                            }
                        }
                    }
                }
                .post_text {
                    padding-top: rem(16);
                }
                .post_info {
                    padding: rem(8) 0 rem(1) 0;
                }
            }
            .post_foot {
                padding: rem(6) rem(20);
                .iconwrap {
                    i {
                        font-size: rem(16);
                    }
                }
                .dividor {
                    height: rem(20);
                }
            }
        }
        .after_post {
            padding-left: rem(16);
            i {
                font-size: rem(13);
            }
        }
    }
    .story-post-wrap {
        .post_col {
            &.select {
                display: block;
                position: relative;
                .main_post {
                    padding-left: 0;
                    padding-top: 15px;
                    .post-message {
                        position: absolute;
                        top: 14px;
                        right: 10px;
                    }

                    .post_category {
                        // display: block;
                        label {
                            display: block;
                        }
                        .photo {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        .post_comment-view {
            padding: 10px 10px;
            .comments_view {
                position: relative;
                .user_img {
                    width: 42px;
                    height: 42px;
                }
                .after_post {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
        .comment_write {
            .comment_type {
                .form-group {
                    .comment {
                        padding-left: 15px;
                        padding-right: 40px;
                        width: 244px;
                        font-size: 12px;
                    }
                    .emoji {
                        right: 7px;
                    }
                }
                .add_comment {
                    margin-top: 10px;
                }
            }
        }
    }
    .home_section {
        // .timeline_scroll_section{
        //     height: auto;
        // }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .post_col {
        min-width: rem(345);

        border-radius: rem(8);
        padding: rem(11) rem(13) rem(5) rem(13);
        .before_post {
            .imgwrap {
                width: rem(40);
                height: rem(40);
            }
        }
        .main_post {
            .post_head {
                padding: 0 rem(13) 0 rem(13);
                .user_info {
                    .user {
                        font-size: rem(13);
                    }
                    .lav_dot {
                        width: rem(8);
                        height: rem(8);

                        margin: 0 rem(8);
                    }
                    .comm {
                        font-size: rem(13);
                    }
                }
                .post_time {
                    font-size: rem(11);
                }
            }
            .post_body {
                padding: 0 rem(5) 0 rem(10);
                .post_tags {
                    padding-top: rem(10);

                    span {
                        &.post_tag {
                            padding: 3px 6px;
                            a {
                                font-size: rem(10);
                            }
                        }
                    }
                }
                .post_text {
                    padding-top: rem(15);
                }
                .post_info {
                    padding: rem(7) 0 rem(1) 0;
                }
            }
            .post_foot {
                padding: rem(6) rem(18);
                .iconwrap {
                    i {
                        font-size: rem(14);
                    }
                }
                .dividor {
                    height: rem(16);
                }
            }
        }
        .after_post {
            padding-left: rem(12);
            i {
                font-size: rem(12);
            }
        }
    }
    .story-post-wrap {
        .post_col {
            &.select {
                .main_post {
                    .post_category {
                        // display: block;
                        label {
                            display: block;
                        }
                        .photo {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        .post_comment-view {
            padding: 10px 10px;
            .comments_view {
                position: relative;
                .user_img {
                    width: 42px;
                    height: 42px;
                }
                .after_post {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
        .comment_write {
            .comment_type {
                .form-group {
                    .comment {
                        font-size: 11px;
                    }
                }
                .add_comment {
                    margin-top: 10px;
                }
            }
        }
    }
    .home_section {
        // .timeline_scroll_section{
        //     height: auto;
        // }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .post_col {
        min-width: rem(305);

        border-radius: rem(8);
        padding: rem(10) rem(12) rem(4) rem(12);
        .before_post {
            .imgwrap {
                width: rem(38);
                height: rem(38);
            }
        }
        .main_post {
            .post_head {
                padding: 0 rem(12) 0 rem(12);
                .user_info {
                    .user {
                        font-size: rem(12);
                    }
                    .lav_dot {
                        width: rem(7);
                        height: rem(7);

                        margin: 0 rem(7);
                    }
                    .comm {
                        font-size: rem(12);
                    }
                }
                .post_time {
                    font-size: rem(10);
                }
            }
            .post_body {
                padding: 0 rem(4) 0 rem(8);
                .post_tags {
                    padding-top: rem(8);
                    span {
                        &.post_tag {
                            padding: 3px 6px;
                            a {
                                font-size: rem(10);
                            }
                        }
                    }
                }
                .post_text {
                    padding-top: rem(12);
                }
                .post_info {
                    padding: rem(4) 0 0 0;
                }
            }
            .post_foot {
                padding: rem(5) rem(16);
                .iconwrap {
                    i {
                        font-size: rem(13);
                    }
                }
                .dividor {
                    height: rem(15);
                }
            }
        }
        .after_post {
            padding-left: rem(11);
            i {
                font-size: rem(12);
            }
        }
    }
    .story-post-wrap {
        .post_col {
            &.select {
                display: block;
                position: relative;
                padding-right: 12px;
                .main_post {
                    padding-left: 0;
                    padding-top: 15px;
                    .post-message {
                        position: absolute;
                        top: 14px;
                        right: 10px;
                        .form-group {
                            .message {
                                padding-right: 20px;
                                padding-left: 20px;
                            }
                        }
                    }

                    .post_category {
                        // display: block;
                        label {
                            display: block;
                        }
                        .photo {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        .post_comment-view {
            padding: 10px 10px;
            .comments_view {
                position: relative;
                .user_img {
                    width: 42px;
                    height: 42px;
                }
                .after_post {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
        .comment_write {
            .comment_type {
                .form-group {
                    .emoji {
                        right: 7px;
                    }
                }
                .add_comment {
                    margin-top: 10px;
                }
            }
        }
    }
}
