.story {
    padding-bottom: 25px;
    overflow: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
    ul {
        // overflow-x: auto;
        white-space: nowrap;
        float: left;
        width: 80px;
        //  &::-webkit-appearance{
        // 	visibility: hidden;
        // }
        // &::-webkit-scrollbar {
        //     visibility: hidden;
        // }
        li {
            display: inline-block;
            width: auto;
            //margin-right: 20px;
            &:last-child {
                margin-right: 0px;
            }
            .user-created {
                margin:0  12px;
                max-width: 80px;
                .created {
                    background-color: $lavender;
                    border-radius: 50%;
                    width: 60px;
                    line-height: 67px;
                    height: 60px;
                    text-align: center;
                    margin: 3px;
                    i {
                        font-weight: 800;
                        font-size: 16px;
                    }
                }
                .create-img {
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                    overflow: hidden;
                    margin: 0 auto;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .title {
                    padding-top: 10px;
                    text-align: center;
                    p{
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
    .horizontal-menu{
        float: left;
        width: calc(100% - 80px);
        .menu-wrapper{
            .menu-wrapper--inner{
                .menu-item-wrapper{
                    // margin-right: 15px !important;
                    // &:last-child{
                    //     margin-right: 0;
                    // }
                    .user-created{
                        width: 80px;
                        height: 70px;
                        margin: 5px;
                        .create-img{
                            width: 60px !important;
                            height: 60px !important;
                            border-radius: 50%;
                            overflow: hidden;
                            background-size: cover;
                            margin: 0 auto;
                        }
                        .title{
                            padding-top: 10px;
                            text-align: center;
                            p{
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .story {
        ul {
            li {
                .user-created {
                    padding-right: 25px;
                    .created {
                        width: 50px;
                        line-height: 59px;
                        height: 50px;
                    }
                    .create-img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        .horizontal-menu{
            .menu-wrapper{
                .menu-wrapper--inner{
                    .menu-item-wrapper{
                        .user-created{
                            .create-img{
                                width: 50px !important;
                                height: 50px !important;
                            }
                            .title{
                                padding-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .story {
        ul {
            li {
                .user-created {
                    padding-right: 25px;
                    .created {
                        width: 50px;
                        line-height: 59px;
                        height: 50px;
                    }
                    .create-img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        .horizontal-menu{
            .menu-wrapper{
                .menu-wrapper--inner{
                    .menu-item-wrapper{
                        .user-created{
                            .create-img{
                                width: 50px !important;
                                height: 50px !important;
                            }
                            .title{
                                padding-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .story {
        padding-bottom: 20px;
        ul {
            li {
                .user-created {
                    padding-right: 20px;
                    .created {
                        width: 50px;
                        line-height: 59px;
                        height: 50px;
                    }
                    .create-img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        .horizontal-menu{
            .menu-wrapper{
                .menu-wrapper--inner{
                    .menu-item-wrapper{
                        .user-created{
                            .create-img{
                                width: 50px !important;
                                height: 50px !important;
                            }
                            .title{
                                padding-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .story {
        padding-bottom: 20px;
        ul {
            li {
                .user-created {
                    padding-right: 20px;
                    .created {
                        width: 50px;
                        line-height: 59px;
                        height: 50px;
                    }
                    .create-img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        .horizontal-menu{
            .menu-wrapper{
                .menu-wrapper--inner{
                    .menu-item-wrapper{
                        .user-created{
                            .create-img{
                                width: 50px !important;
                                height: 50px !important;
                            }
                            .title{
                                padding-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .story {
        padding-bottom: 15px;
        ul {
            li {
                .user-created {
                    padding-right: 20px;
                    .created {
                        width: 50px;
                        line-height: 59px;
                        height: 50px;
                    }
                    .create-img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}
