@import "../../base/variable.scss";
@import "../../base/mixins.scss";
.community_suggestions {
    border-radius: 15px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: $white;
    box-shadow: 3.536px 3.536px 35px 0px rgba(48, 28, 65, 0.1);
    padding: 20px 0;
    position: sticky;
    top: 0px;
    @include clearfix();
    .community-head {
        padding: 12px 22px;
        border-bottom: 1px solid $border-light;
        @include clearfix();
        .name {
            float: left;
            p {
                color: $dull-text;
                font-size: 14px;
                span {
                    color: $black;
                    padding-left: 5px;
                }
            }
        }
        .icon {
            float: right;
            span {
                color: $dar-green;
            }
        }
    }
    .suggestion_list {
        padding: 22px 22px;
        ul {
            max-height: 300px;
            overflow-y: auto;
            padding-right: 10px;
            &::-webkit-scrollbar {
                width: 4px;
                border-radius: 10px;
                background-color: $border-light;
            }
            &::-webkit-scrollbar-track {
                border-radius: 4px;
            }
            &::-webkit-scrollbar-thumb {
                background: $lavender; 
                border-radius: 4px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: $primary_color; 
            }
            li {
                padding-bottom: 16px;
                @include clearfix();
                display: flex;
                align-items: center;
                &:last-child {
                    padding-bottom: 0;
                }
                .img_area {
                    border-radius: 50%;
                    width: rem(46);
                    height: rem(46);
                    overflow: hidden;

                    img {
                        max-width: 100%;
                        width: auto;
                    }

                    float: left;
                    &.frnds {
                        position: relative;
                        &.online {
                            position: relative;
                            &::after {
                                position: absolute;
                                content: "";
                                background-color: $dark-green;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                bottom: 0;
                                right: 0;
                                z-index: 1;
                            }
                        }
                        &.offline {
                            position: relative;
                            &::after {
                                position: absolute;
                                content: "";
                                background-color: $red;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                bottom: 0;
                                right: 0;
                                z-index: 1;
                            }
                        }
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                    }
                }
                .img_suggesyion{
                    width: 45px;
                    float: left;
                    height: 45px;
                    a{
                        display: inline-block;
                    }
                }
                .name {
                    float: left;
                    padding-left: 20px;
                    width: calc(100% - 45px);
                    p{
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}


/* Extra large desktops and mac laptops*/
@media (min-width: 1200px) and (max-width: 1399px) {
    .community_suggestions{
         .suggestion_list{
            ul{
                max-height:250px;
            }
         }
    }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .community_suggestions {
        .community-head {
            .name {
                p {
                    font-size: 14px;
                }
            }
        }
        .suggestion_list{
            ul{
                max-height: 220px;
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .community_suggestions {
        .community-head {
            .name {
                p {
                    font-size: 14px;
                }
            }
        }
        .suggestion_list {
            ul {
                li {
                    .img_area {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .community_suggestions {
        .community-head {
            position: relative;
            padding: 20px 10px;
            .name {
                p {
                    font-size: 14px;
                }
            }
            .icon {
                position: absolute;
                right: 9px;
                top: 20px;
                z-index: 1;
            }
        }
        .suggestion_list {
            padding: 22px 10px;
            ul {
                li {
                    .img_area {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .community_suggestions {
        .community-head {
            position: relative;
            padding: 20px 10px;
            .name {
                p {
                    font-size: 14px;
                }
            }
            .icon {
                position: absolute;
                right: 9px;
                top: 20px;
                z-index: 1;
            }
        }
        .suggestion_list {
            padding: 22px 10px;
            ul {
                li {
                    .img_area {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .community_suggestions {
        .community-head {
            position: relative;
            padding: 20px 10px;
            .name {
                p {
                    font-size: 14px;
                }
            }
            .icon {
                position: absolute;
                right: 9px;
                top: 20px;
                z-index: 1;
            }
        }
        .suggestion_list {
            padding: 22px 10px;
            ul {
                li {
                    .img_area {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .community_suggestions {
        .community-head {
            position: relative;
            padding: 20px 10px;
            .name {
                p {
                    font-size: 14px;
                }
            }
            .icon {
                position: absolute;
                right: 9px;
                top: 20px;
                z-index: 1;
            }
        }
        .suggestion_list {
            padding: 22px 10px;
            ul {
                li {
                    .img_area {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}
