@import "../../base/base.scss";
@import "../../base/mixins.scss";

.community_banner_section {
    .cover_area {
        .cover_img {
            border-radius: rem(10);
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 240px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .user_area {
        text-align: center;
        position: relative;
        bottom: rem(60);
        margin-bottom: rem(-60);
        .upload_icon_cover {
            width: auto;
            width: rem(120);
            height: rem(120);
            margin: auto;
            position: relative;
            .user-img {
                width: rem(120);
                height: rem(120);
                position: relative;
                border-radius: 50%;
                overflow: hidden;

                img {
                    //max-width: 100%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .user_detail {
            padding-top: 20px;
            position: relative;
            .content_head {
                h4 {
                    font-size: 24px;
                    font-weight: 700;
                }
                i {
                    margin-left: rem(24);
                    position: relative;
                    top: rem(4);
                    font-weight: 600;
                    color: $dull-text;
                    font-size: rem(20);
                }
            }
            p {
                font-size: 14px;
                padding: rem(10) 30%;

                color: $dull-text;
                font-weight: 400;
                position: relative;
            }
            button {
                margin-top: rem(6);
                width: rem(140);
                padding: rem(12) rem(36);
                &.pink_bg{
                    color: $white;
                }
            }
        }
    }

    .nav-pills {
        margin-top: rem(35);
        border-top: rem(1) solid $border-dark;
        border-bottom: rem(1) solid $border-dark;
        justify-content: center;

        .nav-item {
            &:last-of-type {
                margin-right: 0;
            }
            flex: 25%;
            max-width: rem(160);

            .nav-link {
                background-color: transparent;
                text-align: center;
                padding: rem(20) rem(30);
                font-weight: 600;
                color: inherit;
            }
            .active {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-bottom: rem(4) solid $pink;
                    @include transition(0.3s ease);
                }
            }
        }
    }
    .community_area {
        .sub_section {
            .content_head {
                h3 {
                    font-size: rem(18);
                }
                .friends_list {
                    padding-top: rem(30);
                    .friend_box {
                    }
                }
            }
        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .community_banner_section {
        .user_area {
            bottom: rem(50);
            margin-bottom: rem(-55);
            .upload_icon_cover {
                width: rem(100);
                height: rem(100);

                .user-img {
                    width: rem(100);
                    height: rem(100);
                }
            }

            .user_detail {
                padding-top: 20px;

                .content_head {
                    h4 {
                        font-size: 24px;
                    }
                    i {
                        margin-left: rem(24);

                        top: rem(4);

                        font-size: rem(20);
                    }
                }
                p {
                    font-size: 14px;
                    padding: rem(10) 20%;
                }
                button {
                    margin-top: rem(6);
                    width: unset;
                    padding: rem(12) rem(36);
                }
            }
        }
        .nav-pills {
            margin-top: rem(35);
            .nav-item {
                max-width: rem(160);
                .nav-link {
                    padding: rem(16) rem(30);
                    font-weight: 600;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .community_banner_section {
        .cover_area {
            .cover_img {
                height: 126px;
                img {
                    height: 100%;
                }
                .icon {
                    bottom: 7px;
                    right: 12px;
                }
            }
        }
        .user_area {
            bottom: rem(50);
            margin-bottom: rem(-60);
            .upload_icon_cover {
                width: rem(100);
                height: rem(100);

                .user-img {
                    width: rem(100);
                    height: rem(100);
                }
            }
            .user_detail {
                padding-top: 18px;
                .content_head {
                    h4 {
                        font-size: 22px;
                    }
                    i {
                        margin-left: rem(22);
                        top: rem(4);
                        font-size: rem(18);
                    }
                }
                p {
                    font-size: 13px;
                    padding: rem(8) 18%;
                }
                button {
                    margin-top: rem(5);
                    width: unset;
                    padding: rem(12) rem(36);
                }
            }
        }
        .nav-pills {
            margin-top: rem(35);
            .nav-item {
                max-width: rem(160);
                .nav-link {
                    padding: rem(15) rem(30);
                    font-weight: 600;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .community_banner_section {
        .cover_area {
            .cover_img {
                height: 126px;
                img {
                    height: 100%;
                }
                .icon {
                    bottom: 7px;
                    right: 12px;
                }
            }
        }
        .user_area {
            bottom: rem(50);
            margin-bottom: rem(-65);
            .upload_icon_cover {
                width: rem(100);
                height: rem(100);

                .user-img {
                    width: rem(100);
                    height: rem(100);
                }
            }
            .user_detail {
                padding-top: 16px;
                .content_head {
                    h4 {
                        font-size: 20px;
                    }
                    i {
                        margin-left: rem(20);
                        top: rem(4);
                        font-size: rem(16);
                    }
                }
                p {
                    font-size: 12px;
                    padding: rem(8) 18%;
                }
                button {
                    margin-top: rem(5);
                    width: unset;
                    padding: rem(10) rem(32);
                }
            }
        }
        .nav-pills {
            margin-top: rem(35);
            .nav-item {
                max-width: rem(160);
                .nav-link {
                    padding: rem(14) rem(30);
                    font-weight: 600;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .community_banner_section {
        .cover_area {
            .cover_img {
                height: 126px;
                img {
                    height: 100%;
                }
                .icon {
                    bottom: 7px;
                    right: 12px;
                }
            }
        }
        .user_area {
            bottom: rem(45);
            margin-bottom: rem(-60);
            .upload_icon_cover {
                width: rem(90);
                height: rem(90);

                .user-img {
                    width: rem(90);
                    height: rem(90);
                }
            }
            .user_detail {
                padding-top: 14px;
                .content_head {
                    h4 {
                        font-size: 20px;
                    }
                    i {
                        margin-left: rem(20);
                        top: rem(4);
                        font-size: rem(16);
                    }
                }
                p {
                    font-size: 12px;
                    padding: rem(8) 15%;
                }
                button {
                    margin-top: rem(5);
                    width: unset;
                    padding: rem(10) rem(32);
                }
            }
        }
        .nav-pills {
            margin-top: rem(35);
            .nav-item {
                max-width: rem(160);
                .nav-link {
                    padding: rem(13) rem(30);
                    font-weight: 600;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .community_banner_section {
        .cover_area {
            .cover_img {
                height: 126px;
                img {
                    height: 100%;
                }
                .icon {
                    bottom: 7px;
                    right: 12px;
                }
            }
        }
        .user_area {
            bottom: rem(45);
            margin-bottom: rem(-65);
            .upload_icon_cover {
                width: rem(90);
                height: rem(90);

                .user-img {
                    width: rem(90);
                    height: rem(90);
                }
            }
            .user_detail {
                padding-top: 12px;
                .content_head {
                    h4 {
                        font-size: 20px;
                    }
                    i {
                        margin-left: rem(18);
                        top: rem(4);
                        font-size: rem(15);
                    }
                }
                p {
                    font-size: 11px;
                    padding: rem(8) 12%;
                }
                button {
                    margin-top: rem(5);
                    width: rem(90);
                    padding: rem(9) rem(30);
                }
            }
        }
        .nav-pills {
            margin-top: rem(35);
            .nav-item {
                max-width: rem(160);
                .nav-link {
                    padding: rem(12) rem(30);
                    font-weight: 600;
                }
            }
        }
    }
}
