@import "../../base/base.scss";
@import "../../base/mixins.scss";

.create_community_section {
    .community_area {
        .sub_section {
            .community_form {
                background-color: $white;
                border-radius: rem(10);
                box-shadow: $box-shadow;
                padding: rem(25) rem(33);
                @include clearfix();

                .form_area_3 {
                    input[type="file"] {
                        display: none;
                    }
                    .form_controls {
                        margin-left: rem(55);
                        .icon {
                            position: absolute;
                            bottom: 17px;
                            right: -5px;
                            cursor: pointer;
                            &.profile{
                                bottom: -10px;
                                i{
                                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                                }
                                .left{
                                    i{
                                        box-shadow: none;
                                    }
                                }
                            }
                            .btn-primary{
                                background-color: transparent;
                                &:focus{
                                    box-shadow: none;
                                }
                            }
                            .dropdown-toggle::after{
                                display: none;
                            }
                            i {
                                &.del {
                                    line-height: 1;
                                    padding: 26%;
                                }
                                background-color: $white;
                                color: $black;
                                border-radius: 50%;
                                width: 35px;
                                height: 35px;
                                text-align: center;
                                line-height: 35px;
                                display: block;
                                text-align: center;
                            }
                            .left{
                                width: 30px;
                                float: left;
                                i{
                                    width: 30px;
                                    height: 30px;
                                    font-size: 13px;
                                    line-height: 30px;
                                }
                            }
                            .right{
                                width: calc(100% - 30px);
                                float: left;
                                padding-left: 5px;
                                padding-top: 5px;
                            }
                            .dropdown-menu{
                                padding: 0px 0;
                                border: none;
                                border-radius: 10px;
                                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                                overflow: hidden;
                                .dropdown-item{
                                    @include clearfix();
                                    padding-left: 10px;
                                    &:hover{
                                        background-color: rgba($color: $lavender, $alpha: 0.5);
                                    }
                                }
                            }
                        }
                        .label_head {
                            position: relative;
                            .imgwrap {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                left: -8%;
                                width: rem(18);
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                            .label_top {
                                position: static;
                            }
                        }
                        .profile_photo {
                            position: relative;
                            margin: rem(6) 0 rem(12) 0;
                           
                            width: rem(120);
                                height: rem(120);
                           
                            img {
                                max-width: 100%;
                                width: rem(120);
                                height: rem(120);
                                border-radius: 50%;
                                object-fit: cover;
                                overflow: hidden;
                            }
                        }
                        .upload_icon {
                            background-color: $transparent-clr;
                            width: rem(38);
                            height: rem(38);
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            &.cross {
                                background-color: #ffffffd1;
                                cursor: pointer;
                                i {
                                    font-size: 20px;
                                    top: rem(0);
                                    left: rem(0);
                                }
                            }
                        }
                        .cover_photo {
                            margin: rem(6) 0 rem(12) 0;
                            width: 100%;
                            height: rem(140);
                            background-color: $light-lav;
                            border-radius: rem(10);
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                       
                       
                        input {
                            margin: rem(7) 0 rem(12) 0;
                            width: 100%;
                            background-color: transparent;
                            border: rem(2) solid $lavender;
                            padding: rem(10) rem(30);
                            font-size: rem(14);
                        }
                    }

                    .action_area {
                        justify-content: end;
                        float: right;
                        &.left {
                            float: left;
                            button {
                                box-shadow: none;
                            }
                        }
                        button {
                            width: rem(140);
                            padding: rem(12) rem(36);
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .create_community_section{
        .community_area{
            .sub_section{
                .community_form{
                     .form_area_3{
                          .form_controls{
                              .icon{
                                   .dropdown-menu{
                                       left: -110px;
                                   }
                              }
                            }
                        }
                    }
                }
            }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .create_community_section {
        .community_area {
            .sub_section {
                .community_form {
                    border-radius: rem(10);
                    padding: rem(22) rem(20);
                    .form_area_3 {
                        .form_controls {
                            margin-left: rem(36);
                            .icon{
                                .dropdown-menu{
                                    left: -110px;
                                }
                           }
                            .profile_photo {
                                margin: auto;
                            }
                        }
                        .action_area {
                            button {
                                width: rem(120);
                                // padding: rem(120) rem(36);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .create_community_section {
        .community_area {
            .sub_section {
                .community_form {
                    border-radius: rem(10);
                    padding: rem(20) rem(17);
                    .form_area_3 {
                        .form_controls {
                            margin-left: rem(32);
                            .icon{
                                .dropdown-menu{
                                    left: -110px;
                                }
                           }
                            .profile_photo {
                                margin: auto;
                            }
                            .label_top {
                                font-size: rem(14);
                            }
                        }
                        .action_area {
                            button {
                                width: rem(100);
                                padding: rem(10) rem(32);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .create_community_section {
        .community_area {
            .sub_section {
                .community_form {
                    border-radius: rem(10);
                    padding: rem(20) rem(12);
                    .form_area_3 {
                        .form_controls {
                            margin-left: rem(32);
                            .icon{
                                .dropdown-menu{
                                    left: -110px;
                                }
                           }
                            .profile_photo {
                                margin: auto;
                            }
                            .label_head {
                                .imgwrap {
                                    left: -10%;
                                }
                                .label_top {
                                    font-size: rem(13);
                                }
                            }
                        }
                        .action_area {
                            button {
                                width: rem(100);
                                padding: rem(10) rem(32);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .create_community_section {
        .community_area {
            .sub_section {
                .community_form {
                    border-radius: rem(10);
                    padding: rem(20) rem(12);
                    .form_area_3 {
                        .form_controls {
                            margin-left: rem(32);
                            .profile_photo {
                                margin: auto;
                            }
                            .label_head {
                                .imgwrap {
                                    left: -12%;
                                }
                                .label_top {
                                    font-size: rem(13);
                                }
                            }
                        }
                        .action_area {
                            button {
                                width: rem(90);
                                padding: rem(10) rem(32);
                            }
                        }
                    }
                }
            }
        }
    }
}
